.btn-info{color:white !important;}
.modal-content{width:600px ;min-height:200px ;max-height: 600px ;height: auto ;}
.custom-file {height: 26px !important;}
.custom-file-label::after {line-height: 15px !important;}