<style>

</style>
<app-menu></app-menu>
<div style="width:100%;height:100%;" id="div-wraper" >
	<div class="content" style="padding:10px;" >
		<div class="card card-info" style="box-shadow: none !important;">
			<div class="" style="height:40px;border-radius: 4px;border:1px solid #17a2b8 !important;background-color: #e1f6f9;">
				<app-case-header *ngIf="programName"></app-case-header>
			</div>
		</div>
		<div class="card " style="box-shadow: none !important;padding:5px;">
			<table width="100%"  border="0" class="form_table" cellspacing="2" cellpadding="0" >
        <tr>
					<td width="128" align="right">ปลายทาง :&nbsp;</td>
					<td width="368" align="left">
						<div style="float: left;">
							<input   type="text" [(ngModel)]="result.dep_id" (change)="tabChangeInput('dep_id',$event)"  class="form-control" style="width:60px;height:28px;"/>
						</div>
						<div style="float: left;margin-left:2px;">
							<input   type="text"  [(ngModel)]="result.dep_name"   class="form-control" style="width:220px;height:28px;"/>
						</div>
						<div style="float: left;margin-left:2px;margin-top:2px;" >
							<i class='far fa-list-alt' style="font-size: 20px;cursor:pointer;float:left;margin-left:2px;" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="clickOpenMyModalComponent(1)"></i>
						</div>
						<input type="hidden" [(ngModel)]="result.run_id">
					</td>
          <td align="right">วันที่ส่ง :&nbsp;</td>
          <td align="left" colspan="3" width="1000" >
            <div style="float: left;margin-left:2px;">
				<input   type="text" [(ngModel)]="result.sdate" class="form-control" style="width:100px;" readonly/>
            </div>
            <div style="float: left;margin-left:2px; padding-top: 4px;">
             &nbsp; เวลาที่ส่ง : &nbsp;
            </div>
            <div style="float: left;margin-left:2px;">
				<input   type="text" [(ngModel)]="result.stime" class="form-control" style="width:100px;" readonly/>
			</div>
          </td>

				</tr>
				<!--
        <tr>
					<td width="128" align="right">ส่งให้ :&nbsp;</td>
					<td width="368" align="left">
						<div style="float: left;">
							<input   type="text" [(ngModel)]="result.off_id" (change)="tabChangeInput('off_id',$event)"  class="form-control" style="width:60px;height:28px;"/>
						</div>
						<div style="float: left;margin-left:2px;">
							<input   type="text"  [(ngModel)]="result.off_name"   class="form-control" style="width:220px;height:28px;"/>
						</div>
						<div style="float: left;margin-left:2px;margin-top:2px;" >
							<i class='far fa-list-alt' style="font-size: 20px;cursor:pointer;float:left;margin-left:2px;" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="clickOpenMyModalComponent(2)"></i>
						</div>
					</td>
          <td >&nbsp;</td>
					<td >&nbsp;</td>
          <td >&nbsp;</td>
          <td >&nbsp;</td>
				</tr>-->
        <tr>
					<td width="128" align="right">คดีของศาล :&nbsp;</td>
					<td width="368" align="left">
						<div style="float: left;">
							<input   type="text" [(ngModel)]="result.court_id" (change)="tabChangeInput('court_id',$event)"  class="form-control" style="width:60px;height:28px;"/>
						</div>
						<div style="float: left;margin-left:2px;">
							<input   type="text"  [(ngModel)]="result.court_name"   class="form-control" style="width:220px;height:28px;"/>
						</div>
						<div style="float: left;margin-left:2px;margin-top:2px;" >
							<i class='far fa-list-alt' style="font-size: 20px;cursor:pointer;float:left;margin-left:2px;" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="clickOpenMyModalComponent(3)"></i>
						</div>
					</td>
					<td >&nbsp;</td>
          <td >&nbsp;</td>
          <td >&nbsp;</td>
          <td >&nbsp;</td>
				</tr>
				<tr>
					<td  align="right">ความ :&nbsp;</td>
					<td  align="left">
						<ng-select  [(ngModel)]="result.case_type" class="CaseType" style="width:120px;" [clearable]="false" (change)="changeCaseType($event)"  #sCaseType>
							<ng-option *ngFor="let getData of getCaseType" [value]=getData.fieldIdValue >{{getData.fieldNameValue}}</ng-option>
						</ng-select>
					</td>
					<td >&nbsp;</td>
          <td >&nbsp;</td>
          <td >&nbsp;</td>
          <td >&nbsp;</td>
				</tr>
				<tr>
					<td  align="right">คดีหมายเลขดำที่ :&nbsp;</td>
					<td  align="left" >
						<div style="float:left;">
							<ng-select  [(ngModel)]="result.title" class="Title" style="width:100px;" [clearable]="false"  #sTitle>
								<ng-option *ngFor="let getData of getTitle" [value]=getData.fieldIdValue >{{getData.fieldNameValue}}</ng-option>
							</ng-select>
						</div>
						<div style="float:left;margin-left:3px;"><input   type="text" [(ngModel)]="result.id"  class="form-control" style="width:60px;"></div>
						<div style="float:left;margin-left:3px;"><input   type="text"  [(ngModel)]="result.yy" class="form-control" style="width:100px;"></div>
            <button type="button" class="btn btn-primary" style="margin-left:5px;"  (click)="searchCaseNo(1)">ค้นหา</button>
          </td>
          <td  align="right" style="color: red;" width="150px" >คดีหมายเลขแดงที่ :&nbsp;</td>
					<td  align="left">
						<div style="float:left;">
							<ng-select  [(ngModel)]="result.red_title" class="RedTitle" [clearable]="false" style="width:100px;"   #sRedTitle>
								<ng-option *ngFor="let getData of getRedTitle" [value]=getData.fieldIdValue >{{getData.fieldNameValue}}</ng-option>
							</ng-select>
						</div>
						<div style="float:left;margin-left:3px;"><input   type="text"  [(ngModel)]="result.red_id" class="form-control" style="width:60px;"></div>
						<div style="float:left;margin-left:3px;"><input   type="text"  [(ngModel)]="result.red_yy" class="form-control" style="width:100px;"></div>
            <button type="button" class="btn btn-primary" style="margin-left:5px;"  (click)="searchCaseNo(2)">ค้นหา</button>
          </td>
					<td >&nbsp;</td>
          			<td >&nbsp;</td>
					<td >&nbsp;</td>


				</tr>
				<tr>
					<td  align="right" >เลขที่อ้างอิง :&nbsp;</td>
					<td  align="left" colspan="5">
						<div style="float:left;"><input   type="text"  [(ngModel)]="result.req_no" class="form-control" style="width:60px;"></div>
						<div style="float:left;margin-left:3px;"><input   type="text" [(ngModel)]="result.req_yy"  class="form-control" style="width:100px;"></div>
            			<div style="float:left;margin-left:3px;"><button type="button" class="btn btn-primary" style="margin-left:5px;"  (click)="searchReq()">ค้นหา</button></div>
            			<div style="float:left;margin-left:3px;margin-top:4px;"><label style="color: red;font-weight: normal;line-height: 5px;">&nbsp;**เมื่อกดปุ่มค้นหาระบบจะทำการบันทึกข้อมูลให้อัตโนมัติ</label></div>
          			</td>
				</tr>
			</table>
      <div class="card-footer" style="text-align: center; margin-top: 5px;">
				<button type="button" class="btn btn-success" style="margin-left:5px;" (click)="saveData()">จัดเก็บ</button>
				<button type="button" class="btn btn-primary" style="margin-left:5px;"  (click)="setDefaultPage(1)">ล้างหน้าจอ</button>
				<button type="button" class="btn btn-danger" style="margin-left:5px;"  (click)="cancelData('cancelData')">ยกเลิกการส่งคำร้อง/คำขอ/คำแถลง</button>
				<button type="reset" class="btn btn-success" style="margin-left:5px;color:white;" (click)="goToPage('1')">พิมพ์</button>
			</div>
		</div>
		<div class="card " style="box-shadow: none !important;padding:5px;">
			<table width="100%"  border="0" cellspacing="2" cellpadding="0" class="form_table">
					<tr>
					<td width="40%" align="left">
						<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-sm row-border hover" style="width:100%;">
							<thead *ngIf="buttonSearch==0">
								<tr>
									<th width="6%" class="no-sort" >ยกเลิก</th>
									<th width="8%" >เลขที่</th>
									<th width="10%" >หมายเลขคดีดำ</th>
									<th width="10%" >หมายเลขคดีแดง</th>
									<th width="8%" >ประเภทคำร้อง</th>
									<th width="8%" >เลขที่อ้างอิง</th>

									<th width="15%" >เรื่อง</th>
									<th width="8%" >วันที่ส่งคำร้อง/คำขอ/คำแถลง</th>
									<th width="8%" >ปลายทาง</th>
									</tr>
							</thead>
							<thead *ngIf="buttonSearch==1">
								<tr>
									<th width="5%" class="no-sort" >เลือก</th>
									<th width="15%" >หมายเลขคดีดำ</th>
									<th width="15%" >หมายเลขคดีแดง</th>
									<th width="15%" >ประเภทคำร้อง</th>
									<th width="15%" >เลขที่อ้างอิง</th>
									<th width="35%" >เรื่อง</th>
								</tr>
							</thead>

							<tbody *ngIf="dataSearch?.length != 0 && buttonSearch==0">
								<tr *ngFor="let post of dataSearch;let i = index;" >
									<td align="center"><input type="checkbox" [(ngModel)]="this.dataSearch[i].reqRunning" style="height:15px;width:15px;margin-top:2px;cursor:pointer;" (change)="isAllSelected(this.dataSearch,'masterSelect','reqRunning')"></td>
									<td align="center">{{post.send_running}}</td>
									<td align="center">{{post.case_no}}</td>
									<td align="center">{{post.red_no}}</td>
									<td align="center">{{post.req_desc}}</td>
									<td align="center">{{post.request_no}}</td>
									<td align="center">{{post.subject_name}}</td>
									<td align="center">{{post.event_date}}</td>
									<td align="center">{{post.dep_name}}</td>
								</tr>
							</tbody>
							<tbody *ngIf="dataSearch?.length != 0 && buttonSearch==1">
								<tr *ngFor="let post of dataSearch;let i = index;">
									<td align="center"><input type="checkbox" [(ngModel)]="this.dataSearch[i].reqRunning" style="height:15px;width:15px;margin-top:2px;cursor:pointer;" (change)="isAllSelected(this.dataSearch,'masterSelect','reqRunning')"></td>
									<td align="center">{{post.case_no}}</td>
									<td align="center">{{post.red_no}}</td>
									<td align="center">{{post.req_desc}}</td>
									<td align="center">{{post.request_no}}</td>
									<td align="center">{{post.subject_name}}</td>
								</tr>
							</tbody>
							<tbody *ngIf="dataSearch?.length == 0">
								<tr >
									<td colspan="9" style="color:red;text-align: center;" class="no-data-available">###### ไม่พบข้อมูล #######</td>
									<td style="display:none;"></td>
									<td style="display:none;"></td>
									<td style="display:none;"></td>
									<td style="display:none;"></td>

									<td style="display:none;"></td>
									<td style="display:none;"></td>
									<td style="display:none;"></td>
                  					<td style="display:none;"></td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</table>

		</div>
	</div>

	<div class="modal fade" data-refresh="true"  role="dialog" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width:100%;height:100%;">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title text-danger" id="exampleModalLabel"></h5>
			  <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
			  <button type="button" class="btn btn-warning" style="display:none;" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="loadMyModalComponent();" #openbutton></button>
			</div>
			<div class="modal-body" >

					<input type="hidden" name="table_name" id="table_name">
					<input type="hidden" name="field_id" id="field_id">
					<input type="hidden" name="field_name" id="field_name">
					<div style="min-height: 100px;max-height: 480px;overflow: auto;">
					<app-datalist-return *ngIf="loadModalComponent" [items]=list [value1]=listTable [value2]=listFieldId [value3]=listFieldName [value4]=listFieldNull [value7]=listFieldCond (onClickList)="receiveFuncListData($event)" class="modal_app"></app-datalist-return>
					<app-modal-confirm *ngIf="loadModalConfComponent" class="modal_app"></app-modal-confirm>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button"  class="btn btn btn-primary" (click)="submitModalForm()" *ngIf="loadModalConfComponent">ตกลง</button>
				  <button type="button"  class="btn btn-warning" data-bs-dismiss="modal" (click)="closeModal()">ปิดหน้าจอ</button>
			</div>
		  </div>
		</div>
	</div>




<!--<script src="case-type.component.js"></script>-->
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
	<p style="color: gray">Please Wait. </p>
</ngx-spinner>

