<style>

</style>
<app-menu></app-menu>
<div style="width:100%;height:100%;" id="div-wraper" >
	<div class="content" style="padding:10px;" >
		<div class="card card-info" style="box-shadow: none !important;">
			<!-- <div class="" style="height:40px;border-radius: 4px;border:1px solid #17a2b8 !important;background-color: #e1f6f9;">
				<app-case-header *ngIf="programName"></app-case-header>
			</div> -->
      <div class="programName" style="float:left;margin-top:6px;"><i class="fa fa-folder-open-o" style="font-size:24px;margin-left:8px;"></i><span style="font-size: 16px;margin-left:5px;">{{programName}}</span></div>
		</div>


		<div class="card " style="box-shadow: none !important;padding:5px;">
			<table width="100%"  border="0" cellspacing="2" cellpadding="2" class="form_table">
				<tr>
					<td colspan="2" align="left" style="height:40px;">
						<div style="float:left;margin-left:8px;margin-top:5px;">ต้องการค้นหาข้อมูลตาม ....&nbsp;</div>
					</td>
				</tr>
 <!-- <div style="float: left;margin-left:10px;margin-top:4px;">ความ :&nbsp;</div> -->
        <!-- <tr>
					<td  align="right">ความ :&nbsp;</td>
					<td  align="left">
						<div style="float: left;">
              <ng-select [(ngModel)]="result.case_type" style="width:100px;"  [ngModelOptions]="{standalone: true}"  #sCaseType>
								<ng-option *ngFor="let getData of getCaseType" [value]=getData.fieldIdValue >{{getData.fieldNameValue}}</ng-option>
							</ng-select>
						</div>
					</td>
				</tr> -->
        <tr>
					<td  align="right" width="25%">วันที่แจ้งตั้งแต่ :&nbsp;</td>
					<td  align="left">
						<div style="float:left;"><input id="sdate"  type="text" [(ngModel)]="result.sdate" class="form-control jcalendar sdate" #sdate (click)="directiveDate(sdate.value,'sdate')" style="width:120px;" ></div>
           	<div style="float:left;margin-left:8px;margin-top:1px;"><i class="fa fa-calendar" style="font-size: 16px;" onClick="$('.sdate').focus();"></i></div>
						<div style="float:left;margin-left:8px;">&nbsp;ถึง&nbsp;</div>
						<div style="float:left;margin-left:5px;"><input  id="edate" type="text" [(ngModel)]="result.edate" class="form-control jcalendar edate"  #edate (click)="directiveDate(edate.value,'edate')" style="width:120px;" ></div>
           	<div style="float:left;margin-left:8px;margin-top:1px;"><i class="fa fa-calendar" style="font-size: 16px;" onClick="$('.edate').focus();"></i></div>
        </td>
				</tr>
        <tr>
					<td  align="right">วันที่บริษัทรับแจ้งตั้งแต่ :&nbsp;</td>
					<td  align="left">
						<div style="float:left;"><input id="comp_date1"  type="text" [(ngModel)]="result.comp_date1" class="form-control jcalendar comp_date1" #comp_date1 (click)="directiveDate(comp_date1.value,'comp_date1')" style="width:120px;" ></div>
           	<div style="float:left;margin-left:8px;margin-top:1px;"><i class="fa fa-calendar" style="font-size: 16px;" onClick="$('.comp_date1').focus();"></i></div>
						<div style="float:left;margin-left:8px;">&nbsp;ถึง&nbsp;</div>
						<div style="float:left;margin-left:5px;"><input  id="comp_date2" type="text" [(ngModel)]="result.comp_date2" class="form-control jcalendar comp_date2"  #comp_date2 (click)="directiveDate(comp_date2.value,'comp_date2')" style="width:120px;" ></div>
           	<div style="float:left;margin-left:8px;margin-top:1px;"><i class="fa fa-calendar" style="font-size: 16px;" onClick="$('.comp_date2').focus();"></i></div>
            <div style="float:left;margin-left:8px;margin-top:5px;color:red;">&nbsp;<b>* ใช้ในกรณีพิมพ์เพื่อส่งงาน MA</b>&nbsp;<span style="color: blue;">(ถ้าค้นตามวันที่บริษัทรับแจ้ง ระบบจะเรียง เลขที่รับแจ้ง,วัน-เวลาที่บริษัทรับแจ้ง ให้อัตโนมัติ)</span></div>
          </td>
				</tr>
        <tr>
					<td  align="right">วันที่แก้ไขตั้งแต่ :&nbsp;</td>
					<td  align="left">
						<div style="float:left;"><input id="sdate2"  type="text" [(ngModel)]="result.sdate2" class="form-control jcalendar sdate2" #sdate2 (click)="directiveDate(sdate2.value,'sdate2')" style="width:120px;" ></div>
           	<div style="float:left;margin-left:8px;margin-top:1px;"><i class="fa fa-calendar" style="font-size: 16px;" onClick="$('.sdate2').focus();"></i></div>
						<div style="float:left;margin-left:8px;">&nbsp;ถึง&nbsp;</div>
						<div style="float:left;margin-left:5px;"><input  id="edate2" type="text" [(ngModel)]="result.edate2" class="form-control jcalendar edate2"  #edate2 (click)="directiveDate(edate2.value,'edate2')" style="width:120px;" ></div>
           	<div style="float:left;margin-left:8px;margin-top:1px;"><i class="fa fa-calendar" style="font-size: 16px;" onClick="$('.edate2').focus();"></i></div>

          </td>
				</tr>
        <tr>
          <td align="right">หน่วยงานที่แจ้ง :&nbsp;</td>
          <td align="left">
            <div style="float:left;">
              <input type="text" [(ngModel)]="dep_id" (change)="tabChangeSelect('dep_id',getDep,$event,1)"
                class="form-control" style="width:80px;text-align:center;float:left;"
                onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46">
            </div>
            <div style="float:left;margin-left:2px;">
              <ng-select [(ngModel)]="result.dep_id" style="width:300px;" (change)="tabChangeSelect('dep_id',getDep,$event,2)" #sDep>
                <ng-option [value] = ""></ng-option>
                <ng-option *ngFor="let getData of getDep" [value]=getData.fieldIdValue>{{getData.fieldNameValue}}
                </ng-option>
              </ng-select>
            </div>
          </td>
         </tr>
         <tr>
          <td align="right">แจ้งถึงหน่วยงาน :&nbsp;</td>
          <td align="left">
            <div style="float:left;">
              <input type="text" [(ngModel)]="send_dep_id" (change)="tabChangeSelect('send_dep_id',getDep,$event,1)"
                class="form-control" style="width:80px;text-align:center;float:left;"
                onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46">
            </div>
            <div style="float:left;margin-left:2px;">
              <ng-select [(ngModel)]="result.send_dep_id" style="width:300px;" (change)="tabChangeSelect('send_dep_id',getDep,$event,2)" #ssendDep>
                <ng-option [value] = ""></ng-option>
                <ng-option *ngFor="let getData of getDep" [value]=getData.fieldIdValue>{{getData.fieldNameValue}}
                </ng-option>
              </ng-select>
            </div>
          </td>
         </tr>
         <tr>
          <td align="right">ประเภทของปัญหา :&nbsp;</td>
          <td align="left" colspan="6" >
            <div style="float:left;margin-left:0px;">
              <ng-select [(ngModel)]="result.problem_type" style="width:380px;" #sProblem>
                <ng-option *ngFor="let getData of getProblem" [value]=getData.id>{{getData.text}}
                </ng-option>
              </ng-select>
            </div>
           </td>
          </tr>
        <tr>
          <td align="right">ผู้รับผิดชอบปัญหา :&nbsp;</td>
          <td align="left">
            <div style="float:left;">
              <input type="text" [(ngModel)]="assign_user_id" (change)="tabChangeSelect('assign_user_id',getOff,$event,1)"
                class="form-control" style="width:80px;text-align:center;float:left;"
                onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46">
            </div>
            <div style="float:left;margin-left:2px;">
              <ng-select [(ngModel)]="result.assign_user_id" style="width:300px;"
                (change)="tabChangeSelect('assign_user_id',getOff,$event,2)" #sAssignUser>
                <ng-option *ngFor="let getData of getOff" [value]=getData.fieldIdValue>{{getData.fieldNameValue}}
                </ng-option>
              </ng-select>
            </div>
          </td>
        </tr>
        <tr>
          <td align="right">รายละเอียดปัญหา :&nbsp;</td>
          <td align="left" colspan="6">
            <div style="float: left;">
              <input name="req_desc" type="text" class="blackd" id="req_desc" [(ngModel)]="result.req_desc"
                value="" class="form-control" style="width:450px;" />
            </div>
           </td>
          </tr>
        <tr>
              <td  align="right">&nbsp;</td>
              <td  align="left">
                <div style="float: left;">
                  <input type="radio" name="con" [(ngModel)]="result.con" value="1" style="width:15px;height:15px;margin-top:5px;"/>
                </div>
                <div style="float: left;margin-left:5px;margin-top:4px;">ปัญหาทั้งหมด</div>
                <div style="float: left;margin-left:8px;">
                  <input type="radio" name="con" [(ngModel)]="result.con" value="2" style="width:15px;height:15px;margin-top:5px;"/>
                </div>
                <div style="float: left;margin-left:5px;margin-top:4px;">ยังไม่ได้แก้ไข</div>
                <div style="float: left;margin-left:8px;">
                  <input type="radio" name="con" [(ngModel)]="result.con" value="3" style="width:15px;height:15px;margin-top:5px;"/>
                </div>
                <div style="float: left;margin-left:5px;margin-top:4px;">ทดสอบแล้วผ่าน</div>
                <div style="float: left;margin-left:8px;">
                  <input type="radio" name="con" [(ngModel)]="result.con" value="4" style="width:15px;height:15px;margin-top:5px;"/>
                </div>
                <div style="float: left;margin-left:5px;margin-top:4px;">ทดสอบแล้วไม่ผ่าน</div>
               </td>
            </tr>


			</table>
      <div class="card-footer" >
				<button type="button" class="btn btn-primary" style="margin-left:25%;"  (click)="searchData()">ค้นหา</button>
				<button type="reset" class="btn btn-warning" style="margin-left:5px;color:white;" onclick="location.reload()">ล้างหน้าจอ</button>
				<button type="button" class="btn btn-primary" style="margin-left:5px;" (click)="printReport(1,1,0,0)"  >พิมพ์</button>
				<button type="button" class="btn btn-primary" style="margin-left:5px;" (click)="printReport(1,2,0,0)" >พิมพ์ (ADMIN)</button>
		    <button type="button" class="btn btn-success" style="margin-left:5px;" (click)="exportAsXLSX()" >ส่งออกเป็น Excel</button>
        <!-- <button type="button" class="btn btn-success" style="margin-left:5px;" (click)="exportAsXLSX()" >ส่งออกเป็น Xml</button> -->
			</div>
		</div>

<div class="card " style="box-shadow: none !important;padding:5px;width:130%;">
  <table width="100%"  border="0" cellspacing="2" cellpadding="0" class="form_table">
    <!-- <tr>
      <td width="40%" align="left" style="height:40px;">
        <div style="float:left;margin-left:8px;margin-top:5px;">รวม &nbsp;</div>
        <div style="float: left;">
          <input  type="text" id="" [(ngModel)]="numCase"    class="form-control" style="text-align:center;width:60px;border:1px solid red;color:red;height:25px;"/>
        </div>
        <div style="float: left;margin-left:5px;margin-top:5px;">คดี </div>
        <div style="float: left;margin-left:4px;">
          <input  type="text" id=""  [(ngModel)]="numLit"   class="form-control" style="text-align:center;width:60px;border:1px solid blue;color:blue;height:25px;"/>
        </div>
        <div style="float: left;margin-left:5px;margin-top:5px;">คน </div>
      </td>
    </tr> -->
    <tr>
      <td width="40%" align="left">
        <table datatable  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-sm row-border hover" style="width:100%;">
          <thead>
            <tr>

                  <th width="2%" >พิมพ์</th>
									<th width="4%" >เลขที่/<br>ครั้งที่</th>
									<th width="4%" >เลขที่<br>รับแจ้ง</th>
									<th width="3%" >ยกเลิก</th>
									<th width="5%" >หน่วยงาน<br>ที่แจ้ง</th>
                  <th width="5%" >แจ้งถึง<br>หน่วยงาน</th>
									<th width="5%" >วัน/เวลาที่แจ้ง</th>
                  <th width="5%" >ประเภทของปัญหา</th>
									<th width="10%" >รายละเอียดปัญหา</th>
                  <th width="5%" >ไฟล์แนบ</th>
									<th width="5%" >ผู้แจ้ง</th>
                  <th width="5%" >ผู้รับผิดชอบ</th>
									<th width="5%" >วัน/เวลา<br>ที่สั่งแก้</th>
                  <th width="5%" >เพิ่มเติม</th>
									<th width="5%" >วัน/เวลา<br>ที่บริษัทรับแจ้ง</th>
                  <th width="5%" >วัน/เวลา<br>ที่แก้เสร็จ<span style="color: red;">*</span></th>
                  <th width="10%" >รายละเอียดการแก้ไข</th>
									<th width="3%" >ผลการทดสอบ</th>
            </tr>
          </thead>
          <tbody *ngIf="dataSearch?.length != 0">
            <tr *ngFor="let post of dataSearch;let i = index;">

              <td align="center"><span *ngIf="post.req_no"><a href="javascript:void(0)" (click)="printReport2(1,post.req_no,post.req_no_item)"><img src="assets/images/printer.png" width="15px" height="15px"></a></span></td>
              <td align="center"><a href="javascript:void(0)" (click)="goToPage(post.req_no,post.req_no_item)">{{post.req_no}}/{{post.req_no_item}}</a></td>
              <td align="center">{{post.response_no}}</td>
              <td align="center"><span *ngIf="post.cancel_flag > 0"><a href=""><i class='fas fa-check' style='font-size:16px;color: #0099cc;'></i></a></span></td>
              <td align="center">{{post.req_dep_name}}</td>
              <td align="center">{{post.send_dep_name}}</td>
              <td align="center">{{post.req_date}} {{post.req_time}}</td>
              <td align="center">{{post.prob_type_desc}}</td>
              <td align="center">{{post.req_desc}}</td>
              <td align="center"><span *ngIf="post.file_attach"><a href="javascript:void(0)" (click)="goToFile(post.file_attach)" ><img src="assets/images/attach.gif" width="25px" height="25px"></a> </span></td>
              <td align="center">{{post.req_user}}</td>
              <td align="center">{{post.assign_user}}</td>
              <td align="center">{{post.assign_date}} {{post.assign_time}}</td>
              <td align="center">{{post.remark}}</td>
              <td align="center"><span [innerHTML]="post.court_send_date_time"></span></td>
              <td align="center"><span [innerHTML]="post.response_date_time"></span></td>
              <td align="center">{{post.response_desc}}</td>
              <td align="center">{{post.result}}</td>
              <!-- <td align="center"><span *ngIf="post.file_attach"><a href=""><i class='fas fa-file-alt' style='font-size:16px;color: #0099cc;'></i></a></span></td> -->
              <!-- <td style="padding-left:8px;">{{post.name}}</td> -->
            </tr>
          </tbody>
          <tbody *ngIf="dataSearch?.length == 0">
            <tr>
              <td colspan="18" style="color:red;text-align: center;" class="no-data-available">###### ไม่พบข้อมูล #######</td>
              <td style="display:none;"></td>
              <td style="display:none;"></td>
              <td style="display:none;"></td>
              <td style="display:none;"></td>

              <td style="display:none;"></td>
              <td style="display:none;"></td>
              <td style="display:none;"></td>
              <td style="display:none;"></td>
              <td style="display:none;"></td>

              <td style="display:none;"></td>
              <td style="display:none;"></td>
              <td style="display:none;"></td>
              <td style="display:none;"></td>
              <td style="display:none;"></td>

              <td style="display:none;"></td>
              <td style="display:none;"></td>
              <td style="display:none;"></td>
              <!-- <td style="display:none;"></td>
              <td style="display:none;"></td> -->


            </tr>
          </tbody>
        </table>

      </td>
    </tr>
  </table>
  </div>
</div>

<!-- Modal -->

<div class="modal fade" data-refresh="true"  role="dialog" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width:100%;height:100%;">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title text-danger" id="exampleModalLabel"></h5>
		  <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
		  <button type="button" class="btn btn-warning" style="display:none;" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="loadMyModalComponent();" #openbutton></button>
		</div>
		<div class="modal-body" >

				<input type="hidden" name="table_name" id="table_name">
				<input type="hidden" name="field_id" id="field_id">
				<input type="hidden" name="field_name" id="field_name">
				<div style="min-height: 100px;max-height: 480px;overflow: auto;">
				<!-- <app-datalist-return *ngIf="loadComponent" [items]=list [value1]=listTable [value2]=listFieldId [value3]=listFieldName  (onClickList)="receiveFuncListData($event)" class="modal_app"></app-datalist-return> -->
				<app-modal-confirm *ngIf="loadModalComponent" class="modal_app"></app-modal-confirm>
        <app-modal-judge *ngIf="loadModalJudgeComponent" [items]=list [value1]=listTable [value2]=listFieldId [value3]=listFieldName [value4]=listFieldNull [value5]=listFieldType (onClickList)="receiveJudgeListData($event)" class="modal_app"></app-modal-judge>
			</div>

		</div>
		<div class="modal-footer">
			<!-- <button type="button"  class="btn btn btn-primary" (click)="submitModalForm()" *ngIf="loadModalComponent">ตกลง</button> -->
     	<button type="button"  class="btn btn-warning" data-bs-dismiss="modal" (click)="closeModal()">ปิดหน้าจอ</button>
		</div>
	  </div>
	</div>
  </div>
</div>


<!--<script src="case-type.component.js"></script>-->
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
	<p style="color: gray">Please Wait. </p>
</ngx-spinner>

