<table width="100%" border="0" align="center" cellpadding="2" cellspacing="0">
    <tr >
      <td style="padding:4px 0 0 0px;">
          <div class="custom-file" style="float:left;width:350px;margin-left: 40px;">
            <input type="file" class="custom-file-input" id="result.uploadFile" (change)="onFileChange($event,'uploadFile')" style="width:350px;height:24px;">
            <label class="custom-file-label" #labelImport for="importFile" style="height:24px;text-align: left;"></label>
          </div>
          <div style="float:left;margin-left: 4px;">
            <button type="button" class="btn btn-success" (click)="onClickListData()" >แนบไฟล์</button> 
          </div>
       </td>
    </tr>
</table>

