<style>

</style>
<app-menu></app-menu>
<div style="width:100%;height:100%;" id="div-wraper" >
	<div class="content" style="padding:10px;" >
		<div class="card card-info" style="box-shadow: none !important;">
			<!-- <div class="" style="height:40px;border-radius: 4px;border:1px solid #17a2b8 !important;background-color: #e1f6f9;">
				<app-case-header *ngIf="programName" ></app-case-header>
			</div> -->
      <div class="" style="height:40px;border-radius: 4px;border:1px solid #17a2b8 !important;background-color: #e1f6f9;">
        <div style="float:left;margin-top:6px;"><i class="fa fa-folder-open-o" style="font-size:24px;margin-left:8px;"></i><span style="font-size: 16px;margin-left:5px;">{{programName}}</span></div>
       </div>
		</div>
    	<!-- form start -->
				<form class="form-horizontal" id="myForm"  #prap4600>
				<div class="card-body">


		<div class="card"  align="center" style="box-shadow: none !important;padding:5px;">
			<table width="100%"  border="0"  cellspacing="2" cellpadding="2" class="form_table">
        <div align="center" style="width:60%; margin:0 auto">
        <!-- <tr>
					<td  align="right">ความ :&nbsp;</td>
					<td >
            <div style="float:left; padding:0 auto;" >
              <ng-select [(ngModel)]="selectedCasetype" (change)="changeCaseType($event)" style="width:100px;" [ngModelOptions]="{standalone: true}"  #sCaseTypeId>
                <ng-option *ngFor="let getData of getCaseType" [value]=getData.fieldIdValue>{{getData.fieldNameValue}}</ng-option>
              </ng-select>
            </div>

          </td>
				</tr> -->
				<tr>
					<td align="right" >ประเภทคดี :&nbsp;</td>
					<!-- <td ><input type="text"  name="pcase_cate_id" id="pcase_cate_id" class="form-control" style="width:450px;" ></td>-->
			
				<td align="left" >
					<div style="float: left;margin-left:3px;">
					  <ng-select  [(ngModel)]="pcase_cate_id" style="width:350px;"   #sTableId>
						<ng-option *ngFor="let getData of getCaseCateId" [value]=getData.fieldIdValue >{{getData.fieldNameValue}}</ng-option>
					  </ng-select>
					</div>
				</td>
			    </tr>
				<tr>
					<td    align="right" >ชั้นพิจารณา :&nbsp;</td>
					<!-- <td ><input type="text"  name="pcase_status_id" id="pcase_status_id" class="form-control" style="width:450px;" ></td>-->
				
				<td  align="left" >
					<div style="float: left;margin-left:3px;">
					  <ng-select  [(ngModel)]="pcase_status_id" style="width:150px;"   #sTableId>
						<ng-option *ngFor="let getData of getCaseStatusId" [value]=getData.fieldIdValue >{{getData.fieldNameValue}}</ng-option>
					  </ng-select>
					</div>
				</td>
				</tr>
				<tr>
					<td align="right">จำนวนทุนทรัพย์ :&nbsp;</td>
					<td><div style="float: left;margin-left:3px;">
						<input  name="pdeposit_start" type="text"  id="pdeposit_start"  [(ngModel)]="pdeposit_start" value=""  class="form-control" style="width:180px;height:28px;" >
					   </div>
					   <div style="float:left;margin-left:3px;margin-top:5px;"> ถึง &nbsp;</div>
					   <div style="float: left;margin-left:2px;"><input  name="pdeposit_end" type="text"  id="pdeposit_end"  [(ngModel)]="pdeposit_end" value=""  class="form-control" style="width:180px;height:28px;" > </div>
					   <div style="float:left;margin-left:3px;margin-top:5px;"> บาท</div>
					</td>
				</tr>
				<tr>
					<!-- <td  align="right">(วันที่นัด) จากวันที่ :&nbsp;</td> -->
					<td align="right">วันที่ :&nbsp;</td>
					<td><div style="float: left;margin-left:3px;">
						<ng-select [(ngModel)]="ptype" style="width:150px;"  [ngModelOptions]="{standalone: true}"  #sType>
						<ng-option *ngFor="let getData of getDateType" [value]=getData.id >{{getData.text}}</ng-option>
						</ng-select>
					  </div>
					  <div style="float:left;margin-left:15px;"><input  name="txt_date_start" id="txt_date_start" type="text"  placeholder="่วว/ดด/ปปปป" value=""  class="form-control jcalendar date_start" style="width:120px;" ></div>
            		<div style="float:left;margin-left:3px;"><i class="fa fa-calendar" style="font-size: 16px;" onClick="$('.date_start').focus();"></i></div>
					<div style="float:left;margin-left:15px;">&nbsp;ถึง&nbsp;&nbsp;</div>
		        	<div style="float:left;"><input  name = "txt_date_end" id="txt_date_end" type="text" placeholder="วว/ดด/ปปปป" value=""  class="form-control jcalendar date_end" style="width:120px;" ></div>
            		<div style="float:left;margin-left:3px;"><i class="fa fa-calendar" style="font-size: 16px;" onClick="$('.date_end').focus();"></i></div>
					</td>
				</tr>

        </div>

<div>&nbsp;</div>
			</table> </div>
      <!-- /.card-body -->
				<div class="card-footer" align="center">
         <button type="button" class="btn btn-info" style="margin-left:5px;"  (click)="printReport()">พิมพ์รายงาน</button>
          <button type="reset" class="btn btn-warning" style="margin-left:5px;color:white;" (click)="ClearAll()">ล้างหน้าจอ</button>
				</div>
				<!-- /.card-footer -->
</div>
        </form>
