<style></style>
<!-- <app-menu></app-menu> -->
<div style="width:100%;height:100%;" id="div-wraper">
	<div class="content" style="padding:10px;">
		<!-- <div class="card card-info" style="box-shadow: none !important;">
      		<div class="" style="height:40px;border-radius: 4px;border:1px solid #17a2b8 !important;background-color: #e1f6f9;">
        		<div style="float:left;margin-top:6px;"><i class="fa fa-folder-open-o" style="font-size:24px;margin-left:8px;"></i><span style="font-size: 16px;margin-left:5px;">{{programName}}</span></div>
       		</div>
		</div> -->
		<!-- form start -->
		<div class="card-body">
			<div class="card" align="center" style="box-shadow: none !important;padding:5px;">
				<table width="100%" border="0" cellspacing="2" cellpadding="2" class="form_table">
					<!-- <div align="center" style="width:60%; margin:0 auto"> -->
					<tr>
						<td align="right" width="40%">ความ :&nbsp;</td>
						<td align="left">
							<div style="float: left;">
								<ng-select [(ngModel)]="result.case_type" style="width:100px;"
									(change)="changeCaseTypeStat($event,0);changeTitle($event,0)" #sCaseType>
									<ng-option *ngFor="let getData of getCaseType" [value]=getData.fieldIdValue>
										{{getData.fieldNameValue}}</ng-option>
								</ng-select>
								<input type="hidden" [(ngModel)]="hid_branch_type" name="hid_branch_type"
									id="hid_branch_type">
								<input type="hidden" [(ngModel)]="hid_case_type_stat" name="hid_case_type_stat"
									id="hid_case_type_stat">
								<input type="hidden" [(ngModel)]="hid_title" name="hid_title" id="hid_title">
							</div>
						</td>
					</tr>
					<tr>
						<td align="right">คำนำหน้าคดี :&nbsp;</td>
						<td align="left">
							<div style="float: left;">
								<ng-select [(ngModel)]="result.title" style="width:100px;" #sTitle>
									<ng-option *ngFor="let getData of getTitle" [value]=getData.fieldNameValue>
										{{getData.fieldNameValue}}</ng-option>
								</ng-select>
							</div>
							<div style="float:left;margin-left:8px;"> เลขที่ :&nbsp;</div>
							<div style="float:left;margin-left:3px;">
								<input name="s_id" type="text" id="s_id" [(ngModel)]="result.s_id" value=""
									class="form-control" style="width:80px;height:28px;">
							</div>
							<div style="float:left;margin-left:3px;"> - &nbsp;</div>
							<div style="float:left;margin-left:3px;">
								<input name="e_id" type="text" id="e_id" [(ngModel)]="result.e_id" value=""
									class="form-control" style="width:80px;height:28px;">
							</div>
							<div style="float:left;margin-left:3px;"> / &nbsp;</div>
							<div style="float:left;margin-left:3px;">
								<input name="yy" type="text" id="yy" [(ngModel)]="result.yy" value=""
									class="form-control" style="width:80px;height:28px;">
							</div>

						</td>
					</tr>
					<div>&nbsp;</div>
				</table>
			</div>
			<!-- /.card-body -->
			<div class="card-footer">
				<button type="button" class="btn btn-info" style="margin-left:35%;" (click)="submitForm(1)">สร้าง
					barcode (เครื่องพิมพ์ barcode)</button>
				<button type="button" class="btn btn-info" style="margin-left:5px;" (click)="submitForm(2)">สร้าง
					barcode (พิมพ์ 4 Label)</button>
				<button type="reset" class="btn btn-warning" style="margin-left:5px;color:white;"
					(click)="ClearAll()">ล้างหน้าจอ</button>
			</div>
			<!-- /.card-footer -->
		</div>
		<!--<script src="case-type.component.js"></script>-->
		<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
			<p style="color: gray">Please Wait. </p>
		</ngx-spinner>
	</div>
</div>