<style>

</style>
<app-menu></app-menu>
<div style="width:100%;height:100%;" id="div-wraper">
	<div class="content" style="padding:10px;" >
		<div class="card card-info">
			<div class="card-header">
			<h3 class="card-title">{{programName}}</h3>
			</div>
				<div class="card-body">
					<!--	-->
					<table width="100%"  border="0" cellspacing="2" cellpadding="0" >
						<tr>
							<td width="20%" align="center" colspan="4">
								<div style="margin:0 auto;display:inline-block;padding-right: 0px;">
									<div style="float: left;margin-left:3px;margin-top:5px;">ประจำเดือน :&nbsp;</div>
									<div style="float: left;">
										<ng-select [(ngModel)]="result.stat_mon"  name="stat_mon" style="width:180px;height:28px;" [ngModelOptions]="{standalone: true}">
											<ng-option *ngFor="let getData of selData" [value]="getData.fieldIdValue">{{getData.fieldNameValue}}</ng-option>
										 </ng-select>
									</div>
									<div style="float: left;margin-left:3px;margin-top:5px;">ปี :&nbsp;</div>
									<div style="float:left;margin-left:3px;"><input [(ngModel)]="result.stat_year"  name="stat_year" type="text"   value=""  class="form-control" style="width:120px;height:28px;"></div>
									<div style="float:left;margin-left:5px;margin-top:1px;"><button type="button" class="btn btn-primary" style="margin-left:0px;" (click)="searchData()" >ค้นหา</button></div>
								</div>
							</td>
						</tr>   
						<tr>
							<td align="right" width="20%">ผู้เสนอ :&nbsp;</td>
							<td width="29%">
								<div style="float: left;margin-left:0px;">
									<input  type="text" [(ngModel)]="result.off_id"   (change)="tabChangeSelect('off_id', 'off_name', 'off_post', $event)"  class="form-control" style="width:60px;height:28px;"/>
								</div>
								<div style="float: left;margin-left:2px;">
									<input  type="text" class="blackd" [(ngModel)]="result.off_name" value=""   class="form-control" style="width:250px;height:28px;"/>
								</div>
								<div style="float: left;margin-left:2px;margin-top:1px;" >
									<i  class="far fa-list-alt" style="font-size: 20px;margin-left:2px;margin-top:0px;" (click)="clickOpenMyModalComponent(1);"></i>
								</div>
							</td>
							<td align="right" width="6%">ตำแหน่ง :&nbsp;</td>
							<td width="45%">
								<div style="float: left;margin-left:2px;">
									<input type="text" class="blackd" [(ngModel)]="result.off_post" value=""   class="form-control" style="width:416px;height:28px;"/>
								</div>
							</td>
						</tr>
						<tr>
							<td align="right"  >ผู้เซ็นต์ :&nbsp;</td>
							<td >
								<div style="float: left;margin-left:0px;" >
									<input type="text" [(ngModel)]="result.sign_id"  (change)="tabChangeSelect('sign_id', 'sign_name', 'sign_post', $event)"   class="form-control" style="width:60px;height:28px;"/>
								</div>
								<div style="float: left;margin-left:2px;" valign="top">
									<input  type="text" class="blackd"  [(ngModel)]="result.sign_name" value=""   class="form-control" style="width:250px;height:28px;"/>
								</div>
								<div style="float: left;margin-left:2px;margin-top:1px;" valign="top">
									<i  class="far fa-list-alt" style="font-size: 20px;margin-left:2px;margin-top:0px;" (click)="clickOpenMyModalComponent(2);"></i>
								</div>
							</td>
							<td align="right" valign="top" style="padding-top:4px;">ตำแหน่ง :&nbsp;</td>
							<td >
								<div style="float: left;margin-left:2px;">
									<textarea  class="form-control" [(ngModel)]="result.sign_post" style="width: 416px; height: 38px; line-height: 18px;overflow-wrap: break-word;"></textarea>
								</div>
							</td>
						</tr>
						<tr >
							<td colspan="4" align="center" style="height: 36px !important;">
								<button type="button" class="btn btn-success" style="margin-left:0px;" (click)="buttProcess()" >ประมวลผล</button>
								<button type="reset" class="btn btn-success" style="margin-left:3px;" (click)="submitForm()">จัดเก็บ</button>
								<button type="button" class="btn btn-info" style="margin-left:3px;"  (click)="printReport(1)">พิมพ์แนวนอน</button>
								<button type="button" class="btn btn-info" style="margin-left:3px;"  (click)="printReport(2)">พิมพ์แนวตั้ง</button>
								<button type="button" class="btn btn-warning" style="margin-left:3px;" (click)="ClearAll()">ยกเลิก</button>
								<!-- <button type="button" class="btn btn-primary" style="margin-left:5px;" (click)="confirmData()"> ยืนยันข้อมูลส่งผู้บริหารตรวจ</button>
								<button type="button" class="btn btn-danger" style="margin-left:3px;" (click)="cancelData()"> ยกเลิกยืนยันข้อมูล</button> -->
							</td>
						</tr>
						<tr>
							<td colspan="4" align="center" style="height: 36px !important;">
								<div style="width: 100%;height: 30px;text-align:center;vertical-align: bottom;padding-top:5px;">
									หน่วยงานที่บันทึก : <u>{{posts.create_dep_name}}</u> 
									ผู้บันทึก :	<u>{{posts.create_user}}</u> 
									วันที่บันทึก : <u>{{posts.create_date}}</u> 
									<!-- ผู้ยืนยันข้อมูล : <u>{{posts.confirm_user}}</u> 
									วันที่ยืนยันข้อมูล : <u>{{posts.confirm_date}}</u>  -->
								</div>
							</td>
						</tr>
						<tr >
							<td align="left" colspan="4" align="center" style="height: 30px !important;"></td>
						</tr>
						<tr>
							<td align="left" colspan="4">
								<table datatable [dtOptions]="dtOptions"  [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-sm row-border hover form_table_data" style="width:100%;margin:0 auto;">        
									<thead>
										<tr>
											<!-- <th style="width: 15% !important;" align="right" [attr.rowspan]="2" class="no-sort">จังหวัด</th>
											<th style="width: 15% !important;" align="right" [attr.rowspan]="2" class="no-sort">เขต/อำเภอ</th> -->
											<th *ngFor="let getdata of cTypeHead;" class="no-sort" style="border-radius: 0px !important;">{{getdata.fieldNameValue}}</th>
										</tr>
									</thead>
									<tbody *ngIf="posts?.length != 0">
										<tr *ngFor="let post1 of posts.data;let i = index;">
											<td align="center">{{post1.prov_name}}</td>
											<td align="center">{{post1.amphur_name}}</td>
											<td align="center" *ngFor="let post of post1.stat_data;let j = index;" style="background-color: transparent!important;">
												<input  type="text" [(ngModel)]="post.case_new2" (change)="changeData($event,i,j)" triggers="click" [autoClose]="'outside'" ngbTooltip={{post.case_new2_txt}}  title={{post.case_new2_txt}} class="form-control" style="width:70px;height:28px;text-align: center;">
											</td>
										</tr>
										<tr >
											<td align="center" colspan="2">รวม</td>
											<td align="center" *ngFor="let post of cType;let i = index;" style="background-color: transparent!important;">
												<input type="text" [(ngModel)]="sum_case_new2[i]" class="form-control" style="width:70px;height:28px;text-align: center;" readonly/>
											</td>
										</tr>
									</tbody>
									<tbody *ngIf="posts?.length == 0">
										<tr >
											<td align="center" colspan="7" *ngFor="let post of cTypeHead;let i = index;" [ngStyle]="i == 0 ? {'display': ''} : {'display': 'none'}">
												<span *ngIf="i == 0" style="color:red;text-align: center;" class="no-data-available">###### ไม่พบข้อมูล #######</span>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</table>
				</div>

 <!-- Modal -->

 <div class="modal fade" data-refresh="true"  role="dialog" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width:100%;height:100%;">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title text-danger" id="exampleModalLabel"></h5>
		  <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
		  <button type="button" class="btn btn-warning" style="display:none;" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="loadMyModalComponent();" #openbutton></button>
		</div>
		<div class="modal-body" >
			<input type="hidden" name="table_name" id="table_name">
			<input type="hidden" name="field_id" id="field_id">
			<input type="hidden" name="field_name" id="field_name">
			<div style="min-height: 100px;max-height: 480px;overflow: auto;">
				<app-modal-confirm *ngIf="loadModalComponent" class="modal_app"></app-modal-confirm>
				<app-datalist-return  *ngIf="loadComponent"  [items]=list [value1]=listTable [value2]=listFieldId [value3]=listFieldName [value4]=listFieldNull  [value5]=listFieldName2 [value7]=listFieldCond (onClickList)="receiveFuncListData($event)" class="modal_app"></app-datalist-return>	
       		</div>
		</div>
		<div class="modal-footer">
			<button type="button"  class="btn btn btn-primary" (click)="submitModalForm()" *ngIf="loadModalComponent">ตกลง</button>
		  	<button type="button"  class="btn btn-warning" data-bs-dismiss="modal" (click)="closeModal()">ปิดหน้าจอ</button>
		</div>
	  </div>
	</div>
  </div>
</div>

<!--<script src="case-type.component.js"></script>-->
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
	<p style="color: gray">Please Wait. </p>
</ngx-spinner>
