

    <table width="100%"  border="0" cellspacing="2" cellpadding="0" class="form_table">           
        <tr>
            <td height="25" width="188" height="34" align="right" >รหัสตรายาง :&nbsp;</td>
            <td >
                <div style="float:left;"><input  name="" type="text"   value=""  class="form-control" style="width:45px;height:28px;text-align:center;"></div>
                <div style="float:left;"><input  name="" type="text"   value=""  class="form-control" style="width:260px;height:28px;text-align:left;margin-left:2px;"></div>
                <div style="float:left;"><i class='far fa-list-alt iDep' style="font-size: 20px;cursor:pointer;margin-left:2px;margin-top:4px;" ></i></div>
            </td>
        </tr>

        <tr>
            <td height="25" width="188" height="34" align="right" valign="top" style="padding-top:4px;">สารบบคำฟ้อง :&nbsp;</td>
            <td style="padding-top:2px;">
                <textarea name="fact2" class="form-control" id="" style="width: 1000px; height: 140px; line-height: 18px;overflow-wrap: break-word;"></textarea>
            </td>
        </tr>
        <tr>
            <td height="25" width="188" height="34" align="right" >มูลคดีเกิด :&nbsp;</td>
            <td >
                <div style="float:left;"><input  name="" type="text"   value=""  class="form-control" style="width:45px;height:28px;text-align:center;"></div>
                <div style="float:left;"><input  name="" type="text"   value=""  class="form-control" style="width:260px;height:28px;text-align:left;margin-left:2px;"></div>
                <div style="float:left;"><i class='far fa-list-alt iDep' style="font-size: 20px;cursor:pointer;margin-left:2px;margin-top:4px;" ></i></div>
                <div style="float:left;"><button type="button" class="btn btn-primary" style="margin-left:5px;">เพิ่มรายการมูลคดีเกิด</button></div>
            </td>
        </tr>
        <tr>
            <td height="25" width="188" height="34" align="right" >&nbsp;</td>
            <td style="padding-top:4px;">
                <button type="button" class="btn btn-success" style="margin-left:0px;"  >จัดเก็บ</button>
                <button type="button" class="btn btn-warning" style="margin-left:5px;"  >ล้างหน้าจอ</button>   
            </td>
        </tr>
        <tr>
            <td height="25" width="188" height="34" align="right" >&nbsp;</td>
            <td height="25" height="34" align="left" style="padding:5px;color:red;">
                * เป็นข้อมูลเก็บสถิติ โปรดบันทึกให้ถูกต้อง ครบถ้วน
            </td>
        </tr>
    </table>

