<table width="100%" border="0" align="center" cellpadding="0" cellspacing="1" class="bordered table" style="margin-top:4px;" >
  <thead>
    <tr align="center" >
      <th ><strong >เล่มที่</strong></th>
      <th ><strong >เลขที่ใบเสร็จ</strong></th>
      <th ><strong >วันที่รับเงิน</strong></th>
      <th ><strong >ประเภทใบเสร็จ</strong></th>
    </tr>
  </thead>
  <tbody *ngIf="items?.length != 0" >
    <tr *ngFor="let datas of items;let i = index;" >
      <td align="center" (click)="onClickListData(i)">{{datas.book_no}}</td>
      <td align="center" (click)="onClickListData(i)">{{datas.rreceipt_no}}</td>
      <td align="center" (click)="onClickListData(i)">{{datas.rcv_date}}</td>
      <td align="center" (click)="onClickListData(i)">{{datas.sub_type_name}}</td>
    </tr>
   </tbody>
   <tbody *ngIf="items?.length == 0">
    <tr><td colspan="4" style="text-align: center;" class="no-data-available"><span style="color: red;">###### ไม่พบข้อมูล #######</span></td></tr>
  </tbody>
</table>
<table width="100%" border="0" align="center">
  <tr>
    <td colspan="4" style="text-align: center;" class="no-data-available"><span style="color: red;">*คลิกเพื่อเลือกใบเสร็จ</span></td>
  </tr>
</table>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
	<p style="color: gray">Please Wait.</p>  
</ngx-spinner> 
