
<div class="card card-info" style="box-shadow: none !important;border:0px !important;">
    <div class="card-header">
        <h3 class="card-title">ข้อมูลเลขคดี</h3>
    </div>
    <div class="card-body" >
       
            <table width="100%"  border="0" cellspacing="2" cellpadding="0" class="form_table">           
                <tr>
                    <td height="25" width="120" height="34" align="right" width="8%">คดีของศาล :&nbsp;</td>
                    <td width="35%">
                        <ng-select [(ngModel)]="dataHead.court_id" style="width:300px;" [clearable]="false" (change)="changeCourtName($event)" #sCourt >
                            <ng-option *ngFor="let getData of getCourt" [value]=getData.fieldIdValue>{{getData.fieldNameValue}}</ng-option>
                        </ng-select>
                        <!--<input type="hidden" [(ngModel)]="dataHead.court_id" name="court_id" id="court_id">-->
                    </td>
                    <td height="25" width="120" height="34" align="right" width="9%">Barcode :&nbsp;</td>
                    <td width="42%">
                        <div style="float:left;"><input [(ngModel)]="dataHead.barcode" type="text"  class="form-control" style="width:150px;"></div>
                        <div style="float:left;margin-left:8px;margin-top:5px;">คดีพิเศษ :&nbsp;</div>
                        <div style="float:left;">
                            <ng-select [(ngModel)]="dataHead.special_id" style="width:200px;" #sCaseSpecial>
                                <ng-option *ngFor="let getData of getCaseSpecial" [value]=getData.fieldIdValue>{{getData.fieldNameValue}}</ng-option>
                            </ng-select>
                        </div>
                        <div style="float:left;margin-left:8px;margin-top:5px;" *ngIf="courtTypeId==1">คดีในอำนาจ :&nbsp;</div>
                        <!-- <div style="float:left;margin-left:8px;margin-top:5px;" *ngIf="courtTypeId==1">คดีในอำนาจ :&nbsp;{{courtTypeId}}</div> -->
                        <div style="float:left;" *ngIf="courtTypeId==1">
                            <ng-select [(ngModel)]="dataHead.case_court_type" style="width:200px;" #sCaseCourtType>
                                <ng-option *ngFor="let getData of getCaseCourtType" [value]=getData.fieldIdValue>{{getData.fieldNameValue}}</ng-option>
                            </ng-select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td height="25" width="120" height="34" align="right" >ความ :&nbsp;</td>
                    <td >
                        <div style="float:left;margin-left:0px;">
                            <ng-select [(ngModel)]="dataHead.case_type" id="case_type" style="width:100px;" [clearable]="false"  [ngModelOptions]="{standalone: true}" (change)="changeCaseType($event,1)" #sCaseType>
                                <ng-option *ngFor="let getData of getCaseType" [value]=getData.fieldIdValue >{{getData.fieldNameValue}}</ng-option>
                            </ng-select>
                        </div>
                        <div style="float:left;margin-left:8px;margin-top:5px;">วันที่ยื่นฟ้อง :&nbsp;</div>
                        <div style="float:left;"><input [(ngModel)]="dataHead.case_date"  type="text" class="form-control jcalendar case_date" style="width:120px;"  #case_date (click)="directiveDate(case_date.value,'case_date')"></div>
                        <div style="float:left;margin-left:3px;margin-top:5px;"><i class="fa fa-calendar" style="font-size: 16px;" onClick="$('.case_date').focus();"></i></div>
                        <div style="float:left;margin-left:8px;margin-top:5px;" *ngIf="dataHead.group_type_name">{{dataHead.group_type_name}}</div>
                    </td>
                    <td height="25" width="120" height="34" align="right" >ประเภทคดี :&nbsp;</td>
                    <td >
                        <div style="float:left;">
                            <ng-select [(ngModel)]="dataHead.case_cate_id" style="width:280px;" (change)="changeCaseCate($event);" #sCaseCate>
                                <ng-option *ngFor="let getData of getCaseCate" [value]=getData.fieldIdValue>{{getData.fieldNameValue}}</ng-option>
                            </ng-select>
                        </div>
                        <div style="float:left;margin-left:8px;margin-top:5px;">ชั้นพิจารณา :&nbsp;</div>
                        <div style="float:left;">
                            <ng-select [(ngModel)]="dataHead.case_status" style="width:200px;" #sCaseStatus>
                                <ng-option *ngFor="let getData of getCaseStatus" [value]=getData.fieldIdValue>{{getData.fieldNameValue}}</ng-option>
                            </ng-select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td height="25" width="120" height="34" align="right" >หมายเลขคดีดำ :&nbsp;</td>
                    <td >
                        <div style="float:left;">
                            <ng-select [(ngModel)]="dataHead.title" id="title" style="width:100px;" [clearable]="false" [ngModelOptions]="{standalone: true}" (change)="changeTitle($event,aCaseType,1);runCaseNo(dataHead.case_type);setDeposit($event,dataHead.run_id);"  #sTitle>
                                <ng-option *ngFor="let getData of getTitle" [value]=getData.fieldIdValue>{{getData.fieldIdValue}}</ng-option>
                            </ng-select>
                        </div>
                        <div style="float:left;margin-left:3px;"><input  type="text" [(ngModel)]="dataHead.id" (click)="autoRunning()" id="id" value=""  class="form-control" style="width:60px;text-align: center;" onkeypress="return event.charCode >= 48 && event.charCode <= 57" #id></div>
                        <div style="float:left;margin-left:3px;"><input  [(ngModel)]="dataHead.yy" id="yy" type="text" value="" class="form-control" style="width:100px;" onkeypress="return event.charCode >= 48 && event.charCode <= 57" #yy></div>
                        <div style="float:left;margin-left:3px;"><button type="button" class="btn btn-primary" (click)="searchCaseNo('1',0)">ค้นหา</button></div>
                        <div style="float:left;margin-left:3px;"><button type="button" class="btn btn-primary" (click)="onOpenCaseCopy()">สำเนาข้อมูล</button></div>
                        <div style="float:left;margin-left:3px;"><button type="button" class="btn btn-primary" *ngIf="hCaseType">ดึงข้อมูลอัยการ</button></div>
                        <div style="float:left;margin-left:5px;margin-top:5px;" *ngIf="caseNoLast">หมายเลขคดีสุดท้ายในระบบคือ {{caseNoLast}}</div>
                    </td>
                    <td height="25" width="120" height="34" align="right" style="color:red;">หมายเลขคดีแดง :&nbsp;</td>
                    <td >
                        <div style="float:left;">
                            <ng-select [(ngModel)]="dataHead.red_title" style="width:100px;" [clearable]="false" [ngModelOptions]="{standalone: true}"   #sRedTitle>
                                <ng-option *ngFor="let getData of getRedTitle" [value]=getData.fieldIdValue>{{getData.fieldIdValue}}</ng-option>
                            </ng-select>
                        </div>
                        <div style="float:left;margin-left:3px;"><input  [(ngModel)]="dataHead.red_id" name="" type="text"   value=""  class="form-control" style="width:60px;" onkeypress="return event.charCode >= 48 && event.charCode <= 57" #red_id></div>
                        <div style="float:left;margin-left:3px;"><input  [(ngModel)]="dataHead.red_yy" name="" type="text"   value=""  class="form-control" style="width:100px;" onkeypress="return event.charCode >= 48 && event.charCode <= 57" #red_yy></div>
                        <div style="float:left;margin-left:3px;"><button type="button" class="btn btn-primary" (click)="searchCaseNo('2',0)">ค้นหา</button></div>
                        <div style="float:left;margin-left:8px;margin-top:5px;color:red;">วันที่ออกแดง :&nbsp;</div>
                        <div style="float:left;"><input  [(ngModel)]="dataHead.judging_date" type="text"   value=""  class="form-control judging_date" style="width:120px;" disabled></div>
                        <div style="float:left;margin-left:4px;margin-top:5px;display:none;"><i class="fa fa-calendar" style="font-size: 16px;" onClick="$('.judging_date').focus();"></i></div>
                    </td>
                </tr>
                <tr *ngIf="hCaseType">
                    <td height="25" width="120" height="34" align="right" >ฝากขัง :&nbsp;</td>
                    <td >
                        <div style="float:left;margin-left:0px;"><input  [(ngModel)]="dataHead.case_post_desc" placement="bottom"  [ngbPopover]="pop_case_post_desc" name="" type="text"   value=""  class="form-control" style="width:310px;cursor: pointer;" readonly></div>
                        <div style="float:left;margin-left:3px;"><button type="button" class="btn btn-primary" >ฝากขัง</button></div>
                        <div style="float:left;margin-left:3px;"><button type="button" class="btn btn-primary" >สำเนาข้อมูลจากสำนวนจำลอง</button></div>
                    </td>
                    <td height="25" width="120" height="34" align="right">&nbsp;</td>
                    <td >&nbsp;</td>
                </tr>
                <!-- <tr *ngIf="courtOther2"> -->
                <tr>
                    <td height="25" width="120" height="34" align="right" >
                        <span *ngIf="dataHead.court_id != userData.courtId">รับฟ้องที่ศาล :&nbsp;</span>
                        <span *ngIf="dataHead.court_id == userData.courtId">ศาล :&nbsp;</span>
                    </td>
                    <td >
                        <ng-select [(ngModel)]="dataHead.old_court_id" style="width:300px;" >
                            <ng-option *ngFor="let getData of getCourt" [value]=getData.fieldIdValue>{{getData.fieldNameValue}}</ng-option>
                        </ng-select>
                    </td>
                    <td height="25" width="120" height="34" align="right">&nbsp;</td>
                    <td >&nbsp;</td>
                </tr>
                <!-- <tr *ngIf="dataHead.court_id != userData.courtId || courtOther || courtOther2"> -->
                <tr>
                    <td height="25" width="120" height="34" align="right" >เลขคดีศาลเดิม :&nbsp;</td>
                    <td >
                        <div style="float:left;margin-left:0px;"><input  type="text" [(ngModel)]="dataHead.old_title"  class="form-control" style="width:60px;text-align: center;" #olt_title></div>
                        <div style="float:left;margin-left:3px;"><input  type="text" [(ngModel)]="dataHead.old_id"  class="form-control" style="width:60px;text-align: center;" onkeypress="return event.charCode >= 48 && event.charCode <= 57" #old_id></div>
                        <div style="float:left;">&nbsp;/&nbsp;</div>
                        <div style="float:left;margin-left:3px;"><input  [(ngModel)]="dataHead.old_yy"  type="text"  class="form-control" style="width:100px;" onkeypress="return event.charCode >= 48 && event.charCode <= 57" #old_yy></div>
                        <div style="float:left;margin-left:3px;"><button type="button" class="btn btn-primary" (click)="searchOldCaseNo(1)">ค้นหา</button></div>
                    </td>
                    <td height="25" width="120" height="34" align="right" style="color:red;">เลขแดงศาลเดิม :&nbsp;</td>
                    <td >
                        <div style="float:left;margin-left:3px;"><input  type="text" [(ngModel)]="dataHead.old_red_title"  class="form-control" style="width:60px;text-align: center;" #olt_title></div>
                        <div style="float:left;margin-left:3px;"><input  type="text" [(ngModel)]="dataHead.old_red_id"  class="form-control" style="width:60px;text-align: center;" onkeypress="return event.charCode >= 48 && event.charCode <= 57" #old_id></div>
                        <div style="float:left;">&nbsp;/&nbsp;</div>
                        <div style="float:left;margin-left:3px;"><input  [(ngModel)]="dataHead.old_red_yy"  type="text"  class="form-control" style="width:100px;" onkeypress="return event.charCode >= 48 && event.charCode <= 57" #old_yy></div>
                        <div style="float:left;margin-left:3px;"><button type="button" class="btn btn-primary" (click)="searchOldCaseNo(2)">ค้นหา</button></div>
                    </td>
                </tr>
                <tr>
                    <td height="25" width="120" height="34" align="right" >คดีเกี่ยวเนื่อง :&nbsp;</td>
                    <td >
                        <div style="float:left;">
                            <input  [(ngModel)]="dataHead.case_group_desc"  placement="bottom" [ngbPopover]="pop_case_group_desc" name="" type="text"   value=""  class="form-control case_group_desc" style="width:380px;cursor: pointer;" readonly  (click)="clearFlag()">
                        </div>
                    </td>
                    <td height="25" width="120" height="34" align="right" >เอกสารแยกเก็บ :&nbsp;</td>
                    <td >
                        <div style="float:left;"><input  [(ngModel)]="dataHead.material_desc" name="" type="text"   value=""  class="form-control" style="width:318px;" disabled></div>
                        <div style="float:left;margin-left:8px;">วันที่ปลดเผา :&nbsp;</div>
                        <div style="float:left;"><input  [(ngModel)]="dataHead.burn_date" type="text"   value=""  class="form-control burn_date" readonly style="width:120px;"></div>
                    </td>
                </tr>
                <tr>
                    <td height="25" width="120" height="34" align="right" >โจทก์ :&nbsp;</td>
                    <td >
                        <div style="float:left;;"><input  [(ngModel)]="dataHead.pros_desc" placement="bottom"  [ngbPopover]="pop_pros_desc" name="" type="text"   value=""  class="form-control" style="width:380px;cursor: pointer;" readonly></div>
                    </td>
                    <td height="25" width="120" height="34" align="right" >จำเลย :&nbsp;</td>
                    <td >
                        <div style="float:left;"><input  [(ngModel)]="dataHead.accu_desc" placement="bottom"  [ngbPopover]="pop_accu_desc" name="" type="text"   value=""  class="form-control" style="width:380px;cursor: pointer;" readonly></div>
                    </td>
                </tr>
                <tr>
                    <td height="25" width="120" height="34" align="right" >ผู้ร้อง :&nbsp;</td>
                    <td >
                        <div style="float:left;"><input  [(ngModel)]="dataHead.litigant_desc1" placement="bottom"  [ngbPopover]="pop_req_desc" name="" type="text"   value=""  class="form-control" style="width:380px;cursor: pointer;" readonly></div>
                    </td>
                    <td height="25" width="120" height="34" align="right" >ผู้คัดค้าน :&nbsp;</td>
                    <td >
                        <div style="float:left;"><input  [(ngModel)]="dataHead.litigant_desc2" placement="bottom"  [ngbPopover]="pop_opp_desc" name="" type="text"   value=""  class="form-control" style="width:380px;cursor: pointer;" readonly></div>
                    </td>
                </tr>
                <tr>
                    <td height="25" width="120" height="34" align="right" >สำนวนอยู่ที่งาน :&nbsp;</td>
                    <td >
                        <div style="float:left;"><input  [(ngModel)]="dataHead.case_location" name="" type="text"   value=""  class="form-control" style="width:380px;" disabled></div>
                    </td>
                    <td height="25" width="120" height="34" align="right" >เมื่อวันที่ :&nbsp;</td>
                    <td >
                        <div style="float:left;"><input [(ngModel)]="dataHead.location_date"  type="text" class="form-control  case_date" style="width:130px;" readonly  #case_date></div>
                        <div style="float:left;margin-left:8px;margin-top:5px;">ส่งมาเพื่อ :&nbsp;</div>
                        <div style="float:left;"><input  type="text" [(ngModel)]="dataHead.case_send_for" class="form-control" style="width:380px;height:28px;" disabled></div>
                    </td>
                </tr>
            </table>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
        <button type="button" class="btn btn-success" (click)="callDataTab1()" *ngIf="!runId" >สร้างและจัดเก็บเลขคดี</button>
        <button type="button" class="btn btn-danger" style="margin-left:5px;"  (click)="onOpenConfirm(1)" >login เพื่อเปลี่ยนเลขคดี</button>
        <button type="button" class="btn btn-primary" style="margin-left:5px;" *ngIf="runId" (click)="gotoUrl('fca0200')">เพิ่มเลขคดี</button>
        <!-- <button type="button" class="btn btn-danger" style="margin-left:5px;"  *ngIf="runId" >ยกเลิกสำนวนคดี</button>
        <button type="button" class="btn btn-success" style="margin-left:5px;"  >เรียกข้อมูลที่ถูกยกเลิก</button> -->
    </div>
    </div>
    <!-- /.card-footer -->
    <ng-template #pop_case_post_desc popover-class="increase-popover-width">
        <table>
            <tr><td style="padding-left:5px;color: red;">* คลิกเพื่อแสดงข้อมูลคดี</td></tr>
        </table>
        <table class="myTable1" cellspacing="2" cellpadding="0" class="bordered">
            <thead>
              <tr >
                <th width="160"  align="center"  >ลำดับที่</th>
                <th width="300"  align="center"  >หมายเลขคดีฝากขัง</th>
              </tr>
            </thead>
            <tbody *ngIf="postMapObj.length != 0">
                <tr *ngFor="let datas of postMapObj;let i = index;">
                    <td align="center">{{i+1}}</td>
                    <td align="center">{{datas.case_no}}</td>
                </tr>
            </tbody>
            <tbody *ngIf="postMapObj.length == 0">
                <tr>
                    <td colspan="4" style="color:red;text-align: center;" class="no-data-available">###### ไม่พบข้อมูล #######</td>
                </tr>
            </tbody>
            </table>
    </ng-template>

    <ng-template #pop_case_group_desc popover-class="increase-popover-width">
        <table>
            <tr><td style="padding-left:5px;color: red;">* คลิกเพื่อแสดงข้อมูลคดี</td></tr>
        </table>
        <table cellspacing="2" cellpadding="0" class="bordered" >
            <thead>
              <tr >
                <th width="120"  align="center"  >ประเภท</th>
                <th width="120"  align="center"  >คดีของศาล</th>
                <th width="120"  align="center"  >หมายเลขคดีดำ</th>
                <th width="120"  align="center"  >หมายเลขคดีแดง</th>
                <th width="190" align="center"  >วันที่นัด</th>
              </tr>
            </thead>
            <tbody *ngIf="groupObj.length != 0">
                <tr *ngFor="let datas of groupObj;let i = index;">
                    <td align="center">{{datas.group_name}}</td>
                    <td align="center">{{datas.court_name}}</td>
                    <td align="center">{{datas.case_no}}</td>
                    <td align="center">{{datas.red_no}}</td>
                    <td align="left">
                        <!-- <div (mouseenter)="appointDescAll(i)" *ngIf="!datas.appoint_flag" style="cursor: pointer;">{{datas.appoint_desc1}}</div> -->
                        <div (mouseenter)="appointDescAll(i)" *ngIf="!datas.appoint_flag" style="cursor: pointer;" [innerHTML]="datas.appoint_desc1" ></div>
                        <div [innerHTML]="datas.appoint_desc2" *ngIf="datas.appoint_flag" ></div>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="groupObj.length == 0">
                <tr>
                    <td colspan="5" style="color:red;text-align: center;" class="no-data-available">###### ไม่พบข้อมูล #######</td>
                </tr>
            </tbody>
            </table>
    </ng-template>

    <ng-template #pop_pros_desc popover-class="increase-popover-width">
        <table>
            <tr><td style="padding-left:5px;color: red;">* คลิกเพื่อแสดงข้อมูล</td></tr>
        </table>
        <table class="myTable1" cellspacing="2" cellpadding="0" class="bordered">
            <thead>
              <tr >
                <th width="180"  align="center"  >ประเภทคู่ความ</th>
                <th width="120"  align="center"  >ลำดับที่</th>
                <th width="250"  align="center"  >ชื่อ/ชื่อสกุล</th>
                <th width="120"  align="center"  >สถานะ</th>
              </tr>
            </thead>
            <tbody *ngIf="prosObj.length != 0">
                <tr *ngFor="let datas of prosObj;let i = index;">
                    <td align="center">{{datas.lit_type_desc}}
                    <td align="center">{{datas.seq}}</td>
                    <td align="center">{{datas.title}}{{datas.name}}</td>
                    <td align="center">{{datas.status_desc}}</td>
                </tr>
            </tbody>
            <tbody *ngIf="prosObj.length == 0">
                <tr>
                    <td colspan="4" style="color:red;text-align: center;" class="no-data-available">###### ไม่พบข้อมูล #######</td>
                </tr>
            </tbody>
            </table>
    </ng-template>

    <ng-template #pop_accu_desc popover-class="increase-popover-width">
        <table>
            <tr><td style="padding-left:5px;color: red;">* คลิกเพื่อแสดงข้อมูล</td></tr>
        </table>
        <table class="myTable1" cellspacing="2" cellpadding="0" class="bordered">
            <thead>
              <tr >
                <th width="180"  align="center"  >ประเภทคู่ความ</th>
                <th width="120"  align="center"  >ลำดับที่</th>
                <th width="250"  align="center"  >ชื่อ/ชื่อสกุล</th>
                <th width="120"  align="center"  >สถานะ</th>
              </tr>
            </thead>
            <tbody *ngIf="accuObj.length != 0">
                <tr *ngFor="let datas of accuObj;let i = index;">
                    <td align="center">{{datas.lit_type_desc}}
                    <td align="center">{{datas.seq}}</td>
                    <td align="center">{{datas.title}}{{datas.name}}</td>
                    <td align="center">{{datas.status_desc}}</td>
                </tr>
            </tbody>
            <tbody *ngIf="accuObj.length == 0">
                <tr>
                    <td colspan="4" style="color:red;text-align: center;" class="no-data-available">###### ไม่พบข้อมูล #######</td>
                </tr>
            </tbody>
            </table>
    </ng-template>

    <ng-template #pop_req_desc popover-class="increase-popover-width">
        <table>
            <tr><td style="padding-left:5px;color: red;">* คลิกเพื่อแสดงข้อมูล</td></tr>
        </table>
        <table class="myTable1" cellspacing="2" cellpadding="0" class="bordered">
            <thead>
              <tr >
                <th width="180"  align="center"  >ประเภทคู่ความ</th>
                <th width="120"  align="center"  >ลำดับที่</th>
                <th width="250"  align="center"  >ชื่อ/ชื่อสกุล</th>
                <th width="120"  align="center"  >สถานะ</th>
              </tr>
            </thead>
            <tbody *ngIf="reqObj.length != 0">
                <tr *ngFor="let datas of reqObj;let i = index;">
                    <td align="center">{{datas.lit_type_desc}}
                    <td align="center">{{datas.seq}}</td>
                    <td align="center">{{datas.title}}{{datas.name}}</td>
                    <td align="center">{{datas.status_desc}}</td>
                </tr>
            </tbody>
            <tbody *ngIf="reqObj.length == 0">
                <tr>
                    <td colspan="4" style="color:red;text-align: center;" class="no-data-available">###### ไม่พบข้อมูล #######</td>
                </tr>
            </tbody>
            </table>
    </ng-template>

    <ng-template #pop_opp_desc popover-class="increase-popover-width">
        <table>
            <tr><td style="padding-left:5px;color: red;">* คลิกเพื่อแสดงข้อมูล</td></tr>
        </table>
        <table class="myTable1" cellspacing="2" cellpadding="0" class="bordered">
            <thead>
              <tr >
                <th width="180"  align="center"  >ประเภทคู่ความ</th>
                <th width="120"  align="center"  >ลำดับที่</th>
                <th width="250"  align="center"  >ชื่อ/ชื่อสกุล</th>
                <th width="120"  align="center"  >สถานะ</th>
              </tr>
            </thead>
            <tbody *ngIf="oppObj.length != 0">
                <tr *ngFor="let datas of oppObj;let i = index;">
                    <td align="center">{{datas.lit_type_desc}}
                    <td align="center">{{datas.seq}}</td>
                    <td align="center">{{datas.title}}{{datas.name}}</td>
                    <td align="center">{{datas.status_desc}}</td>
                </tr>
            </tbody>
            <tbody *ngIf="oppObj.length == 0">
                <tr>
                    <td colspan="4" style="color:red;text-align: center;" class="no-data-available">###### ไม่พบข้อมูล #######</td>
                </tr>
            </tbody>
            </table>
    </ng-template>

    
    <div class="modal fade" data-refresh="true"  role="dialog" #crudModal id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width:100%;height:100%;">
		<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title text-danger" id="exampleModalLabel"></h5>
			<button type="button" #closebutton class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
			<button type="button" class="btn btn-warning" style="display:none;" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="loadMyChildComponent();" #openbutton></button>
            <button type="button" class="btn btn-warning" style="display:none;" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="loadCopyCaseComponent();" #openCopyCaseButton></button>
            <button type="button" class="btn btn-warning" style="display:none;" data-bs-toggle="modal" data-bs-target="#exampleModal"  #openAlertButton></button>
			</div>
			<div class="modal-body" >

					<input type="hidden" name="table_name" id="table_name">
					<input type="hidden" name="field_id" id="field_id">
					<input type="hidden" name="field_name" id="field_name">
					<div >
                    <app-alert-search *ngIf="loadModalAlertComponent" [alert]=items ></app-alert-search>
					<app-modal-confirm *ngIf="loadComponent" class="modal_app"></app-modal-confirm>
                    <!-- <app-case-copy *ngIf="loadCopyComponent" class="modal_app" (onCopyData)="receiveCopyData($event)" [headData]="{'case_type':dataHead.case_type,'title':dataHead.title,'id':dataHead.id,run_id :dataHead.run_id,case_cate_id:dataHead.case_cate_id }"></app-case-copy> -->
					</div>

			</div>
			<div class="modal-footer">
				<button type="button"  class="btn btn btn-primary" (click)="submitModalForm()" *ngIf="loadComponent">ตกลง</button>
				<button type="button"  class="btn btn-warning" data-bs-dismiss="modal" (click)="closeModal()">ปิดหน้าจอ</button>
			</div>
		</div>
		</div>
	</div>
