.btn-info{color:white !important;}
.modal-content{width:600px !important;min-height:200px !important;max-height: 600px !important;height: auto !important;}
table.table thead th:nth-child(2).sorting_asc{background-image : none !important;cursor: default !important;}
 
