<style>

</style>
<app-menu></app-menu>
<div style="width:100%;height:100%;" id="div-wraper" >
	<div class="content" style="padding:10px;" >
		<div class="card card-info" style="box-shadow: none !important;">
			<!-- <div class="" style="height:40px;border-radius: 4px;border:1px solid #17a2b8 !important;background-color: #e1f6f9;">
				<app-case-header *ngIf="programName" ></app-case-header>
			</div> -->
      <div class="" style="height:40px;border-radius: 4px;border:1px solid #17a2b8 !important;background-color: #e1f6f9;">
        <div style="float:left;margin-top:6px;"><i class="fa fa-folder-open-o" style="font-size:24px;margin-left:8px;"></i><span style="font-size: 16px;margin-left:5px;">{{programName}}</span></div>
       </div>
		</div>
    	<!-- form start -->

				<div class="card-body">


		<div class="card"  align="center" style="box-shadow: none !important;padding:5px;">
			<table width="100%"  border="0"  cellspacing="2" cellpadding="2" class="form_table">
        <!-- <div align="center" style="width:60%; margin:0 auto"> -->

        <!-- <tr>
					<td width="44.5%"  align="right">ความ :&nbsp;</td>
					<td width="56%" >
            <div style="float:left;" >
              <ng-select [(ngModel)]="selectedCasetype" (change)="changeCaseType($event)" style="width:100px;height: 28px;" [ngModelOptions]="{standalone: true}"  #sCaseTypeId>
                <ng-option *ngFor="let getData of getCaseType" [value]=getData.fieldIdValue>{{getData.fieldNameValue}}</ng-option>
              </ng-select>
            </div>

          </td>
				</tr> -->
        <tr >
					<td  align="right" width="44%" >ทำรายการเบิกวันที่ :&nbsp;</td>
            <td  align="left">
            <div style="float:left;"><input  name="txt_date_start" id="txt_date_start" type="text"  placeholder="่วว/ดด/ปปปป" value=""  class="form-control jcalendar date_start" style="width:120px;height: 28px;" ></div>
            <div style="float:left;margin-left:4px;margin-top:5px;"><i class="fa fa-calendar" style="font-size: 16px;" onClick="$('.date_start').focus();"></i></div>
						<div style="float:left;margin-left:8px;margin-top:5px;">&nbsp;ถึง&nbsp;&nbsp;</div>
		        <div style="float:left;"><input  name = "txt_date_end" id="txt_date_end" type="text" placeholder="วว/ดด/ปปปป" value=""  class="form-control jcalendar date_end" style="width:120px;height: 28px;" ></div>
            <div style="float:left;margin-left:4px;margin-top:5px;"><i class="fa fa-calendar" style="font-size: 16px;" onClick="$('.date_end').focus();"></i></div>
          </td>
				</tr>
        <tr>
          <td align="right">ประเภทใบเสร็จ :&nbsp;</td>
          <td align="left" colspan="4">
            <div style="float: left;">
              <ng-select [(ngModel)]="result.rcv_flag" name="rcv_flag" style="width:150px;"
                [ngModelOptions]="{standalone: true}" (change)="changeRcvFlag($event)" #sRcvType>
                <ng-option [value]=0>ทั้งหมด</ng-option>
                <ng-option *ngFor="let getData of getRcvFlag" [value]=getData.fieldIdValue>{{getData.fieldNameValue}}
                </ng-option>
              </ng-select>
            </div>
            <div style="float: left; margin-left: 5px;">กลุ่มการพิมพ์ :&nbsp;</div>
            <div style="float:left; margin-left:2px;">
              <ng-select [(ngModel)]="result.pgroup_id" style="width:110%;" [ngModelOptions]="{standalone: true}"
                #sPgroupId>
                <ng-option [value]=0 *ngIf="result.rcv_flag ==0">ทั้งหมด</ng-option>
                <ng-option [value]=76 *ngIf="result.rcv_flag ==0">ทั้งหมด ไม่รวมเบ็ดเตล็ด</ng-option>
                <span *ngIf="result.rcv_flag >= 1">
                  <ng-option *ngFor="let getData of getPgroupId" [value]=getData.fieldIdValue>{{getData.fieldNameValue}}
                  </ng-option>
                </span>
              </ng-select>
            </div>

          </td>
          <!-- <td>&nbsp;</td> -->
        </tr>
        <tr>
          <td align="right">หน่วยงานที่รับ :&nbsp;</td>
          <td align="left">
            <div style="float:left;">
              <input type="text" [(ngModel)]="dep_id" (change)="tabChangeSelect('dep_id',getDep,$event,1)"
                class="form-control" style="width:80px;text-align:center;float:left;"
                onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46">
            </div>
            <div style="float:left;margin-left:2px;">
              <ng-select [(ngModel)]="result.dep_id" style="width:300px;" (change)="tabChangeSelect('dep_id',getDep,$event,2)" #sDep>
                <ng-option [value] = ""></ng-option>
                <ng-option *ngFor="let getData of getDep" [value]=getData.fieldIdValue>{{getData.fieldNameValue}}
                </ng-option>
              </ng-select>
            </div>
          </td>
        </tr>


    <!-- </div> -->
       <div>&nbsp;</div>
	</table> </div>
      <!-- /.card-body -->
				<div class="card-footer" align="center">
         <button type="button" class="btn btn-info" style="margin-left:5px;"  (click)="printReport()">พิมพ์รายงาน</button>
          <button type="reset" class="btn btn-warning" style="margin-left:5px;color:white;" (click)="ClearAll()">ล้างหน้าจอ</button>
				</div>
				<!-- /.card-footer -->
</div>

