<style>

</style>
<app-menu></app-menu>
<div style="width:100%;height:100%;" id="div-wraper" >
	<div class="content" style="padding:10px;" >
		<div class="card card-info" style="box-shadow: none !important;">
			<div class="" style="height:40px;border-radius: 4px;border:1px solid #17a2b8 !important;background-color: #e1f6f9;">
				<div style="float:left;margin-top:6px;"><i class="fa fa-folder-open-o" style="font-size:24px;margin-left:8px;"></i><span style="font-size: 16px;margin-left:5px;">{{programName}}</span></div>
			</div>
		</div>
    	<!-- form start -->
		<!-- <form class="form-horizontal" id="myForm"  #prsn1100> -->
		<div class="card-body">
			<div class="card"  align="center" style="box-shadow: none !important;padding:5px;">
				<table width="80%"  border="0"  cellspacing="2" cellpadding="2" class="form_table" style="margin:0 auto;">
					
					<tr>
						<td  align="right">
							<div style="margin-left:3px;">
								<ng-select [(ngModel)]="result.pflag" style="width:180px;" [clearable]="false" [ngModelOptions]="{standalone: true}" #sType>
									<ng-option *ngFor="let getData of getFlag" [value]=getData.id >{{getData.text}}</ng-option>
									</ng-select>
							</div>
						</td>

						<td>
							<div style="float: left; margin-left:3px;">
								<input  type="text" [(ngModel)]="result.txtStartDate"  class="form-control jcalendar txtStartDate" #txtStartDate (click)="directiveDate(txtStartDate.value,'txtStartDate')" style="width:120px;" />
							</div>
							<div style="float:left; margin-left:4px;margin-top:5px;"><i class="fa fa-calendar" style="font-size: 16px;" onClick="$('.txtStartDate').focus();"></i></div>
							<div style="float:left; margin-left:8px;margin-top:5px;">&nbsp;ถึง&nbsp;&nbsp;</div>
							<div style="float:left;">
								<input  type="text" [(ngModel)]="result.txtEndDate"  class="form-control jcalendar txtEndDate" #txtEndDate (click)="directiveDate(txtEndDate.value,'txtEndDate')" style="width:120px;" />
							</div>
							<div style="float:left; margin-left:4px;margin-top:5px;"><i class="fa fa-calendar" style="font-size: 16px;" onClick="$('.txtEndDate').focus();"></i></div>
							
							<div style="float: left;margin-left:6px;margin-top:2px;">ผลหมาย :&nbsp;</div>
							<div style="margin-left:3px;float:left;">
								<ng-select [(ngModel)]="result.ptype" style="width:180px;" [clearable]="false" [ngModelOptions]="{standalone: true}" #sType>
									<ng-option *ngFor="let getData of getType" [value]=getData.id >{{getData.text}}</ng-option>
								</ng-select>
							</div>
						</td>

					</tr>

					<tr>
						<td align="right">ความ :&nbsp;</td>
						<td align="left">
							<div style="float: left;">
							<ng-select [(ngModel)]="result.pcase_type" style="width:100px;" [clearable]="false" [ngModelOptions]="{standalone: true}" (change)="changeCaseType($event)" #sCaseType>
							<ng-option *ngFor="let getData of getCaseType" [value]=getData.fieldIdValue >{{getData.fieldNameValue}}</ng-option>
							</ng-select>
							</div>

							<div style="float:left; margin-left:8px;margin-top:5px;">&nbsp;ประเภทหมาย :&nbsp;</div>
							<div style="float: left;">
								<ng-select [(ngModel)]="result.pno_money" style="width:200px;" [clearable]="false" [ngModelOptions]="{standalone: true}" #sType>
								<ng-option *ngFor="let getData of getNoMoney" [value]=getData.id >{{getData.text}}</ng-option>
								</ng-select>
							</div>
						</td>
					</tr>

					<tr>
						<td align="right">ในเขต/ข้ามเขต :&nbsp;</td>
						<td align="left">
							<div style="float: left;">
							<ng-select [(ngModel)]="result.pinout_flag" style="width:160px;" [clearable]="false" [ngModelOptions]="{standalone: true}" #sCaseType>
							<ng-option *ngFor="let getData of getInoutFlag" [value]=getData.id >{{getData.text}}</ng-option>
							</ng-select>
							</div>

							<div style="float:left; margin-left:8px;margin-top:5px;">&nbsp;ส่งโดย :&nbsp;</div>
							<div style="float: left;">
								<ng-select [(ngModel)]="result.psend_by" style="width:200px;" [clearable]="false" [ngModelOptions]="{standalone: true}" #sType>
								<ng-option *ngFor="let getData of getSendBy" [value]=getData.id >{{getData.text}}</ng-option>
								</ng-select>
							</div>

							<div style="float:left; margin-left:8px;margin-top:5px;">&nbsp;ค่านำหมาย :&nbsp;</div>
							<div style="float: left;">
								<ng-select [(ngModel)]="result.psend_amt" style="width:200px;" [clearable]="false" [ngModelOptions]="{standalone: true}" #sType>
								<ng-option *ngFor="let getData of getSendAmt" [value]=getData.id >{{getData.text}}</ng-option>
								</ng-select>
							</div>
						</td>
					</tr>
					
					<tr >
						<td align="right" >จังหวัด :&nbsp;</td>
						<td align="left">
							<div style="float: left;" >
								<ng-select [(ngModel)]="result.prov_id" (change)="changeProv($event,1)" style="width:150px;" #sProv>
									<ng-option *ngFor="let getData of getProv" [value]=getData.fieldIdValue>{{getData.fieldNameValue}}</ng-option>
								</ng-select>
							</div>

							<div style="float: left;margin-left:6px;margin-top:2px;">อำเภอ/เขต :&nbsp;</div>
							<div style="float: left;">
								<ng-select [(ngModel)]="result.amphur_id"  style="width:150px;" #sAmphur>
									<ng-option *ngFor="let getData of getAmphur" [value]=getData.fieldIdValue>{{getData.fieldNameValue}}</ng-option>
								</ng-select>
							</div>
						</td>
					</tr>

					<tr>
						<td align="right">พิมพ์ตาม :&nbsp;</td>
						<td align="left">
							<div style="float: left;">
							<ng-select [(ngModel)]="result.pprint_flag" style="width:160px;" [clearable]="false" [ngModelOptions]="{standalone: true}" (change)="changeCaseType($event)" #sCaseType>
							<ng-option *ngFor="let getData of getPrintFlag" [value]=getData.id >{{getData.text}}</ng-option>
							</ng-select>
							</div>
							<div style="float:left; margin-left:8px;margin-top:5px;">&nbsp;เรียงข้อมูลตาม :&nbsp;</div>
							<div style="float: left;">
								<ng-select [(ngModel)]="result.porder2" style="width:200px;" [clearable]="false" [ngModelOptions]="{standalone: true}" #sType>
								<ng-option *ngFor="let getData of getOrder2" [value]=getData.id >{{getData.text}}</ng-option>
								</ng-select>
							</div>
						</td>
					</tr>

					<tr >
						<td align="right">ผู้รับหมาย :&nbsp;</td>
						<div style="float: left;">
							<input type="text" [(ngModel)]="result.prcv_off_id" (change)="tabChangeInput('prcv_off_id',$event)" class="form-control" style="width:60px;"/>
						</div>
						<div style="float: left; margin-left:2px;">
							<input type="text" [(ngModel)]="result.rcvuser_name" readonly class="form-control" style="width:345px;"/>
						</div>
						<div style="float: left;margin-left:2px;margin-top:2px;" >
							<i class='far fa-list-alt' style="font-size: 20px; margin-left: 2px;cursor: pointer;" (click)="clickOpenMyModalComponent(3)"></i>
						</div>
					</tr>
					<tr >
						<td align="right">ผู้เดินหมาย :&nbsp;</td>
						<div style="float: left;">
							<input type="text" [(ngModel)]="result.user_id" (change)="tabChangeInput('user_id',$event)" class="form-control" style="width:60px;"/>
						</div>
						<div style="float: left; margin-left:2px;">
							<input type="text" [(ngModel)]="result.user_name" readonly class="form-control" style="width:345px;"/>
						</div>
						<div style="float: left;margin-left:2px;margin-top:2px;" >
							<i class='far fa-list-alt' style="font-size: 20px; margin-left: 2px;cursor: pointer;" (click)="clickOpenMyModalComponent(4)"></i>
						</div>
					</tr>
					<tr >
						<td align="right">ผู้จ่ายหมาย :&nbsp;</td>
						<div style="float: left;">
							<input type="text" [(ngModel)]="result.puser_send_id" (change)="tabChangeInput('puser_send_id',$event)" class="form-control" style="width:60px;"/>
						</div>
						<div style="float: left; margin-left:2px;">
							<input type="text" [(ngModel)]="result.puser_send_name" readonly class="form-control" style="width:345px;"/>
						</div>
						<div style="float: left;margin-left:2px;margin-top:2px;" >
							<i class='far fa-list-alt' style="font-size: 20px; margin-left: 2px;cursor: pointer;" (click)="clickOpenMyModalComponent(5)"></i>
						</div>
					</tr>

					<div>&nbsp;</div>
				</table>
			</div>
      		<!-- /.card-body -->
			<div class="card-footer" align="center">
				<button type="button" class="btn btn-info" style="margin-left:5px;"  (click)="printReport(1)">พิมพ์รายงาน</button>
				<button type="button" class="btn btn-info" style="margin-left:5px;"  (click)="printReport(2)">พิมพ์รายงาน (แนวตั้ง)</button>
				<button type="reset" class="btn btn-warning" style="margin-left:5px;color:white;" (click)="ClearAll()">ล้างหน้าจอ</button>
			</div>
			<!-- /.card-footer -->
		</div>
        <!-- </form> -->

		<div class="modal fade" data-refresh="true" role="dialog" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width:100%;height:100%;">
			<div class="modal-dialog">
				<div class="modal-content">
				<div class="modal-header">
				<h5 class="modal-title text-danger" id="exampleModalLabel"></h5>
				<button type="button" #closebutton class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
				<button type="button" class="btn btn-warning" style="display:none;" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="loadMyModalComponent();" #openbutton></button>
				</div>
				<div class="modal-body" >
				<div style="min-height: 100px;max-height: 480px;overflow: auto;">
				<app-datalist-return *ngIf="loadModalListComponent" [items]=list [value1]=listTable [value2]=listFieldId [value3]=listFieldName [value4]=listFieldNull [value7]=listFieldCond (onClickList)="receiveFuncListData($event)" class="modal_app"></app-datalist-return>
				</div>
				</div>
				<div class="modal-footer">
				<button type="button" class="btn btn-warning" data-bs-dismiss="modal" (click)="closeModal()">ปิดหน้าจอ</button>
				</div>
				</div>
			</div>
		</div>

	</div>
</div>
