<div *ngIf="this.types">
  <form class="form-horizontal" [formGroup]="formList">
    <div class="modal-body" >
      <div style="min-height: 100px;max-height: 480px;overflow: auto;">
        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="1" class="bordered" style="margin-top:4px;">
          <thead>
            <tr align="center">
              <th width="150" height="25" ><strong>ที่</strong></th>
              <th ><strong >ผู้ถูกประกัน</strong></th>
            </tr>
          </thead>
          <tbody *ngIf="items?.length != 0" >
            <tr *ngFor="let datas of items;let i = index;" >
              <td align="center" (click)="onClickListData(i)">{{datas.item_no}}</td>
              <td align="center" (click)="onClickListData(i)">{{datas.def_name}}</td>
            </tr>
          </tbody>
          <tbody *ngIf="items?.length == 0">
            <tr>
              <td colspan="2" style="color:red;text-align: center;" class="no-data-available">###### ไม่พบข้อมูล #######</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
  </form>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
	<p style="color: gray">Please Wait. </p>  
</ngx-spinner> 