<table width="100%" border="0" align="center" cellpadding="0" cellspacing="1" class="bordered table" style="margin-top:4px;" >
  <thead>
    <tr align="center" >
      <th  height="25" ><strong>เลือก</strong></th>
      <th ><strong >หมายเลขคดีดำ</strong></th>
      <th ><strong >หมายเลขคดีแดง</strong></th>
      <th ><strong >ใบเสร็จรับเงินเล่มที่/เลขที่</strong></th>
      <th ><strong >วันที่รับเงิน</strong></th>
      <th ><strong >หมายเหตุ</strong></th>
      <th ><strong >ผู้นำหมาย</strong></th>
      <th ><strong >ผู้ชำระเงิน</strong></th>
      <th ><strong >จำนวนเงินที่รับ</strong></th>
      <th ><strong >จำนวนเงินที่หัก</strong></th>
      <th ><strong >จำนวนเงินคงเหลือ</strong></th>
    </tr>
  </thead>
  <tbody *ngIf="items?.length != 0" >
    <tr *ngFor="let datas of items;let i = index;" [ngClass]="{'orange': datas.remain_amt==0}">
      <td align="center" ><input type="checkbox" [(ngModel)]="this.items[i].index" *ngIf="itemsTmp[i].sel==1 || itemsTmp[i].remain_amt>0" style="height:15px;width:15px;margin-top:2px;cursor:pointer;" #checkbox1 (click)="assign(i,checkbox1.checked)"> </td>
      <td align="center" >{{datas.case_no}}</td>
      <td align="center" >{{datas.red_no}}</td>
      <td align="center" >{{datas.receipt_no}}</td>
      <td align="center" >{{datas.rcv_date}}</td>
      <td align="center" >{{datas.remark}}</td>
      <td align="center" >{{datas.lit_type_desc}}</td>
      <td align="center" >{{datas.lead_name}}</td>
      <td align="center" >{{datas.sum_fee}}</td>
      <td align="center" >{{datas.reserv_amt}}</td>
      <td align="center" >{{datas.remain_amt}}</td>
    </tr>
   </tbody>
   <tbody *ngIf="items?.length == 0">
    <tr><td colspan="11" style="color:red;text-align: center;" class="no-data-available">###### ไม่พบข้อมูล #######</td></tr>
  </tbody>
</table>
<div class="card-footer" style="text-align: right;margin-top:2px;">
  <button type="button" class="btn btn-primary" style="margin-left:5px;"  (click)="saveData()">จัดเก็บข้อมูลที่เลือก </button>
  <button type="button" class="btn btn-danger" style="margin-left:5px;"  (click)="cancelData()">ยกเลิกการตัดเงินทั้งหมด</button>
  <button type="button" class="btn btn-warning" style="margin-left:5px;"  (click)="showDataList()">ยกเลิก</button>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
	<p style="color: gray">Please Wait.</p>  
</ngx-spinner> 
