<style>
	
</style>
<app-menu></app-menu>
<div style="width:100%;height:100%;" id="div-wraper" >
	<div class="content" style="padding:10px;" >
		<div class="card card-info" style="box-shadow: none !important;">
			<div class="" style="height:40px;border-radius: 4px;border:1px solid #17a2b8 !important;background-color: #e1f6f9;">
				<app-case-header *ngIf="programName" [runId]="runId"></app-case-header>
			</div>
		</div>
		<div class="card card-info" style="box-shadow: none !important;margin-top:-4px;">
			<app-case-head *ngIf="defaultCaseType" (sendCaseData)="fnDataHead($event)" [runId]="runId"></app-case-head>
		</div>	
		<div class="card " style="box-shadow: none !important;padding:5px;">
			<table width="100%"  border="0" cellspacing="2" cellpadding="0" class="form_table">           
				<tr>
					<td width="25%" align="right" >เลขที่อ้างอิง :&nbsp;</td>
					<td width="75%" align="left" >
						<div style="float: left;">
							<input  type="text" [(ngModel)]="result.run_no"   class="form-control" style="width:70px;height:28px;text-align: center;"/>
						</div>
						<div style="float: left;margin-left:0px;margin-top:4px;font-size: 18px;">&nbsp;/&nbsp;</div>
						<div style="float: left;">
							<input  type="text"  [(ngModel)]="result.run_yy"  class="form-control" style="width:70px;height:28px;text-align: center;"/>
						</div>
						<div style="float:left;margin-left:8px;"><button type="button" class="btn btn-primary" style="margin-left:5px;" (click)="searchRunNo(1)">ค้นหา</button></div>
						<div style="float:left;margin-left:8px;"><button type="button" class="btn btn-success" style="margin-left:5px;" (click)="getMasterButton(2)">สร้างเลขอ้างอิงใหม่</button></div>
						<input type="hidden" [(ngModel)]="result.master_running">
					</td>
				</tr>
				<tr>
					<td width="25%" align="right" >ประเภทการส่ง :&nbsp;</td>
					<td width="75%" align="left" >
						<div style="float: left;">
							<ng-select  [(ngModel)]="result.event_type" style="width:200px;"    #sEventType>
								<ng-option *ngFor="let getData of getEventType" [value]=getData.fieldIdValue >{{getData.fieldNameValue}}</ng-option>
							</ng-select>
						</div>
						<div style="float: left;margin-left:10px;margin-top:4px;">ประเภทสำนวน :&nbsp;</div>
						<div style="float: left;">
							<ng-select  [(ngModel)]="result.send_flag" style="width:200px;"   #sSendFlag>
								<ng-option *ngFor="let getData of getSendFlag" [value]=getData.fieldIdValue >{{getData.fieldNameValue}}</ng-option>
							</ng-select>
						</div>
						<div style="float: left;margin-left:10px;margin-top:4px;">วันที่รับส่ง :&nbsp;</div>
						<div style="float: left;">
							<input  type="text" [(ngModel)]="result.event_date" readonly  class="form-control" style="width:100px;height:28px;"/>
						</div>
						<div style="float: left;margin-left:10px;margin-top:4px;">เวลาที่ส่ง :&nbsp;</div>
						<div style="float: left;">
							<input  type="text"  [(ngModel)]="result.event_time" readonly class="form-control" style="width:100px;height:28px;"/>
						</div>
					</td>
				</tr>
				<tr>
					<td  align="right" >ปลายทาง :&nbsp;</td>
					<td  align="left" >
						<div style="float: left;">
							<input  type="text" [(ngModel)]="result.dep_id"   class="form-control" (change)="tabChangeInput('dep_id',$event)" style="width:60px;height:28px;"/>
						</div>
						<div style="float: left;margin-left:2px;">
							<input   type="text" [(ngModel)]="result.dep_name" readonly  class="form-control" style="width:220px;height:28px;"/>
						</div>
						<div style="float: left;margin-left:2px;margin-top:2px;" >
							<i  class="far fa-list-alt" style="font-size: 20px; margin-left: 2px;cursor: pointer;" (click)="clickOpenMyModalComponent(1)"></i>
						</div>
						<div style="float: left;margin-left:80px;margin-top:4px;">ส่งให้ผู้พิพากษา :&nbsp;</div>
						<div style="float: left;">
							<input  type="text" [(ngModel)]="result.judge_id"   class="form-control" (change)="tabChangeInput('judge_id',$event)" style="width:60px;height:28px;"/>
						</div>
						<div style="float: left;margin-left:2px;">
							<input   type="text" [(ngModel)]="result.judge_name"  readonly class="form-control" style="width:220px;height:28px;"/>
						</div>
						<div style="float: left;margin-left:2px;margin-top:2px;" >
							<i  class="far fa-list-alt" style="font-size: 20px; margin-left: 2px;cursor: pointer;" (click)="clickOpenMyModalComponent(2)"></i>
						</div>
						
					</td>
				</tr>
				<tr>
					<td  align="right" >หมายเหตุ :&nbsp;</td>
					<td  align="left" >

						<div style="float: left;">
							<input  type="text"  [(ngModel)]="result.reason_id"  class="form-control"  (change)="tabChangeInput('reason_id',$event)" style="width:60px;height:28px;"/>
						</div>
						<div style="float: left;margin-left:2px;">
							<input   type="text"  [(ngModel)]="result.reason"  class="form-control" style="width:450px;height:28px;"/>
						</div>
						<div style="float: left;margin-left:2px;margin-top:2px;" >
							<i  class="far fa-list-alt" style="font-size: 20px; margin-left: 2px;cursor: pointer;" (click)="clickOpenMyModalComponent(3)"></i>
						</div>
						<div style="float: left;margin-left:2px;margin-top:2px;" >
							<i  class="far fa-list-alt" style="font-size: 20px; margin-left: 2px;cursor: pointer;" (click)="clickOpenMyModalComponent(4)"></i>
						</div>
						<div style="float: left;margin-left:2px;margin-top:2px;" >
							<i  class="far fa-list-alt" style="font-size: 20px; margin-left: 2px;cursor: pointer;" (click)="clickOpenMyModalComponent(5)"></i>
						</div>
						
					</td>
				</tr>
				<tr>
					<td  align="right" >&nbsp;</td>
					<td  align="left" style="padding-top: 8px;">

						<fieldset style="width:95%;border-radius:4px;border:1px solid #333333;padding:1px;padding:5px;">
							<legend style="line-height: 10px;float:none;margin-left:18px;font-weight:bold;color:#333333;padding:0 6px 0 6px;font-size:16px;border-bottom:none;width:auto;cursor:pointer;margin-bottom: 6px;" class="lClick">สำนวนพ่วง </legend>
							<table datatable [dtOptions]="grouptOptions" [dtTrigger]="dtTrigger"  class="table tb-group table-striped table-bordered table-sm row-border hover" >
								<thead>
									<tr>
									<th width="8%" class="no-sort"><input type="checkbox"  [(ngModel)]="masterSelect" style="height:15px;width:15px;margin-top:2px;cursor:pointer;"  (change)="checkUncheckAll(this.dataGroup,'masterSelect','gRunning')"></th>
									<th width="25%" class="no-sort">หมายเลขคดีดำ</th>
									<th width="25%" class="no-sort">หมายเลขคดีแดง</th>
									<th width="42%" class="no-sort">ประเภทสำนวน</th>
									</tr>
								</thead>
								<tbody *ngIf="dataGroup?.length != 0">
									<tr *ngFor="let post of dataGroup;let i = index;">
										<td align="center"><input type="checkbox" [(ngModel)]="this.dataGroup[i].gRunning" style="height:15px;width:15px;margin-top:2px;cursor:pointer;" (change)="isAllSelected(this.dataGroup,'masterSelect','gRunning')"></td>
										<td align="center">{{post.black_no}}</td>
										<td align="center">{{post.red_no}}</td>
										<td align="center">
											<select [(ngModel)]="dataGroup[i].send_flag" style="height:24px !important;border-radius: 4px !important;border: 1px solid #ced4da;">
												<option value=1 >สำนวน</option>
												<option value=2 >กากสำนวน</option>
											</select>
										</td>
									</tr>
								</tbody>
								<tbody *ngIf="dataGroup?.length == 0">
									<tr>
										<td colspan="4" style="color:red;text-align: center;" class="no-data-available">###### ไม่พบข้อมูล #######</td>
										<td style="display:none;"></td>
										<td style="display:none;"></td>
										<td style="display:none;"></td>
									</tr>
								</tbody>
								
							</table> 
						</fieldset>
						
					</td>
				</tr>
				<tr>
					<td  align="left" ><div>&nbsp;แสดงข้อมูลตามหน่วยงานที่ส่งสำนวน :&nbsp;</div></td>
					<td  align="left" ></td>
				</tr>
				<tr>
					<td  align="left" colspan="2" style="padding-left:50px;">
						<div style="float:left;margin-left:8px;margin-top:5px;">เลขที่อ้างอิง :&nbsp;</div>
						<div style="float: left;">
							<input  type="text" [(ngModel)]="result2.srun_no"   class="form-control" style="width:70px;height:28px;text-align: center;"/>
						</div>
						<div style="float: left;margin-left:0px;margin-top:4px;font-size: 18px;">&nbsp;/&nbsp;</div>
						<div style="float: left;">
							<input  type="text"  [(ngModel)]="result2.srun_yy"  class="form-control" style="width:70px;height:28px;text-align: center;"/>
						</div>
						<div style="float:left;margin-left:8px;margin-top:5px;">&nbsp;หน่วยงานที่ส่ง :&nbsp;</div>
						<div style="float: left;">
							<input  type="text"  [(ngModel)]="result2.sdep_id"  class="form-control" (change)="tabChangeInput('sdep_id',$event)" style="width:60px;height:28px;"/>
						</div>
						<div style="float: left;margin-left:2px;">
							<input   type="text"  [(ngModel)]="result2.sdep_name" readonly class="form-control" style="width:220px;height:28px;"/>
						</div>
						<div style="float: left;margin-left:2px;margin-top:2px;" >
							<i  class="far fa-list-alt" style="font-size: 20px; margin-left: 2px;cursor: pointer;" (click)="clickOpenMyModalComponent(6)"></i>
						</div>
						<div style="float:left;margin-left:8px;margin-top:5px;">&nbsp;ปลายทาง :&nbsp;</div>
						<div style="float: left;">
							<input  type="text"  [(ngModel)]="result2.sdep_id2"  class="form-control" (change)="tabChangeInput('sdep_id2',$event)" style="width:60px;height:28px;"/>
						</div>
						<div style="float: left;margin-left:2px;">
							<input   type="text"  [(ngModel)]="result2.sdep_name2" readonly class="form-control" style="width:220px;height:28px;"/>
						</div>
						<div style="float: left;margin-left:2px;margin-top:2px;" >
							<i  class="far fa-list-alt" style="font-size: 20px; margin-left: 2px;cursor: pointer;" (click)="clickOpenMyModalComponent(7)"></i>
						</div>
						<div style="float:left;margin-left:8px;margin-top:5px;">&nbsp;วันที่ส่ง :&nbsp;</div>
						<div style="float:left;"><input   type="text" [(ngModel)]="result2.sdate1" class="form-control jcalendar sdate1" #sdate1 (click)="directiveDate2(sdate1.value,'sdate1')" style="width:100px;height:28px;text-align: center;"></div>
                    	<div style="float:left;margin-left:8px;margin-top:5px;"><i class="fa fa-calendar" style="font-size: 16px;" onClick="$('.sdate1').focus();"></i></div>
						<div style="float:left;margin-left:8px;margin-top:5px;color:blue;">&nbsp;ถึง&nbsp;</div>
						<div style="float:left;"><input   type="text" [(ngModel)]="result2.sdate2" class="form-control jcalendar sdate2"  #sdate2 (click)="directiveDate2(sdate2.value,'sdate2')" style="width:100px;height:28px;text-align: center;"></div>
                    	<div style="float:left;margin-left:8px;margin-top:5px;"><i class="fa fa-calendar" style="font-size: 16px;" onClick="$('.sdate2').focus();"></i></div>
						<div style="float:left;margin-left:8px;"><button type="button" class="btn btn-primary" style="margin-left:5px;" (click)="getHistoricalData(1)">ค้นหา</button></div>
					</td>
				</tr>
				
			</table>	
			<div class="card-footer" style="text-align: center;">
				<button type="button" class="btn btn-success" style="margin-left:5px;" (click)="saveData()">จัดเก็บข้อมูล</button>
				<button type="button" class="btn btn-warning" style="margin-left:5px;"  onclick="location.reload()">ยกเลิก</button>
				<button type="button" class="btn btn-danger" style="margin-left:5px;"  (click)="cancelData()">ยกเลิกส่งสำนวน</button>
				<button type="button" class="btn btn-info" style="margin-left:5px;"  (click)="gotoLink()">พิมพ์</button>
				<!--<button type="button" class="btn btn-primary" style="margin-left:5px;"  >สำนวนที่ต้องส่ง</button>
				<button type="button" class="btn btn-primary" style="margin-left:5px;"  >คดีค้างรับสำนวน</button>
				-->
			</div>
		</div>	

		<div class="card " style="box-shadow: none !important;padding:5px;width: 2800px;">
			<table datatable [dtOptions]="dtOptions2" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-sm row-border hover" style="width:100%;">
				<thead>
					<tr>
						<th width="3%" class="no-sort"><input type="checkbox"  [(ngModel)]="masterSelect2" style="height:15px;width:15px;margin-top:2px;cursor:pointer;"  (change)="checkUncheckAll(this.dataHistorical,'masterSelect2','hRunning')"></th>		
						  <th width="3%" >เลขอ้างอิง</th>
						  <th width="3%" >เลขที่</th>
						  <th width="3%" >ความ</th>
						  <th width="4%" >คดีฝากขัง</th>
						  <th width="4%" >คดีหมายเลขดำ</th>
						  <th width="4%" >คดีหมายเลขแดง</th>
						  <th width="6%" >โจทก์</th>
						  <th width="6%" >จำเลย</th>
						  <th width="6%" >ประเภทสำนวน</th>
						  <th width="6%" >เจ้าของสำนวน</th>
						  <th width="6%" >ประเภทการส่ง</th>
						  <th width="6%" >ปลายทาง</th>
						  <th width="6%" >ผู้พิพากษา</th>
						  <th width="5%" >วันที่</th>
						  <th width="5%" >เวลา</th>
						  <th width="7%" >หมายเหตุ</th>
						  <th width="6%" >หน่วยงานที่บันทึก</th>
						  <th width="6%" >ผู้บันทึก</th>
						  <th width="6%" >วัน/เวลาที่บันทึก</th>
					</tr>
				</thead>
				
				<tbody *ngIf="dataHistorical?.length != 0">
					<tr *ngFor="let post of dataHistorical;let i = index;">
						<td align="center">
							<input type="checkbox" [(ngModel)]="this.dataHistorical[i].hRunning" style="height:15px;width:15px;margin-top:2px;cursor:pointer;" (change)="isAllSelected(this.dataHistorical,'masterSelect2','hRunning')" *ngIf="post.rcv_flag!=1">
							<span *ngIf="post.rcv_flag==1" style="color:green">[ รับแล้ว ]</span>
						</td>
						<td align="center">{{post.master_run_no}}</td>
						<td align="center">{{post.send_running}}</td>
						<td align="center">{{post.case_type_desc}}</td>
						<td align="center">{{post.post}}</td>
						<td align="center">{{post.case_no}}</td>
						<td align="center">{{post.red_no}}</td>
						<td align="center">{{post.pros_desc}}</td>
						<td align="center">{{post.accu_desc}}</td>
						<td align="center">{{post.event_type_name}}</td>
						<td align="center">{{post.case_judge_name}}</td>
						<td align="center">{{post.send_flag_name}}</td>
						<td align="center">{{post.to_dep_name}}</td>
						<td align="center">{{post.judge_name}}</td>
						<td align="center">{{post.event_date}}</td>
						<td align="center">{{post.event_time}}</td>
						<td align="center">
							<!-- {{post.reason}} -->
							<input   type="text" [(ngModel)]="dataHistorical[i].reason" class="form-control" style="width:220px;height:28px;" (change)="updateData(i)" />
						</td>
						<td align="center">{{post.create_dep_code}}</td>
						<td align="center">{{post.create_user}}</td>
						<td align="center">{{post.create_date}}</td>

					</tr>
				</tbody>
				<tbody *ngIf="dataHistorical?.length == 0">
					<tr >
						<td colspan="20" style="color:red;text-align: center;" class="no-data-available">###### ไม่พบข้อมูล #######</td>
						<td style="display:none;"></td>
						<td style="display:none;"></td>
						<td style="display:none;"></td>
						<td style="display:none;"></td>
						<td style="display:none;"></td>
						<td style="display:none;"></td>
						<td style="display:none;"></td>
						<td style="display:none;"></td>
						<td style="display:none;"></td>
						<td style="display:none;"></td>
						<td style="display:none;"></td>
						<td style="display:none;"></td>
						<td style="display:none;"></td>
						<td style="display:none;"></td>
						<td style="display:none;"></td>
						<td style="display:none;"></td>
						<td style="display:none;"></td>
						<td style="display:none;"></td>
						<td style="display:none;"></td>
			

					</tr>
				</tbody>
			</table>
		</div>
	</div>


	<div class="modal fade" data-refresh="true"  role="dialog" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width:100%;height:100%;">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title text-danger" id="exampleModalLabel"></h5>
			  <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
			  <button type="button" class="btn btn-warning" style="display:none;" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="loadMyModalComponent();" #openbutton></button>
			</div>
			<div class="modal-body" >
	
					<input type="hidden" name="table_name" id="table_name">
					<input type="hidden" name="field_id" id="field_id">
					<input type="hidden" name="field_name" id="field_name">
					<div style="min-height: 100px;max-height: 480px;overflow: auto;">
					<app-modal-judge *ngIf="loadModalJudgeComponent" [items]=list [value1]=listTable [value2]=listFieldId [value3]=listFieldName [value4]=listFieldNull [value5]=listFieldType (onClickList)="receiveJudgeListData($event)" class="modal_app"></app-modal-judge>
					<app-datalist-return *ngIf="loadModalComponent" [items]=list [value1]=listTable [value2]=listFieldId [value3]=listFieldName [value4]=listFieldNull [value7]=listFieldCond (onClickList)="receiveFuncListData($event)" class="modal_app"></app-datalist-return>
					<app-modal-confirm *ngIf="loadModalConfComponent" class="modal_app"></app-modal-confirm>
				</div>
	
			</div>
			<div class="modal-footer">
				<button type="button"  class="btn btn btn-primary" (click)="submitModalForm()" *ngIf="loadModalConfComponent">ตกลง</button>
				  <button type="button"  class="btn btn-warning" data-bs-dismiss="modal" (click)="closeModal()">ปิดหน้าจอ</button>
			</div>
		  </div>
		</div>
	</div>



<!--<script src="case-type.component.js"></script>-->
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
	<p style="color: gray">Please Wait. </p>  
</ngx-spinner>

