<div [style.width]="widthSet">
  <mat-tab-group animationDuration="0ms" [selectedIndex]="0" (selectedIndexChange)="1" (selectedTabChange)="assignWidth($event)">
    <mat-tab label="หน้า 1" style="padding:5px !important;" ><app-fst2300-tab1   [caseData]="caseData" (eventUpdate)="receiveEventData($event)"></app-fst2300-tab1></mat-tab>
    <mat-tab label="หน้า 2" style="padding:5px !important;" ><app-fst2300-tab2   [caseData]="caseData" (eventUpdate)="receiveEventData($event)"></app-fst2300-tab2></mat-tab>
  </mat-tab-group>
</div>
  
