<style>

</style>
<app-menu></app-menu>
<div style="width:100%;height:100%;" id="div-wraper">
	<div class="content" style="padding:10px;" >
		<div class="card card-info">
			<div class="card-header">
			<h3 class="card-title">{{programName}}</h3>
			</div>
			<!-- /.card-header -->
			<!-- form start -->

				<div class="card-body">
					<!--	-->
					<table width="100%"  border="0" cellspacing="2" cellpadding="0" >

            <tr>
              <td align="right" >รหัสจังหวัด :&nbsp;</td>
				<td align="left">
					<div style="float:left;width:200px;">
						<ng-select [(ngModel)]="prov_id" style="width:95%;" name="something1" (change)="changeProv($event,1)" [ngModelOptions]="{standalone: true}" #sProv >
							<ng-option *ngFor="let getData of getProv" [value]=getData.fieldIdValue>{{getData.fieldNameValue}}</ng-option>
						</ng-select>
					</div>

				</td>
          </tr>
          <tr>
            <td align="right" >รหัสอำเภอ :&nbsp;</td>
      <td align="left">
        <div style="float:left;width:200px;">
          <ng-select [(ngModel)]="amphur_id" style="width:95%;" name="something2" (change)="changeAmphur($event,1)" [ngModelOptions]="{standalone: true}" #sAmphur>
            <ng-option *ngFor="let getData of getAmphur" [value]=getData.fieldIdValue>{{getData.fieldNameValue}}</ng-option>
          </ng-select>
        </div>
      </td>
          </tr>
           <tr>
              <td align="right" >รหัสมาตราฐาน :&nbsp;</td>
					<td align="left">
						<div style="float: left;">
              <input  name="std_id" [(ngModel)]="std_id" type="text" id="std_id"  maxlength="5" (change)="tabChange($event)"  class="form-control" style="width:80px;height:28px;"/>
            </div>
            <div style="float: left;margin-left:2px;">
                <input  name="std_tambon_name" [(ngModel)]="std_tambon_name" type="text"  readonly id="std_tambon_name" value=""  class="form-control" style="width:220px;height:28px;"/>
            </div>
            <div style="float: left;margin-left:2px;margin-top:4px;">
              <i class='far fa-list-alt iDep' style="font-size: 20px;cursor:pointer;" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="loadTableComponent(1);"></i>
            </div>
					</td>
            </tr>
            <tr>
              <td width="2%"  align="right">  รหัสตำบล :&nbsp;</td>
              <td width="25%"  align="left" >
                <div style="float:left"><input [(ngModel)]="tambon_id" id="tambon_id" name="" type="text"   value=""  class="form-control" style="width:80px;height:28px;" #sTambon></div>
                <div style="float:left;"><input [(ngModel)]="tambon_name" name="" type="text"   value=""  class="form-control" style="width:300px;height:28px;"></div>
                <input type="hidden" [(ngModel)]="hid_prov_id" name="hid_prov_id" id="hid_prov_id" >
                <input type="hidden" [(ngModel)]="hid_amphur_id" name="hid_amphur_id" id="hid_amphur_id" >
                <input type="hidden" [(ngModel)]="hid_tambon_id" name="hid_tambon_id" id="hid_tambon_id" >
              </td>
            </tr>
						<tr>
             <tr>
              <td  align="right">ชื่อตำบล(ภาษาอังกฤษ) :&nbsp;</td>
              <td  align="left" >
                <div style="float:left;"><input [(ngModel)]="tambon_name_eng" name="" type="text"   value=""  class="form-control" style="width:300px;height:28px;"></div>
             </td>
           </tr>
            <tr>
              <td  align="right">รหัสไปรษณีย์ :&nbsp;</td>
              <td  align="left" >
                <div style="float: left;">
                  <input [(ngModel)]="post_code" name="input" type="text"   value=""  class="form-control" style="width:80px;height:28px;" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                </div>
              </td>
              </tr>
              <tr>
                <td  align="right">หมายเหตุรหัสไปรษณีย์ :&nbsp;</td>
                <td  align="left" >
                  <div style="float: left;">
                    <input [(ngModel)]="post_remark" name="input" type="text"   value=""  class="form-control" style="width:300px;height:28px;">
                  </div>
                </td>
                </tr>
        	</table>
				</div>
				<!-- /.card-body -->
				<div class="card-footer">
					<button type="button" class="btn btn-success" style="margin-left:150px;" (click)="submitForm()">จัดเก็บข้อมูล</button>
					<button type="button" class="btn btn-danger" style="margin-left:5px;" (click)="confirmBox()" >ลบข้อมูลที่เลือก</button>
                    <button type="reset" class="btn btn-warning" style="margin-left:5px;color:white;" (click)="ClearAll()">ล้างหน้าจอ</button>
                     <!-- <button type="button" class="btn btn-primary" style="margin-left:5px;" (click)="searchData()">ค้นหา</button> -->
					<!--<button type="button" class="btn btn-info" style="margin-left:5px;"  (click)="goToLink('http://bizascorp.thddns.net:8848/taxcRpt56/rct0226.jsp')">พิมพ์</button>-->
					<button type="button" class="btn btn-info" style="margin-left:5px;"  (click)="printReport()">พิมพ์</button>
					<input type="hidden" name="delValue" id="delValue">
					<!-- <input type="hidden" name="delValue2" id="delValue2"> -->
				</div>
				<!-- /.card-footer -->

		</div>
	</div>

	<div class="content" style="padding:10px;margin-top:-25px;">
		<section class="content" style="width: 100%;">
		<div class="card card-info">
			<div class="card-header" style="display:none;">
			<h3 class="card-title">ข้อมูล</h3>
			</div>
			<!-- /.card-header -->
			<div class="card-body">
				<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="myTable" class="table table-striped table-bordered table-sm row-border hover myTable1" >
					<thead>
						<tr>
						<th width="3%" class="no-sort">
							<input type="checkbox" name="all" [(ngModel)]="masterSelected" value="m1" (change)="checkUncheckAll()"/>
						</th>
						<th width="3%" class="no-sort">แก้ไข</th>
            <th width="10%">จังหวัด</th>
            <th width="10%">อำเภอ</th>
						<th width="4%">รหัส</th>
			    		 <th width="5%">รหัสมาตราฐาน</th>
               <th width="10%">ชื่อตำบล</th>
               <th width="7%">ชื่อตำบล(ภาษาอังกฤษ)</th>
               <th width="5%">รหัสไปรษณีย์</th>
               <th width="5%">หมายเหตุ</th>
            <th width="8%" >หน่วยงานที่บันทึก</th>
						<th width="8%" >ผู้บันทึก</th>
						<th width="8%" >วัน/เวลาที่บันทึก</th>
						<th width="8%" >หน่วยงานที่แก้ไข</th>
						<th width="8%" >ผู้แก้ไข</th>
						<th width="8%"  >วัน/เวลาที่แก้ไข</th>
						<!--<th width="15%">&nbsp;</th>-->
						</tr>
					</thead>
					<tbody *ngIf="posts?.length != 0">

					<tr *ngFor="let post of posts;let i = index;">
							<td align="center">
								<input type="checkbox"  [(ngModel)]="posts[i].edit0207" (change)="isAllSelected()" >
								<!-- <input type="hidden" name="hid_notice_id[]" id="hid_notice_id[]" value="{{post.notice_id}}"> -->
							</td>
							<td align="center"><i class='fas fa-pencil-alt' style='cursor:pointer;font-size:20px' (click)="editData(i)"></i></td>
							<td align="center">({{post.prov_id}}) {{post.prov_name}}</td>
              <td align="center">({{post.amphur_id}}) {{post.amphur_name}} </td>
              <td align="center">{{post.tambon_id}}</td>
              <td align="center">{{post.std_id}}</td>
              <td align="center">{{post.tambon_name}}</td>
              <td align="center">{{post.tambon_name_eng}}</td>
              <td align="center">{{post.post_code}}</td>
              <td align="center">{{post.post_remark}}</td>

							<td align="center">{{post.create_dep_name}}</td>
							<td align="center">{{post.create_user}}</td>
							<td align="center">{{post.create_date}}</td>
							<td align="center">{{post.update_dep_name}}</td>
							<td align="center">{{post.update_user}}</td>
							<td align="center">{{post.update_date}}</td>
							<!---<td align="center">
								<ng-template #popContent>
									หน่วยงานที่จัดเก็บ = {{post.createDepName}}<br>
									ผู้จัดเก็บ = {{post.createUser}}<br>
									วันที่จัดเก็บ = {{post.createDate}}<br>
									หน่วยงานที่แก้ไข = {{post.updateDepName}}<br>
									ผู้แก้ไข = {{post.updateUser}}<br>
									วันที่แก้ไข = {{post.updateDate}}<br>
								</ng-template>
								<i class="fa fa-eye" placement="left" popoverTitle="รายละเอียดการจัดเก็บข้อมูล" [ngbPopover]="popContent" style="cursor:pointer;font-size:22px"></i>
							</td>-->
						</tr>
					</tbody>
					<tbody *ngIf="posts?.length == 0">
						<tr>
							<td colspan="16" style="color:red;text-align: center;" class="no-data-available">###### ไม่พบข้อมูล #######</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- /.card-body -->
		</div>
		<!-- /.card -->
		</section>
	</div>

 <!-- Modal -->

 <div class="modal fade" data-refresh="true"  role="dialog" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width:100%;height:100%;">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title text-danger" id="exampleModalLabel"></h5>
		  <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
		  <button type="button" class="btn btn-warning" style="display:none;" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="loadMyModalComponent();" #openbutton></button>
		</div>
		<div class="modal-body" >

      <input type="hidden" name="table_name" id="table_name">
      <input type="hidden" name="field_id" id="field_id">
      <input type="hidden" name="field_name" id="field_name">
      <div style="min-height: 100px;max-height: 480px;overflow: auto;">
      <app-datalist-return  *ngIf="loadComponent"  [items]=list [value1]=listTable [value2]=listFieldId [value3]=listFieldName [value4]=listFieldNull [value5]=listFieldName2 (onClickList)="receiveFuncListData($event)" class="modal_app"></app-datalist-return>
      <app-modal-confirm *ngIf="loadModalComponent" class="modal_app"></app-modal-confirm>
       </div>

		</div>
		<div class="modal-footer">
			<button type="button"  class="btn btn btn-primary" (click)="submitModalForm()" *ngIf="loadModalComponent">ตกลง</button>
		  	<button type="button"  class="btn btn-warning" data-bs-dismiss="modal" (click)="closeModal()">ปิดหน้าจอ</button>
		</div>
	  </div>
	</div>
  </div>
</div>

<!--<script src="case-type.component.js"></script>-->
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
	<p style="color: gray">Please Wait. </p>
</ngx-spinner>

