<table width="100%" border="0" align="center" cellpadding="0" cellspacing="1" class="bordered" style="margin-top:4px;">
  <thead>
    <tr align="left" >
      <div style="float: left;"><i class='fa fa-bullhorn' style="font-size: 20px;cursor:pointer;color: rgb(221, 119, 82);"></i></div>
      <div style="float: left; margin-left:8px;margin-top:4px;font-size: 20px;">ข้อความแจ้งเตือนพยาน!</div>
    </tr>
    <tr align="center" >
      <textarea [(ngModel)]="result.message" class="form-control"  style="width: 650px; height: 175px; line-height: 18px;overflow-wrap: break-word;"></textarea>
    </tr>
  </thead>
</table>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
	<p style="color: gray">Please Wait.</p>  
</ngx-spinner> 
