
<!-- <table width="100%" border="0" align="center" cellpadding="2" cellspacing="0">
  <tr>
    <td height="30" align="center" class="blackb">
      <div>{{depgroup}}</div>
      <div style="float: left;margin-top:2px;">ค้นหา :&nbsp;</div>
      <div style="float: left;margin-left:2px;"><input  name="word_id" type="text" class="form-control" style="width:70px;height:28px;" value={{value4}} #word_id></div>
      <div style="float: left;margin-left:2px;"><input  name="word_desc" type="text" class="form-control" style="width:250px;height:28px;" value={{value4}} #word_desc>    </div>
      <div style="float: left;margin-left:4px;"><input name="Submit" type="submit" class="btn btn-success" value="ค้นหา" (click)="searchDataList()"></div>
      <div style="float: left;margin-left:4px;"><input name="showAll" type="submit" class="btn btn-success" id="showAll" value="แสดงทั้งหมด" (click)="showDataList()"></div>
      <div style="float: left;margin-left:4px;"><input name="useAll" type="submit" class="btn btn-success" id="useAll" value="จัดเก็บข้อมูลที่เลือก" (click)="useDataList()"></div>
      <div style="float: left;margin-left:4px;"><input name="list_table_name" type="hidden" id="list_table_name" value={{value1}}></div>
    </td>
  </tr>
</table> -->

<table width="100%" border="0" align="center" cellpadding="0" cellspacing="1" class="bordered" style="margin-top:4px;">
  <thead>
    <tr align="center" >
      <th width="50" height="25" ><input type="checkbox"  [(ngModel)]="masterSelect" style="height:15px;width:15px;margin-top:2px;cursor:pointer;"  (change)="checkUncheckAll(this.items,'masterSelect','index')"></th>
      <th width="150" height="25" colspan="2"><strong>รหัส</strong></th>
      <!-- <th ><strong>รายละเอียด</strong></th>
      <th *ngIf="value6"><strong>รายละเอียดเพิ่มเติม</strong></th> -->
    </tr>
  </thead>
  <tbody *ngIf="items?.length != 0" >
    <tr *ngFor="let datas of items;let i = index;" >
      <td align="center" ><input type="checkbox" [(ngModel)]="this.items[i].index" style="height:15px;width:15px;margin-top:2px;cursor:pointer;" (change)="isAllSelected(this.items,'masterSelect','index')"></td>
      <!-- <td align="center" ><input type="checkbox" [(ngModel)]="this.items[i].index" style="height:15px;width:15px;margin-top:2px;cursor:pointer;" (change)="isAllSelected(this.items,'masterSelect','index')"></td> -->
      <!-- <td align="center" (click)="onClickListData(i)">{{datas.fieldIdValue}}</td> -->
      <!-- <td align="center" (click)="onClickListData(i)">{{datas.fieldNameValue}}</td> -->
      <td align="center" (click)="onClickListData(i)">{{datas.dep_name}}</td>
      <!-- <td align="center" (click)="onClickListData(i)" *ngIf="value6">{{datas.fieldNameValue2}}</td> -->
    </tr>
   </tbody>
   <tbody *ngIf="items?.length == 0">
    <tr *ngIf="!value6"><td colspan="3" style="color:red;text-align: center;" class="no-data-available">###### ไม่พบข้อมูล #######</td></tr>
    <!-- <tr *ngIf="value6"><td colspan="4" style="color:red;text-align: center;" class="no-data-available">###### ไม่พบข้อมูล #######</td></tr> -->
  </tbody>

</table>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
	<p style="color: gray">Please Wait. </p>
</ngx-spinner>
