<style>

</style>
<app-menu></app-menu>
<div style="width:100%;height:100%;" id="div-wraper">
	<div class="content" style="padding:10px;" >
		<div class="card card-info">
			<div class="card-header">
			<h3 class="card-title">{{programName}}</h3>
			</div>
				<div class="card-body">
					<!--	-->
					<table width="100%"  border="0" cellspacing="2" cellpadding="0" >
						<tr>
							<td width="20%" align="center" colspan="4">
								<div style="margin:0 auto;display:inline-block;padding-right: 0px;">
									<div style="float: left;margin-left:3px;margin-top:5px;">ความ :&nbsp;</div>
									<div style="float:left;">
										<ng-select [(ngModel)]="result.case_type" style="width:100px;"  [ngModelOptions]="{standalone: true}" [clearable]="false">
											<ng-option *ngFor="let getData of getCaseType" [value]=getData.fieldIdValue >{{getData.fieldNameValue}}</ng-option>
										</ng-select>
									</div>
									<div style="float: left;margin-left:3px;margin-top:5px;">ประจำวันที่ :&nbsp;</div>
									<div style="float:left;">
										<input style="width:120px;height:28px;text-align: center;" [(ngModel)]="result.stat_date" #statDate type="text" class="form-control jcalendar stat_date" (click)="directiveDate(statDate.value,'stat_date')">
									</div>
									<div style="float:left;margin-left:8px;margin-top:2px;">
										<i class="fa fa-calendar" style="font-size: 16px;" onClick="$('.stat_date').focus();"></i>
									</div>
									<div style="float:left;margin-left:5px;margin-top:1px;"><button type="button" class="btn btn-primary" style="margin-left:0px;" (click)="searchData()" >ค้นหา</button></div>
								</div>
							</td>
						</tr>
						<tr>
							<td align="right" width="20%">ผู้เสนอ :&nbsp;</td>
							<td width="29%">
								<div style="float: left;margin-left:0px;">
									<input  name="user_id" type="text" [(ngModel)]="result.off_id"   (change)="tabChangeSelect('off_id', 'off_name', 'off_post', $event)"  class="form-control" style="width:60px;height:28px;"/>
								</div>
								<div style="float: left;margin-left:2px;">
									<input  name="off_name" type="text" class="blackd" [(ngModel)]="result.off_name" value=""   class="form-control" style="width:250px;height:28px;"/>
								</div>
								<div style="float: left;margin-left:2px;margin-top:1px;" >
									<i  class="far fa-list-alt" style="font-size: 20px;margin-left:2px;margin-top:0px;" (click)="clickOpenMyModalComponent(1);"></i>
								</div>
							</td>
							<td align="right" width="6%">ตำแหน่ง :&nbsp;</td>
							<td width="45%">
								<div style="float: left;margin-left:2px;">
									<input  name="off_name" type="text" class="blackd" [(ngModel)]="result.off_post" value=""   class="form-control" style="width:416px;height:28px;"/>
								</div>
							</td>
						</tr>
						<tr>
							<td align="right" >ผู้เซ็นต์ :&nbsp;</td>
							<td >
								<div style="float: left;margin-left:0px;">
									<input  name="user_id" type="text" [(ngModel)]="result.sign_id"  (change)="tabChangeSelect('sign_id', 'sign_name', 'sign_post', $event)"   class="form-control" style="width:60px;height:28px;"/>
								</div>
								<div style="float: left;margin-left:2px;">
									<input  name="off_name" type="text" class="blackd"  [(ngModel)]="result.sign_name" value=""   class="form-control" style="width:250px;height:28px;"/>
								</div>
								<div style="float: left;margin-left:2px;margin-top:1px;" >
									<i  class="far fa-list-alt" style="font-size: 20px;margin-left:2px;margin-top:0px;" (click)="clickOpenMyModalComponent(2);"></i>
								</div>
							</td>
							<td align="right" valign="top" style="padding-top:4px;">ตำแหน่ง :&nbsp;</td>
							<td >
								<div style="float: left;margin-left:2px;">
									<textarea name="fact1" class="form-control" [(ngModel)]="result.sign_post" style="width: 416px; height: 38px; line-height: 18px;overflow-wrap: break-word;"></textarea>
								</div>
							</td>
						</tr>
						<tr>
							<td align="right" >เพื่อทราบ :&nbsp;</td>
							<td >
								<div style="float: left;margin-left:0px;">
									<input  name="user_id" type="text" [(ngModel)]="result.report_judge_id" (change)="tabChangeSelect('report_judge_id', 'report_judge_name', 'report_judge_post', $event)"    class="form-control" style="width:60px;height:28px;"/>
								</div>
								<div style="float: left;margin-left:2px;">
									<input  name="off_name" type="text" class="blackd"  [(ngModel)]="result.report_judge_name" value=""   class="form-control" style="width:250px;height:28px;"/>
								</div>
								<div style="float: left;margin-left:2px;margin-top:1px;" >
									<i  class="far fa-list-alt" style="font-size: 20px;margin-left:2px;margin-top:0px;" (click)="clickOpenMyModalComponent(3);"></i>
								</div>
							</td>
							<td align="right" valign="top" style="padding-top:4px;">&nbsp;</td>
							<td >
								<div style="float: left;margin-left:2px;">
									<textarea name="fact1" class="form-control"  [(ngModel)]="result.report_judge_post" style="width: 416px; height: 38px; line-height: 18px;overflow-wrap: break-word;"></textarea>
								</div>
							</td>
						</tr>
						<tr >
							<td align="left" colspan="4" align="center" style="height: 36px !important;">
								<button type="button" class="btn btn-success" style="margin-left:0px;" (click)="buttProcess()" >ประมวลผล</button>
								<button type="reset" class="btn btn-success" style="margin-left:5px;" (click)="saveForm()">จัดเก็บ</button>
								<button type="button" class="btn btn-primary" style="margin-left:5px;"(click)="buttNew()"  >เพิ่ม</button>
								<button type="button" class="btn btn-primary" style="margin-left:5px;" (click)="printReport()" >พิมพ์</button>
								<button type="button" class="btn btn-danger" style="margin-left:5px;" (click)="confirmBox()" >ลบข้อมูลที่เลือก</button>
								<button type="button" class="btn btn-warning" style="margin-left:5px;" (click)="ClearAll()" >ล้างหน้าจอ</button>
								<!-- <button type="button" class="btn btn-primary" style="margin-left:5px;" (click)="confirmData()"> ยืนยันข้อมูลส่งผู้บริหารตรวจ</button>
								<button type="button" class="btn btn-danger" style="margin-left:3px;" (click)="cancelData()"> ยกเลิกยืนยันข้อมูล</button>
							</td> -->
						</tr>
						<tr >
							<td align="left" colspan="4" align="center" style="height: 30px !important;">
								<div style="margin: 0 auto;color: red;">*กรณีประมวลผลครั้งแรกโปรแกรมจะประมวลผลข้อมูลตั้งแต่ต้นปีจนถึงวันที่ประมวลผล</div>
							</td>
						</tr>
						<tr>
							<td colspan="4" align="center">
								<div style="width: 100%;height: 30px;text-align:center;vertical-align: bottom;padding-top:5px;">
									สถิติคดีประจำวันก่อนหน้านี้วันที่ :	<u>{{resultOld.stat_date}}</u> 
									ประมวลผลเมื่อวันที่ : <u>{{resultOld.create_date}}</u> 
									<!-- เวลา :<u>{{result.create_date}}</u>  -->
								</div>
							</td>
						</tr>
						<tr>
							<td colspan="4" align="center">
								<div style="width: 100%;height: 30px;text-align:center;vertical-align: bottom;padding-top:5px;">
									หน่วยงานที่บันทึก : <u>{{posts.create_dep_name}}</u>
									ผู้บันทึก :	<u>{{posts.create_user}}</u>
									วันที่บันทึก : <u>{{posts.create_date}}</u>
									<!-- ผู้แก้ไขล่าสุด :<u>{{posts.update_user}}</u>
									วันที่แก้ไขล่าสุด : <u>{{posts.update_date}}</u>  -->
									<!-- ผู้ยืนยันข้อมูล : <u>{{posts.confirm_user}}</u> 
									วันที่ยืนยันข้อมูล : <u>{{posts.confirm_date}}</u>  -->
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="content" style="padding:10px;margin-top:-25px;">
			<section class="content" style="width: 100%;">
			<div class="card card-info">
				<div class="card-body">
					<table datatable [dtOptions]="dtOptions"  [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-sm row-border hover form_table_data" style="width:100%;margin:0 auto;">
						<thead>
							<tr >
								<th width="2%" rowspan="3" class="no-sort">ลบ</th>
								<th width="7%" rowspan="3" class="no-sort">รหัส</th>
								<th width="23%"rowspan="3" class="no-sort">ชื่อผู้พิพากษา</th>
								<th width="9%" rowspan="3" class="no-sort">ประเภทคดี</th>
								<th width="9%" rowspan="3" class="no-sort">เจ้าของสำนวน</th>
								<th colspan="9" align="center" class="no-sort">คดีเสร็จไป</th>
							</tr>

							<tr>
								<th width="8%" rowspan="2" style="border-radius: 0px !important;" class="no-sort">พิพากษา<br>ความเรียง</th>
								<th width="7%" rowspan="2" class="no-sort">ประนีประนอม<br>พิพากษา<br>ตามยอม</th>
								<th width="8%" rowspan="2" class="no-sort">ถอนฟ้อง<br>ถอนคำร้อง</th>
								<th colspan="2" class="no-sort">จำหน่ายคดี</th>
								<th width="7%" rowspan="2" class="no-sort">โดยเหตอื่น</th>
								<th style="border-radius: 0px !important;" class="no-sort">&nbsp;</th>
							</tr>

							<tr >
								<th width="5%" align="center" style="border-radius: 0px !important;" class="no-sort">ชั่วคราว</th>
								<th width="6%" align="center" class="no-sort">อื่นๆ</th>
								<th width="6%" style="border-radius: 0px !important;" class="no-sort">รวม</th>
							  </tr>
						</thead>
						<tbody *ngIf="posts?.length != 0">
							<tr *ngFor="let post of posts.data;let i = index;">
								<td align="center"><input type="checkbox" [(ngModel)]="post.edit2320" (change)="isAllSelected()" ></td>
								<td align="center">{{post.judge_id}}</td>
								<td align="left">{{post.judge_name}}</td>
								<td align="center">
									<tr *ngFor="let post1 of post.stat_data;let j = index;" style="background-color: transparent!important;height: 28px!important;">{{post1.case_type_stat_desc}}</tr>
								</td>
								<td align="center">
									<tr *ngFor="let post1 of post.stat_data;let j = index;" style="background-color: transparent!important;height: 28px!important;">
										<input type="text" [(ngModel)]="post1.case_new" class="form-control" style="width:60px;text-align: center;" (dblclick)="showCaseAll(post1.case_new_txt)"  title={{post1.case_new_txt}}/>
									</tr>
								</td>
								<td align="center">
									<tr *ngFor="let post1 of post.stat_data;let j = index;" style="background-color: transparent!important;height: 28px!important;">
										<input type="text" (change)="changeData($event,i,j)" [(ngModel)]="post1.judge_order" class="form-control" style="width:60px;text-align: center;" (dblclick)="showCaseAll(post1.judge_order_txt)" title={{post1.judge_order_txt}}/>
									</tr>
								</td>
								<td align="center">
									<tr *ngFor="let post1 of post.stat_data;let j = index;" style="background-color: transparent!important;height: 28px!important;">
										<input type="text" (change)="changeData($event,i,j)" [(ngModel)]="post1.finish_agree" class="form-control" style="width:60px;text-align: center;" (dblclick)="showCaseAll(post1.finish_agree_txt)" title={{post1.finish_agree_txt}}/>
									</tr>
								</td>
								<td align="center">
									<tr *ngFor="let post1 of post.stat_data;let j = index;" style="background-color: transparent!important;height: 28px!important;">
										<input type="text" (change)="changeData($event,i,j)" [(ngModel)]="post1.judge_cancel" class="form-control" style="width:60px;text-align: center;" (dblclick)="showCaseAll(post1.judge_cancel_txt)" title={{post1.judge_cancel_txt}}/>
									</tr>
								</td>
								<td align="center">
									<tr *ngFor="let post1 of post.stat_data;let j = index;" style="background-color: transparent!important;height: 28px!important;">
										<input type="text" (change)="changeData($event,i,j)" [(ngModel)]="post1.judge_dispense" class="form-control" style="width:60px;text-align: center;" (dblclick)="showCaseAll(post1.judge_dispense_txt)" title={{post1.judge_dispense_txt}}/>
									</tr>
								</td>
								<td align="center">
									<tr *ngFor="let post1 of post.stat_data;let j = index;" style="background-color: transparent!important;height: 28px!important;">
										<input type="text" (change)="changeData($event,i,j)" [(ngModel)]="post1.judge_dispense_other" class="form-control" style="width:60px;text-align: center;" (dblclick)="showCaseAll(post1.judge_dispense_other_text)"  title={{post1.judge_dispense_other_text}}/>
									</tr>
								</td>
								<td align="center">
									<tr *ngFor="let post1 of post.stat_data;let j = index;" style="background-color: transparent!important;height: 28px!important;">
										<input type="text" (change)="changeData($event,i,j)" [(ngModel)]="post1.judge_other" class="form-control" style="width:60px;text-align: center;" (dblclick)="showCaseAll(post1.judge_other_txt)" title={{post1.judge_other_txt}}/>
									</tr>
								</td>
								<td align="center">
									<tr *ngFor="let post1 of post.stat_data;let j = index;" style="background-color: transparent!important;height: 28px!important;">
										<input type="text" [(ngModel)]="post1.judge_total" class="form-control"  style="width:60px;text-align: center;" readonly />
									</tr>
								</td>
							</tr>
						</tbody>
						<tbody *ngIf="posts?.length == 0">
							<tr>
								<td colspan="12" style="color:red;text-align: center;" class="no-data-available">###### ไม่พบข้อมูล #######</td>
								<td style="display:none;"></td>
								<td style="display:none;"></td>
								<td style="display:none;"></td>
								<td style="display:none;"></td>

								<td style="display:none;"></td>
								<td style="display:none;"></td>
								<td style="display:none;"></td>
								<td style="display:none;"></td>
								<td style="display:none;"></td>

								<td style="display:none;"></td>
								<td style="display:none;"></td>
							</tr>
						</tbody>
						<tbody *ngIf="NewData">
							<tr>
								<td align="center" rowspan="getCasetype?.length"></td>
								<td align="center" rowspan="cType?.length"></td>
								<td align="center" rowspan="cType?.length">
									<div style="float: left;margin-left:0px;">
										<input type="text" [(ngModel)]="result2.judge_id"   (change)="tabChangeSelect('judge_id', 'judge_name', 'off_post', $event)"  class="form-control" style="width:60px;height:28px;"/>
									</div>
									<div style="float: left;margin-left:2px;">
										<input  name="off_name" type="text" class="blackd" [(ngModel)]="result2.judge_name" value=""   class="form-control" style="width:250px;height:28px;" readonly/>
									</div>
									<div style="float: left;margin-left:2px;margin-top:1px;" >
										<i  class="far fa-list-alt" style="font-size: 20px;margin-left:2px;margin-top:0px;" (click)="clickOpenMyModalComponent(4);"></i>
									</div>
								</td>
								<td align="center">
									<tr *ngFor="let post of cType;let i = index;" style="background-color: transparent!important;height: 28px!important;">{{post.fieldNameValue}}</tr></td>
								<td align="center">
									<tr *ngFor="let post of cType;let i = index;" style="background-color: transparent!important;height: 28px!important;">
										<input type="text" [(ngModel)]="case_new[i]" class="form-control" style="width:60px;text-align: center;"/>
									</tr>
								</td>
								<td align="center">
									<tr *ngFor="let post of cType;let i = index;" style="background-color: transparent!important;height: 28px!important;">
										<input type="text" (change)="changeDataNew(i)" [(ngModel)]="judge_order[i]" class="form-control" style="width:60px;text-align: center;"/>
									</tr>
								</td>
								<td align="center">
									<tr *ngFor="let post of cType;let i = index;" style="background-color: transparent!important;height: 28px!important;">
										<input type="text" (change)="changeDataNew(i)" [(ngModel)]="finish_agree[i]" class="form-control" style="width:60px;text-align: center;"/>
									</tr>
								</td>
								<td align="center">
									<tr *ngFor="let post of cType;let i = index;" style="background-color: transparent!important;height: 28px!important;">
										<input type="text" (change)="changeDataNew(i)" [(ngModel)]="judge_cancel[i]" class="form-control" style="width:60px;text-align: center;"/>
									</tr>
								</td>
								<td align="center">
									<tr *ngFor="let post of cType;let i = index;" style="background-color: transparent!important;height: 28px!important;">
										<input type="text" (change)="changeDataNew(i)" [(ngModel)]="judge_dispense[i]" class="form-control" style="width:60px;text-align: center;"/>
									</tr>
								</td>
								<td align="center">
									<tr *ngFor="let post of cType;let i = index;" style="background-color: transparent!important;height: 28px!important;">
										<input type="text" (change)="changeDataNew(i)" [(ngModel)]="judge_dispense_other[i]" class="form-control" style="width:60px;text-align: center;"/>
									</tr>
								</td>
								<td align="center">
									<tr *ngFor="let post of cType;let i = index;" style="background-color: transparent!important;height: 28px!important;">
										<input type="text" (change)="changeDataNew(i)" [(ngModel)]="judge_other[i]" class="form-control" style="width:60px;text-align: center;"/>
									</tr>
								</td>
								<td align="center">
									<tr *ngFor="let post of cType;let i = index;" style="background-color: transparent!important;height: 28px!important;">
										<input type="text" [(ngModel)]="judge_total[i]" class="form-control"  style="width:60px;text-align: center;" readonly />
									</tr>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			</section>
		</div>
 <!-- Modal -->
 <div class="modal fade" data-refresh="true"  role="dialog" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width:100%;height:100%;">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title text-danger" id="exampleModalLabel"></h5>
		  <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
		  <button type="button" class="btn btn-warning" style="display:none;" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="loadMyModalComponent();" #openbutton></button>
		</div>
		<div class="modal-body" >
			<input type="hidden" name="table_name" id="table_name">
			<input type="hidden" name="field_id" id="field_id">
			<input type="hidden" name="field_name" id="field_name">
			<div style="min-height: 100px;max-height: 480px;overflow: auto;">
				<app-modal-confirm *ngIf="loadModalComponent" class="modal_app"></app-modal-confirm>
					<app-datalist-return  *ngIf="loadComponent"  [items]=list [value1]=listTable [value2]=listFieldId [value3]=listFieldName [value4]=listFieldNull  [value5]=listFieldName2 [value7]=listFieldCond (onClickList)="receiveFuncListData($event)" class="modal_app"></app-datalist-return>
					<app-modal-judge *ngIf="loadJudgeComponent" [items]=list [value1]=listTable [value2]=listFieldId [value3]=listFieldName [value4]=listFieldNull [value5]=listFieldType (onClickList)="receiveFuncJudgeListData($event)" class="modal_app"></app-modal-judge>
       		</div>
		</div>
		<div class="modal-footer">
			<button type="button"  class="btn btn btn-primary" (click)="submitModalForm()" *ngIf="loadModalComponent">ตกลง</button>
		  	<button type="button"  class="btn btn-warning" data-bs-dismiss="modal" (click)="closeModal()">ปิดหน้าจอ</button>
		</div>
	  </div>
	</div>
  </div>
</div>

<!--<script src="case-type.component.js"></script>-->
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
	<p style="color: gray">Please Wait. </p>
</ngx-spinner>
