
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="1" class="bordered" style="margin-top:4px;">
  <thead>
    <tr align="center" >
      <th width="50" height="25" ><input type="checkbox"  [(ngModel)]="masterSelect" style="height:15px;width:15px;margin-top:2px;cursor:pointer;"  (change)="checkUncheckAll(this.items,'masterSelect','index')"></th>
      <th width="150" height="25" ><strong>ประเภท</strong></th>
      <th width="150" height="25" ><strong>ลำดับที่</strong></th>
      <th ><strong >ชื่อคู่ความ</strong></th>
    </tr>
    
  </thead>
  <tbody *ngIf="items?.length != 0" >
    <ng-container *ngFor="let datas of items;let i = index;"> 
      <tr >
        <td align="center" ><input type="checkbox" [(ngModel)]="this.items[i].index" style="height:15px;width:15px;margin-top:2px;cursor:pointer;" (change)="isAllSelected(this.items,'masterSelect','index')" *ngIf="datas.hid"></td>
        <td align="center" >{{datas.lit_type_desc}}</td>
        <td align="center" >{{datas.seq}}</td>
        <td align="center" >{{datas.lit_name}}</td>
      </tr>
    </ng-container>
   </tbody>
   <tbody *ngIf="items?.length == 0">
    <tr ><td colspan="3" style="color:red;text-align: center;" class="no-data-available">###### ไม่พบข้อมูล #######</td></tr>
  </tbody>

</table>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
	<p style="color: gray">Please Wait. </p>  
</ngx-spinner> 
