<style>

</style>
<!-- <app-menu></app-menu> -->
<div style="width:100%;height:100%;" id="div-wraper">
	<div class="content" style="padding:10px;">
		<!-- <div class="card card-info" style="box-shadow: none !important;">
			<div class="" style="height:40px;border-radius: 4px;border:1px solid #17a2b8 !important;background-color: #e1f6f9;">
				<div style="float:left;margin-top:6px;"><i class="fa fa-folder-open-o" style="font-size:24px;margin-left:8px;"></i><span style="font-size: 16px;margin-left:5px;">{{programName}}</span></div>
			</div>
		</div> -->
		<!-- form start -->
		<!-- <form class="form-horizontal" id="myForm"  #prmg0700> -->
		<div class="card-body">
			<div class="card" align="center" style="box-shadow: none !important;padding:5px;">
				<table width="100%" border="0" cellspacing="2" cellpadding="2" class="form_table">

					<tr>
						<td align="right" width="44%" style="height:26px !important;">ประจำเดือน :&nbsp;</td>
						<td align="left">
							<div style="float: left;margin-left:3px;">
								<ng-select [(ngModel)]="result.pmonth" style="width:150px;"
									[ngModelOptions]="{standalone: true}" #sType>
									<ng-option *ngFor="let getData of getMonth" [value]=getData.id>{{getData.text}}
									</ng-option>
								</ng-select>
							</div>
							<div style="float: left; margin-left:8px;margin-top:5px;">&nbsp;ปี&nbsp;&nbsp;</div>
							<div style="float:left;margin-left:8px;">
								<input [(ngModel)]="result.pyear" class="form-control"
									style="width:80px;height:24px !important;">
							</div>
						</td>
					</tr>

					<tr>
						<td align="right">ผู้ลงนาม :&nbsp;</td>
						<div style="float: left; margin-left:3px;">
							<input type="text" [(ngModel)]="result.pcon_id" (change)="tabChangeInput('pcon_id',$event)"
								class="form-control" style="width:60px;" />
						</div>
						<div style="float: left; margin-left:2px;">
							<input type="text" [(ngModel)]="result.psign_user" readonly class="form-control"
								style="width:255px;" />
						</div>
						<div title="เจ้าหน้าที่" style="float: left;margin-left:2px;margin-top:2px;">
							<i class='far fa-list-alt' style="font-size: 20px; margin-left: 2px;cursor: pointer;"
								(click)="clickOpenMyModalComponent(1)"></i>
						</div>
						<div title="ผู้พิพากษา" style="float: left;margin-left:2px;margin-top:2px;">
							<i class='far fa-list-alt' style="font-size: 20px; margin-left: 2px;cursor: pointer;"
								(click)="clickOpenMyModalComponent(2)"></i>
						</div>
					</tr>

					<tr>
						<td align="right">ตำแหน่ง :&nbsp;</td>
						<div style="float: left; margin-left:3px;">
							<input type="text" [(ngModel)]="result.psign_position"
								(change)="tabChangeInput('psign_position',$event)" class="form-control"
								style="width:320px;" />
						</div>
					</tr>

					<tr>
						<td align="right">หมายเหตุ :&nbsp;</td>
						<div style="float:left;margin-left:3px;">
							<textarea [(ngModel)]="result.premark" name="premark" #premark='ngModel'
								class="form-control"
								style="width: 511px; height: 38px; line-height: 18px;overflow-wrap: break-word;"></textarea>
						</div>
					</tr>

					<div>&nbsp;</div>
				</table>
			</div>
			<!-- /.card-body -->
			<div class="card-footer" align="center">
				<button type="button" class="btn btn-info" style="margin-left:5px;"
					(click)="printReport()">พิมพ์รายงาน</button>
				<button type="reset" class="btn btn-warning" style="margin-left:5px;color:white;"
					(click)="ClearAll()">ล้างหน้าจอ</button>
			</div>
			<!-- /.card-footer -->
		</div>
		<!-- </form> -->

		<!-- <div class="modal fade" data-refresh="true"  role="dialog" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width:100%;height:100%;">
			<div class="modal-dialog">
			  <div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title text-danger" id="exampleModalLabel"></h5>
				<button type="button" #closebutton class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
				<button type="button" class="btn btn-warning" style="display:none;" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="loadMyModalComponent();" #openbutton></button>
			  </div>
			  <div class="modal-body" >
				<div style="min-height: 100px;max-height: 480px;overflow: auto;">
				  <app-datalist-return *ngIf="loadModalListComponent" [items]=list [value1]=listTable [value2]=listFieldId [value3]=listFieldName [value4]=listFieldNull  (onClickList)="receiveFuncListData($event)" class="modal_app"></app-datalist-return>	  
				  <app-modal-judge *ngIf="loadModalJudgeComponent" [items]=list [value1]=listTable [value2]=listFieldId [value3]=listFieldName [value4]=listFieldNull [value5]=listFieldType (onClickList)="receiveFuncListData($event)" class="modal_app"></app-modal-judge>
				</div>
			  </div>
			  <div class="modal-footer">
				  <button type="button"  class="btn btn-warning" data-bs-dismiss="modal" (click)="closeModal()">ปิดหน้าจอ</button>
			  </div>
			  </div>
			</div>
		</div> -->

	</div>
</div>