<style>

</style>
<app-menu></app-menu>
<div style="width:100%;height:100%;" id="div-wraper" >
	<div class="content" style="padding:10px;" >
		<div class="card card-info" style="box-shadow: none !important;">
		   <div class="programName" style="float:left;margin-top:6px;"><i class="fa fa-folder-open-o" style="font-size:24px;margin-left:8px;"></i><span style="font-size: 16px;margin-left:5px;">{{programName}}</span></div>
		</div>
    	<!-- form start -->

		<div class="card card-info"  align="center" style="box-shadow: none !important;padding:5px;margin-top:-5px;">
			<div style="border: 1px solid #000000;border-radius: 4px;padding:5px;">
				<table width="100%"  border="0"  cellspacing="2" cellpadding="0" class="form_table">
					<tr>
						<td  align="right" width="14%">จ่ายเงินให้แก่ :&nbsp;</td>
						<td  align="left" width="86%">
							<div style="float: left;margin-left: 0px;">
								<ng-select [(ngModel)]="result.pay_to" style="width:200px;" >
									<ng-option *ngFor="let getData of getLitType" [value]=getData.fieldIdValue>{{getData.fieldNameValue}}</ng-option>
								</ng-select>
							</div>
							<div style="float: left;margin-left: 5px;margin-top:3px;">ที่ :&nbsp;</div>
							<div style="float: left;margin-left: 5px;"><input  [(ngModel)]="result.item" type="text" (change)="tabChangeInput('item',$event)"  class="form-control" style="width:66px;"></div>
							<div style="float: left;margin-left: 5px;margin-top:3px;">ชื่อ/ชื่อสกุล :&nbsp;</div>
							<div style="float: left;margin-left: 5px;"><input  [(ngModel)]="result.pay_name" type="text"   class="form-control" style="width:381px;"></div>
							<div style="float: left;margin-left:2px;margin-top:4px;">
								<i  class="far fa-list-alt" style="font-size: 20px;margin-left:2px;cursor: pointer;" (click)="clickOpenMyModalComponent(1)"></i>
							</div>
							<div style="float: left;margin-left:2px;margin-top:4px;" >
								<i  class="far fa-list-alt" style="font-size: 20px;margin-left:2px;cursor: pointer;" (click)="clickOpenMyModalComponent(2)"></i>
							</div>
							<div style="float: left;margin-left: 4px;">
								<button type="button" class="btn btn-primary" style="margin-left:0px;" (click)="clickOpenMyModalComponent(3)">เลือกข้อมูลศาล</button>
							</div>
							<div style="float: left;margin-left: 4px;">
								<button type="button" class="btn btn-primary" style="margin-left:0px;" (click)="clickOpenMyModalComponent(4)">สำนักพิมพ์</button>
							</div>
						</td>
					</tr>
					<tr>
						<td  align="right">ธนาคาร :&nbsp;</td>
						<td  align="left">
							<div style="float: left;"><input  [(ngModel)]="result.bank_id" type="text" (change)="tabChangeInput('bank_id',$event)"  class="form-control" style="width:66px;"></div>
							<div style="float: left;margin-left: 5px;"><input  [(ngModel)]="result.bank_name" type="text" readonly  class="form-control" style="width:381px;"></div>
							<div style="float: left;margin-left:2px;margin-top:4px;" >
								<i  class="far fa-list-alt" style="font-size: 20px;margin-left:2px;cursor: pointer;" (click)="clickOpenMyModalComponent(5)"></i>
							</div>
						</td>
					</tr>
					<tr>
						<td  align="right">เล่มที่ :&nbsp;</td>
						<td  align="left">
							<div style="float: left;"><input  [(ngModel)]="result.book_no" type="text"  class="form-control" style="width:115px;"></div>
							<div style="float: left;margin-left: 5px;margin-top:3px;">เลขที่ :&nbsp;</div>
							<div style="float: left;margin-left: 5px;"><input  [(ngModel)]="result.check_no" type="text"  class="form-control" style="width:115px;"></div>
							<div style="float: left;margin-left: 5px;margin-top:3px;">เลขที่บัญชีธนาคาร :&nbsp;</div>
							<div style="float: left;margin-left: 5px;"><input  [(ngModel)]="result.book_account" type="text"  class="form-control" style="width:171px;"></div>
							<div style="float: left;margin-left:2px;margin-top:4px;" >
								<i  class="far fa-list-alt" style="font-size: 20px;margin-left:2px;cursor: pointer;" (click)="clickOpenMyModalComponent(6)"></i>
							</div>
						</td>
					</tr>
					<tr>
						<td  align="right" >สาขา :&nbsp;</td>
						<td  align="left" >
							<div style="float: left;"><input  [(ngModel)]="result.bankbranch" type="text"  class="form-control" style="width:311px;"></div>
						</td>
					</tr>
				</table> 
			</div>
			<table width="100%"  border="0"  cellspacing="2" cellpadding="2" class="form_table" style="margin-top:5px;">
				<tr>
					<td  align="right" width="14%">วันที่จ่ายเช็ค :&nbsp;</td>
					<td  align="left" width="40%">
						<div style="float:left;"><input  type="text" [(ngModel)]="result.check_date" style="width:110px;" class="form-control jcalendar check_date" #check_date (click)="directiveDate(check_date.value,'check_date')"></div>
                		<div style="float:left;margin-left:8px;margin-top:5px;"><i class="fa fa-calendar" style="font-size: 16px;" onClick="$('.check_date').focus();"></i></div>	
						<div style="float: left;margin-left: 5px;margin-top:3px;">จำนวนเงินในเช็ค :&nbsp;</div>
						<div style="float: left;"><input  [(ngModel)]="result.check_amt" type="text"  class="form-control" style="width:101px;"></div>
						<div style="float: left;margin-left: 5px;margin-top:3px;">บาท</div>
						<div style="float: left;margin-left: 10px;margin-top:3px;"><input type="checkbox" [(ngModel)]="result.eng_flag" [value]="1" style="width: 15px;height: 15px;"></div>
						<div style="float: left;margin-left: 5px;margin-top:3px;">เช็คภาษาอังกฤษ</div>
					</td>
					<td  align="left" width="46%">
						<div style="float: left;">
							<button type="button" class="btn btn-primary" style="margin-left:0px;" (click)="saveData()">จัดเก็บ</button>
							<button type="button" class="btn btn-warning" style="margin-left:5px;"  (click)="setDefPage()">ยกเลิก</button>
							<button type="button" class="btn btn-info" style="margin-left:5px;" (click)="clickOpenMyModalComponent(9)">พิมพ์เช็ค</button>
							<button type="button" class="btn btn-danger" style="margin-left:5px;" (click)="closeWin()">ปิดหน้าจอ</button>
						</div>
						<div style="float: left;margin-left: 10px;margin-top:3px;"><input type="checkbox" [(ngModel)]="result.cancel_flag" #cancel_flag (click)="confirmCancel(cancel_flag.checked)" style="width: 15px;height: 15px;"></div>
						<div style="float: left;margin-left: 5px;margin-top:3px;color: red;">ยกเลิกเช็ค</div>
					</td>
				</tr>
				<tr>
					<td  align="right" >หมายเหตุ :&nbsp;</td>
					<td  align="left" >
						<div style="float:left;">
								<input  type="text" [(ngModel)]="result.remark"  style="width:381px;" class="form-control">
								<!--<mat-form-field class="example-full-width"></mat-form-field>
								<input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
								<mat-autocomplete #auto="matAutocomplete">
									<mat-option *ngFor="let option of filteredOptions | async" [value]="option">
									  {{option}}
									</mat-option>
								  </mat-autocomplete>
							</mat-form-field>-->
						</div>
					</td>
					<td  align="left" >
						<div style="float: left;margin-left: 5px;margin-top:3px;"><span style="color: red;">***</span>&nbsp;กรณีป้อนรหัสสำหรับยกเลิกแล้ว ต้องกดปุ่มจัดเก็บ จึงจะเป็นแถบสีแสดงว่ายกเลิก</div>
					</td>
				</tr>
				
			</table> 
		</div>

		<div class="card card-info"  align="center" style="box-shadow: none !important;padding:5px;margin-top:-5px;">
			<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-sm row-border hover" style="width:99%;margin-top:3px;">
				<thead>
					<tr>
						<th align="center" class="no-sort">ลบ</th>
						<th align="center" class="no-sort">แก้ไข</th>
						<th align="center" width="10%">ผู้รับเช็ค</th>
						<th align="center" width="5%">วันที่รับเช็ค</th>
						<th align="center" width="5%">เล่มที่</th>
						<th align="center" width="6%">เลขที่เช็ค</th>
						<th align="center" width="8%">ธนาคาร</th>
						<th align="center" width="8%">สาขา</th>
						<th align="center" width="5%">วันที่สั่งจ่าย</th>
						<th width="5%" align="center" >จำนวนเงิน</th>
						<th  width="7%" >หน่วยงานที่บันทึก</th>
						<th  width="8%" >ผู้บันทึก</th>
						<th  width="7%" >วัน/เวลาที่บันทึก</th>
						<th  width="7%" >หน่วยงานที่แก้ไข</th>
						<th  width="9%" >ผู้แก้ไข</th>
						<th  width="7%" >วัน/เวลาที่แก้ไข</th>

					</tr>
				</thead>

				<tbody *ngIf="items?.length != 0">
					<tr *ngFor="let post of items;let i = index;" [ngClass]="{'red': post.cancel_flag == 1}">
						<td align="center"><i class='fas fa-times' style='font-size:18px;color:rgba(255, 0, 0, 0.7);cursor: pointer;' (click)="delData(i)"></i></td>
						<td align="center"><i class="fa fa-pencil" style="font-size:18px;cursor:pointer;" (click)="editData(i,2)"></i></td>
						<td align="left" >{{post.pay_name}}</td>
						<td align="center">{{post.rcv_date}}</td>
						<td align="center" >{{post.book_no}}</td>
						<td align="center" >{{post.check_no}}</td>
						<td align="center">{{post.bank_name}}</td>
						<td align="center">{{post.bankbranch}}</td>
						<td align="center" >{{post.check_date}}</td>
						<td align="center" >{{post.check_amt}}</td>

						<td  align="center">{{post.create_dep_name}}</td>
						<td  align="center">{{post.create_user}}</td>
						<td align="center" >{{post.create_date}}</td>
						<td  align="center">{{post.update_dep_name}}</td>
						<td  align="center">{{post.update_user}}</td>
						<td  align="center">{{post.update_date}}</td>
					</tr>
				</tbody>
				<tbody *ngIf="items?.length == 0">
					<tr>
						<td colspan="16" style="color:red;text-align: center;" class="no-data-available">###### ไม่พบข้อมูลเลขคดีของบุคคลในไฟล์ #######</td>
						<td style="display:none;"></td>
						<td style="display:none;"></td>
						<td style="display:none;"></td>
						<td style="display:none;"></td>

						<td style="display:none;"></td>
						<td style="display:none;"></td>
						<td style="display:none;"></td>
						<td style="display:none;"></td>
						<td style="display:none;"></td>

						<td style="display:none;"></td>
						<td style="display:none;"></td>
						<td style="display:none;"></td>
						<td style="display:none;"></td>
						<td style="display:none;"></td>

						<td style="display:none;"></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
</div>

<div class="modal fade" data-refresh="true"  role="dialog" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width:100%;height:100%;">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title text-danger" id="exampleModalLabel"></h5>
		  <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
		  <button type="button" class="btn btn-warning" style="display:none;" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="loadMyModalComponent();" #openbutton></button>
		</div>
		<div class="modal-body" >
			<div style="min-height: 100px;max-height: 480px;overflow: auto;">
				<app-datalist-return *ngIf="loadModalComponent" [items]=list [value1]=listTable [value2]=listFieldId [value3]=listFieldName [value4]=listFieldNull  (onClickList)="receiveFuncListData($event)" class="modal_app"></app-datalist-return>
				<app-modal-confirm *ngIf="loadModalConfComponent" class="modal_app"></app-modal-confirm>
				<app-modal-case-litigant *ngIf="loadModalLitComponent" [type]=listTable [run_id]=queryParams.run_id [lit_type]=result.pay_to  (onClickList)="receiveFuncListData($event)"  class="modal_app"></app-modal-case-litigant>
				<app-popup-court-bank *ngIf="loadModalBankComponent"  (onClickList)="receiveBankListData($event)" class="modal_app"></app-popup-court-bank>
				<app-popup-print-cheque *ngIf="loadPopupPrintChequeComponent"  class="modal_app" (onClickList)="receiveFuncPrintCheque($event)"></app-popup-print-cheque> 
			</div>
		</div>
		<div class="modal-footer">
			<button type="button"  class="btn btn btn-primary" (click)="submitModalForm()" *ngIf="loadModalConfComponent">ตกลง</button>
			<button type="button"  class="btn btn-warning" data-bs-dismiss="modal" (click)="closeModal()">ปิดหน้าจอ</button>
		</div>
	  </div>
	</div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
	<p style="color: gray">Please Wait. </p>  
</ngx-spinner>
