<style>

</style>
<app-menu></app-menu>
<div style="width:100%;height:100%;" id="div-wraper" >
	<div class="content" style="padding:10px;" >
		<div class="card card-info" style="box-shadow: none !important;">
			<div class="" style="height:40px;border-radius: 4px;border:1px solid #17a2b8 !important;background-color: #e1f6f9;">
				<app-case-header *ngIf="programName"></app-case-header>
			</div>
		</div>
		<div class="card " style="box-shadow: none !important;padding:5px;background-color: #f0f0f0;">
			<table width="100%"  border="0" cellspacing="2" cellpadding="2" class="form_table">
        
				<tr>
					<td align="right" >ผู้เดินหมาย :&nbsp;</td>
					<td align="left">

						<div style="float: left;margin-left:2px;">
							<input  name="" type="text" readonly id="" value=""  class="form-control" style="width:220px;height:28px;"/>
						</div>
						<div style="float: left;margin-left:2px;margin-top:4px;" >
							<i  class="far fa-list-alt" style="font-size: 20px;margin-left:2px;margin-top:4px;"></i>
						</div>
						<div style="float:left;margin-left:8px;margin-top:5px;">&nbsp;วันที่บันทึกผู้เดินหมาย :&nbsp;</div>
						<div style="float:left;"><input  name="" type="text"   value=""  class="form-control" style="width:120px;height:28px;"></div>
                    	<div style="float:left;margin-left:8px;margin-top:5px;"><i class="fa fa-calendar" style="font-size: 16px;"></i></div>
					</td>
				</tr>
				<tr>
					<td  align="right">ความ :&nbsp;</td>
					<td  align="left" colspan="3">
						<div style="float: left;">
							<ng-select [(ngModel)]="selCaseType" class="CaseType" style="width:120px;" (change)="changeCaseType($event)"  #sCaseType>
								<ng-option *ngFor="let getData of getCaseType" [value]=getData.fieldIdValue >{{getData.fieldNameValue}}</ng-option>
							</ng-select>
						</div>
					</td>
				</tr>
				<tr>
					<td  align="right">หมายเลขคดีดำที่ :&nbsp;</td>
					<td  align="left" >
						<div style="float: left;">
							<ng-select  [(ngModel)]="selTitle" class="Title" style="width:120px;"  #sTitle>
								<ng-option *ngFor="let getData of getTitle" [value]=getData.fieldIdValue >{{getData.fieldNameValue}}</ng-option>
							</ng-select>
						</div>
						<div style="float:left;margin-left:3px;"><input  name="" type="text"   value=""  class="form-control" style="width:60px;height:28px;"></div>
						<div style="float:left;margin-left:3px;"><input  name="" type="text"   value=""  class="form-control" style="width:100px;height:28px;"></div>
						<div style="float:left;margin-left:3px;"><button type="button" class="btn btn-primary" >ค้นหา</button></div>
					</td>
				</tr>
				<tr>
					<td  align="right">รหัสหมาย :&nbsp;</td>
					<td  align="left" >
						<div style="float: left;margin-top:1px;font-size: 18px;">(</div>
						<div style="float: left;margin-left:1px;">
							<input  name="" type="text" id="" class="form-control" style="width:60px;height:28px;"/>
						</div>
						<div style="float: left;margin-top:1px;font-size: 18px;margin-left:1px;">) -</div>
						<div style="float: left;margin-left:10px;">
							<input  name="" type="text" id="" class="form-control" style="width:80px;height:28px;"/>
						</div>
						<div style="float: left;margin-top:5px;margin-left:2px;font-size: 18px;">/</div>
						<div style="float: left;margin-left:10px;">
							<input  name="" type="text" id="" class="form-control" style="width:80px;height:28px;"/>
						</div>
						<div style="float: left;margin-left:6px;"><button type="button" class="btn btn-primary" style="margin-left:5px;"  >ค้นหา</button></div>
						<div style="float:left;margin-left:8px;margin-top:5px;color: red;">Barcode หมาย :&nbsp;</div>
						<div style="float:left;margin-left:3px;"><input  name="" type="text"   value=""  class="form-control" style="width:160px;height:28px;"></div>
					</td>
				</tr>
				<tr>
					<td  align="right">&nbsp;</td>
					<td  align="left" >
						
						<div style="float:left;margin-left:88px;margin-top:5px;color: red;">อ่านบาร์โค๊ดหมายจะจัดเก็บให้อัตโนมัติ</div>

					</td>
				</tr>

			</table>
      <div class="card-footer" style="text-align:center; margin-top: 0px;">
				<button type="button" class="btn btn-success" style="margin-left:5px;" >จัดเก็บข้อมูลที่เลือก</button>
				<button type="button" class="btn btn-danger" style="margin-left:5px;"  >ยกเลิกการบันทึกผู้เดินหมาย</button>
				<button type="reset" class="btn btn-warning" style="margin-left:5px;color:white;" >ล้างหน้าจอ</button>
    </div>

		</div>
		<div class="card " style="box-shadow: none !important;padding:5px;">
			<table width="140%"  border="0" cellspacing="2" cellpadding="0" class="form_table">

				<tr>
					<td width="40%" align="left">
						<table datatable  class="table table-striped table-bordered table-sm row-border hover" style="width:100%;">
							<thead>
								<tr>
									<th width="2%" align="center">เลือก<br><input type="checkbox" name="del_all"  ></th>
									<th width="2%" >คดีดำ</th>
									<th width="2%" ><span style="color: red;">คดีแดง</span></th>
									<th width="4%" >ประเภทหมาย</th>
									<th width="2%" >รหัสหมาย</th>
									<th width="5%" >หมายถึง</th>
									<th width="2%" >ผู้นำหมาย</th>
									<th width="6%"  style="background:#77dfa1;">ผู้เดินหมาย</th>
									<th width="4%"  style="background:#77dfa1;">วันที่บันทึก<br>ผู้เดินหมาย </th>
									<th width="3%" >ใบเสร็จรับเงิน</th>
									<th width="3%" >ในเขต/ <br />นอกเขต </th>
									<th width="6%" >ศาล</th>
									<th width="6%" >ที่อยู่ผู้รับหมาย</th>
									<th width="3%" >วันนัดพิจารณา</th>
									<th width="3%" >คดีดำ</th>
									<th width="3%" ><span style="color: red;">คดีแดง</span></th>
									<th width="5%" >ประเภทหมาย</th>
									<th width="2%" >รหัสหมาย</th>
									<th width="5%" >หมายถึง</th>
									<th width="4%" >วันที่จ่ายหมาย</th>
									<th width="3%" >คำสั่งหมาย</th>
									<th width="3%" >รหัสไปรษณีย์</th>
									<th width="3%" >หมายเลข EMS/<br />ลงทะเบียน</th>
									<th width="2%" >ซองใหญ่</th>
									<th width="3%" >ผู้รับหมาย</th>
									<th width="4%" >วันที่รับหมาย</th>
									<th width="3%" >ค่าส่งหมาย</th>
									<th width="2%" >หมายศาล </th>
								</tr>
							</thead>

							<tbody >
								<tr>
									<td colspan="28" style="color:red;text-align: center;" class="no-data-available">###### ไม่พบข้อมูล #######</td>
									<td style="display:none;"></td>
									<td style="display:none;"></td>
									<td style="display:none;"></td>
									<td style="display:none;"></td>

									<td style="display:none;"></td>
									<td style="display:none;"></td>
									<td style="display:none;"></td>
									<td style="display:none;"></td>
									<td style="display:none;"></td>

									<td style="display:none;"></td>
									<td style="display:none;"></td>
									<td style="display:none;"></td>
									<td style="display:none;"></td>
									<td style="display:none;"></td>

									<td style="display:none;"></td>
									<td style="display:none;"></td>
									<td style="display:none;"></td>
									<td style="display:none;"></td>
									<td style="display:none;"></td>

									<td style="display:none;"></td>
									<td style="display:none;"></td>
									<td style="display:none;"></td>
									<td style="display:none;"></td>
									<td style="display:none;"></td>

									<td style="display:none;"></td>
									<td style="display:none;"></td>
									<td style="display:none;"></td>

								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</table>

		</div>
	</div>




<!--<script src="case-type.component.js"></script>-->
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
	<p style="color: gray">Please Wait. </p>
</ngx-spinner>

