<style>

</style>
<app-menu></app-menu>
<div style="width:100%;height:100%;" id="div-wraper">
	<div class="content" style="padding:10px;" >
		<div class="card card-info">
			<div class="card-header">
			<h3 class="card-title">{{programName}}</h3>
			</div>
			<!-- /.card-header -->
			<!-- form start -->

				<div class="card-body">
				<table width="100%"  border="0" cellspacing="2" cellpadding="0" >
            <tr>
              <td  align="right">เลือกตาม :&nbsp;</td>
              <td  align="left">
                <div style="float: left;">
                  <input type="radio" name="chk" [(ngModel)]="result.chk" value="1" (click)="assignDate(1)" style="width:15px;height:15px;margin-top:5px;"/>
                </div>
                <div style="float: left;margin-left:5px;margin-top:4px;">วันที่</div>
                <div style="float: left;margin-left:8px;">
                  <input type="radio" name="chk" [(ngModel)]="result.chk" value="2" (click)="assignDate(2)" style="width:15px;height:15px;margin-top:5px;"/>
                </div>
                <div style="float: left;margin-left:5px;margin-top:4px;">ช่วงวันที่</div>
               </td>
            </tr>
            <tr>
              <td  width="20%" align="right" >เวรวันที่ :&nbsp;</td>
              <td  align="left">
                <div style="float:left;"><input   type="text" [(ngModel)]="result.assign_date1" class="form-control jcalendar assign_date1" #assign_date1 (click)="directiveDate(assign_date1.value,'assign_date1')" style="width:120px;height:28px;text-align: center;"></div>
                <div style="float:left;margin-left:8px;margin-top:5px;"><i class="fa fa-calendar" style="font-size: 16px;" onClick="$('.assign_date1').focus();"></i></div>
                <span [ngStyle]="{'display' : result.chk == 1 ? 'none' : 'block'}">
                <div style="float: left; margin-left:5px;margin-top:3px;">&nbsp;ถึงวันที่ :&nbsp;</div>
                <div style="float:left;"><input   type="text" [(ngModel)]="result.assign_date2" class="form-control jcalendar assign_date2" #assign_date2 (click)="directiveDate(assign_date2.value,'assign_date2')" style="width:120px;height:28px;text-align: center;"></div>
                <div style="float:left;margin-left:8px;margin-top:5px;"><i class="fa fa-calendar" style="font-size: 16px;" onClick="$('.assign_date2').focus();"></i></div>
                </span>
              </td>
              </tr>
              <tr>
                <td align="right">ประเภทเวร :&nbsp;</td>
                <td align="left" colspan="6" >
                  <div style="float:left;margin-left:0px;">
                    <ng-select [(ngModel)]="result.assign_type" style="width:110%;min-width: 80px;" [ngModelOptions]="{standalone: true}"  #sAssignType>
                      <ng-option *ngFor="let getData of getAssignType" [value]=getData.fieldIdValue >{{getData.fieldNameValue}}</ng-option>
                    </ng-select>
                  </div>
                 </td></tr>
           <tr>
                  <td  align="right">กำหนดตาม :&nbsp;</td>
                  <td  align="left">
                    <div style="float: left;">
                      <input type="radio" name="type" [(ngModel)]="result.type" value="1" style="width:15px;height:15px;margin-top:5px;"/>
                    </div>
                    <div style="float: left;margin-left:5px;margin-top:4px;">ผู้พิพากษา</div>
                    <div style="float: left;margin-left:8px;">
                      <input type="radio" name="type" [(ngModel)]="result.type" value="2" style="width:15px;height:15px;margin-top:5px;"/>
                    </div>
                    <div style="float: left;margin-left:5px;margin-top:4px;">คณะ</div>
                   </td>
                </tr>
                <tr *ngIf="result.type==2">
                  <td  align="right" width="25%;">ประเภทคดี :&nbsp;</td>
                  <td  align="left">
                    <div style="float:left;">
                      <ng-select [(ngModel)]="result.case_cate_id" style="width:120%;min-width:100px;" [ngModelOptions]="{standalone: true}"  #sCaseCate>
                        <ng-option *ngFor="let getData of getCaseCate" [value]=getData.fieldIdValue >{{getData.fieldNameValue}}</ng-option>
                      </ng-select>
                    </div>
                    <div style="float:left;margin-left:25px;">&nbsp; &nbsp;คณะที่ :&nbsp;</div>
                    <div style="float:left;margin-left:0px;">
                      <ng-select [(ngModel)]="result.group_running" style="width:80px;" #sGroupRunning>
                        <ng-option *ngFor="let getData of getGroupRunning" [value]=getData.fieldIdValue>{{getData.fieldNameValue}}</ng-option>
                      </ng-select>
                    </div>
                  </td>
                </tr>
             <tr *ngIf="result.type==1">
          <td align="right" >ผู้พิพากษา :&nbsp;</td>
					<td align="left">
						<div style="float: left;">
              <input   type="text" id="judge_id" name="judge_id" [(ngModel)]="result.judge_id" maxlength="5" (change)="tabChange($event,1)"  class="form-control" style="width:90px;height:28px;text-align: center;"/>
            </div>
            <div style="float: left;margin-left:2px;">
              <input   type="text"  id="judge_name" name="judge_name" [(ngModel)]="result.judge_name"  readonly class="form-control" style="width:220px;height:28px;"/>
            </div>
            <div style="float: left;margin-left:2px;margin-top:4px;">
              <i class='far fa-list-alt iDep' style="font-size: 20px;cursor:pointer;" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="loadMyChildComponent(1);"></i>
            </div>
            <input type="hidden" [(ngModel)]="hid_judge_id" name="hid_judge_id" id="hid_judge_id" >
            <input type="hidden" [(ngModel)]="hid_assign_date" name="hid_assign_date" id="hid_assign_date" >
            <input type="hidden" [(ngModel)]="hid_assign_type" name="hid_assign_type" id="hid_assign_type" >
					</td>
            </tr>
		       <tr>
							<td   align="right" >หมายเหตุ :&nbsp;</td>
							<td ><textarea name="remark" [(ngModel)]="remark" id="remark" rows="4" class="form-control" style="width: 500px;" ></textarea></td>
						</tr>
            </table>
				</div>
				<!-- /.card-body -->
				<div class="card-footer">
					<button type="button" class="btn btn-success" style="margin-left:20%;" (click)="submitForm()">จัดเก็บข้อมูล</button>
					<button type="button" class="btn btn-danger" style="margin-left:5px;" (click)="confirmBox()" >ลบข้อมูลที่เลือก</button>
          <button type="reset" class="btn btn-warning" style="margin-left:5px;color:white;" (click)="ClearAll()">ล้างหน้าจอ</button>
                     <!-- <button type="button" class="btn btn-primary" style="margin-left:5px;" (click)="searchData()">ค้นหา</button> -->
					<!--<button type="button" class="btn btn-info" style="margin-left:5px;"  (click)="goToLink('http://bizascorp.thddns.net:8848/taxcRpt56/rct0226.jsp')">พิมพ์</button>-->

					<input type="hidden" name="delValue" id="delValue">
					<!-- <input type="hidden" name="delValue2" id="delValue2"> -->
				</div>
				<!-- /.card-footer -->
        <fieldset style="width:100%;border-radius:4px;border:1px solid #333333;padding:1px;" >
          <legend style="line-height: 10px;display:none;margin-left:18px;font-weight:bold;color:#333333;padding:0 6px 0 6px;font-size:16px;border-bottom:none;width:auto;margin-bottom: 6px;" class="lClick">ข้อมูลคดี </legend>
          <table width="100%"  border="0" cellspacing="2" cellpadding="0" calspan="2" class="form_table">
            <tr>
              <td  width="240" align="right">แสดงข้อมูลเวร :&nbsp;</td>
              <td  align="left">
                <div style="width:80%;float:left;padding:5px 0 5px 0px;">
                  <div style="float: left;">
                    <input  name="asgn_type" type="text" id="asgn_type" [(ngModel)]="result.asgn_type" maxlength="5" (change)="tabChangeInput('asgn_type',$event)"  class="form-control" style="width:80px;height:28px;text-align:center;"/>
                  </div>
                  <div style="float: left;margin-left:2px;">
                      <input  name="asgn_desc" type="text"  id="asgn_desc"  [(ngModel)]="result.asgn_desc" value=""  class="form-control" style="width:220px;height:28px;" readonly>
                  </div>
                  <div style="float: left;margin-left:2px;margin-top:4px;">
                    <i class='far fa-list-alt iDep' style="font-size: 20px;cursor:pointer;" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="loadMyChildComponent(2);"></i>
                  </div>
                <div style="float: left;margin-left:10px;margin-top:4px;">ประจำเดือน :&nbsp;</div>
                  <div style="float: left;">
                    <ng-select  [(ngModel)]="result.stat_mon" style="width:160px;"  #sMonthTh>
                      <ng-option *ngFor="let getData of getMonthTh" [value]=getData.fieldIdValue >{{getData.fieldNameValue}}</ng-option>
                    </ng-select>
                  </div>
                  <div style="float: left;margin-left:10px;margin-top:4px;">ปี :&nbsp;</div>
                  <div style="float:left;"><input  type="text" [(ngModel)]="result.stat_year" class="form-control" style="width:60px;height:28px;"></div>
                  <div style="float:left;margin-left:4px;"><button type="button" class="btn btn-primary" style="margin-left:5px;"  (click)="searchData()">ค้นหา</button></div>
                  <button type="button" class="btn btn-info" style="margin-left:5px;"  (click)="printReport()">พิมพ์</button>
                </div>
              </td>
            </tr>
          </table>
        </fieldset>
		</div>
	</div>

	<div class="content" style="padding:10px;margin-top:-25px;width:120%;">
		<section class="content" style="width: 100%;">
		<div class="card card-info">
			<div class="card-header" style="display:none;">
			<h3 class="card-title">ข้อมูล</h3>
			</div>
			<!-- /.card-header -->

			<div class="card-body" width="100%" >
				<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-sm row-border hover myTable1">
					<thead>
						<tr>
						<th width="3%" class="no-sort">
							<input type="checkbox" name="all" [(ngModel)]="masterSelected" value="m1" (change)="checkUncheckAll()"/>
						</th>
						<th width="3%" class="no-sort">แก้ไข</th>
						<th width="4%">เวรวันที่</th>
			    	<th width="5%">ประเภทเวร</th>
            <th width="5%">คณะที่</th>
            <th width="5%">องค์คณะ</th>
            <th width="5%">รหัสผู้พิพากษา</th>
            <th width="8%">ผู้พิพากษา</th>
            <th width="8%">หมายเหตุ</th>
            <th width="5%" >หน่วยงานที่บันทึก</th>
						<th width="5%" >ผู้บันทึก</th>
						<th width="5%" >วัน/เวลาที่บันทึก</th>
						<th width="5%" >หน่วยงานที่แก้ไข</th>
						<th width="5%" >ผู้แก้ไข</th>
						<th width="5%"  >วัน/เวลาที่แก้ไข</th>
						<!--<th width="15%">&nbsp;</th>-->
						</tr>
					</thead>
					<tbody *ngIf="posts?.length != 0">

					<tr *ngFor="let post of posts;let i = index;" [ngClass]="{'red':post.assign_type > 99}">
							<td align="center"><span *ngIf="post.assign_type < 100"><input type="checkbox"  [(ngModel)]="post.editJudgeId" (change)="isAllSelected()" ></span></td>
							<td align="center"><i *ngIf="post.assign_type < 100" class='fas fa-pencil-alt' style='cursor:pointer;font-size:20px' (click)="editData(i)"></i></td>
							<td align="center">{{post.assign_date}}</td>
              <td align="center">{{post.assign_desc}}</td>
              <td align="center">{{post.party_id}}</td>
              <td align="center">{{post.judge_group_id}}</td>
              <td align="center">{{post.judge_id}}</td>
              <td align="center">{{post.judge_name}}</td>
              <td align="center">{{post.remark}}</td>
							<td align="center">{{post.create_dep_name}}</td>
							<td align="center">{{post.create_user}}</td>
							<td align="center">{{post.create_date}}</td>
							<td align="center">{{post.update_dep_name}}</td>
							<td align="center">{{post.update_user}}</td>
							<td align="center">{{post.update_date}}</td>
					</tr>
					</tbody>
					<tbody *ngIf="posts?.length == 0">
						<tr>
							<td colspan="15" style="color:red;text-align: center;" class="no-data-available">###### ไม่พบข้อมูล #######</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- /.card-body -->
		</div>
		<!-- /.card -->
		</section>
	</div>

 <!-- Modal -->

 <div class="modal fade" data-refresh="true"  role="dialog" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width:100%;height:100%;">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title text-danger" id="exampleModalLabel"></h5>
		  <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
		  <button type="button" class="btn btn-warning" style="display:none;" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="loadMyModalComponent();" #openbutton></button>
		</div>
		<div class="modal-body" >

      <input type="hidden" name="table_name" id="table_name">
      <input type="hidden" name="field_id" id="field_id">
      <input type="hidden" name="field_name" id="field_name">
      <div style="min-height: 100px;max-height: 480px;overflow: auto;">
      <app-datalist-return *ngIf="loadComponent"  [items]=list [value1]=listTable [value2]=listFieldId [value3]=listFieldName [value4]=listFieldNull (onClickList)="receiveFuncListData($event)" class="modal_app"></app-datalist-return>
      <app-datalist-return-multiple *ngIf="loadMutiComponent"  [items]=list [value1]=listTable [value2]=listFieldId [value3]=listFieldName [value4]=listFieldNull [value5]=listFieldName2 [value7]=listFieldCond (onClickList)="receiveFuncListData($event)" class="modal_app"></app-datalist-return-multiple>
      <app-modal-confirm *ngIf="loadModalComponent" class="modal_app"></app-modal-confirm>
      <app-modal-judge *ngIf="loadModalJudgeComponent" [items]=list [value1]=listTable [value2]=listFieldId [value3]=listFieldName [value4]=listFieldNull [value5]=listFieldType (onClickList)="receiveJudgeListData($event)" class="modal_app"></app-modal-judge>
       </div>

		</div>
		<div class="modal-footer">
			<button type="button"  class="btn btn btn-primary" (click)="submitModalForm()" *ngIf="loadModalComponent">ตกลง</button>
		  	<button type="button"  class="btn btn-warning" data-bs-dismiss="modal" (click)="closeModal()">ปิดหน้าจอ</button>
		</div>
	  </div>
	</div>
  </div>
</div>

<!--<script src="case-type.component.js"></script>-->
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
	<p style="color: gray">Please Wait. </p>
</ngx-spinner>

