<style>

</style>
<!-- <app-menu></app-menu> -->
<div style="width:100%;height:100%;" id="div-wraper">
	<div class="content" style="padding:10px;">
		<div class="card card-info" style="box-shadow: none !important;">
			<!-- <div class=""
				style="height:40px;border-radius: 4px;border:1px solid #17a2b8 !important;background-color: #e1f6f9;">
				<div style="float:left;margin-top:6px;"><i class="fa fa-folder-open-o"
						style="font-size:24px;margin-left:8px;"></i><span
						style="font-size: 16px;margin-left:5px;">{{programName}}</span></div>
			</div> -->
		</div>
		<!-- form start -->
		<!-- <form class="form-horizontal" id="myForm"  #prsc0100> -->
		<div class="card-body">
			<div class="card" align="center" style="box-shadow: none !important;padding:5px;">
				<table width="100%" border="0" cellspacing="2" cellpadding="2" class="form_table">
					<tr>
						<td align="right" width="44%">วันที่ตรวจสอบ :&nbsp;</td>
						<td>
							<div style="float:left;">
								<input type="text" [(ngModel)]="result.txtStartDate" placeholder="่วว/ดด/ปปปป"
									class="form-control jcalendar txtStartDate" #txtStartDate
									(click)="directiveDate(txtStartDate.value,'txtStartDate')" style="width:120px;" />
							</div>
							<div style="float:left;margin-left:4px;margin-top:5px;"><i class="fa fa-calendar"
									style="font-size: 16px;" onClick="$('.txtStartDate').focus();"></i></div>
							<div style="float:left;margin-left:8px;margin-top:5px;">&nbsp;ถึง&nbsp;&nbsp;</div>
							<div style="float:left;">
								<input type="text" [(ngModel)]="result.txtEndDate" placeholder="่วว/ดด/ปปปป"
									class="form-control jcalendar txtEndDate" #txtEndDate
									(click)="directiveDate(txtEndDate.value,'txtEndDate')" style="width:120px;" />
							</div>
							<div style="float:left;margin-left:4px;margin-top:5px;"><i class="fa fa-calendar"
									style="font-size: 16px;" onClick="$('.txtEndDate').focus();"></i></div>
						</td>
					</tr>

					<tr>
						<td align="right">เวลายื่นตั้งแต่ :&nbsp;</td>
						<td>
							<div style="float: left;margin-left:3px;">
								<input name="ptime_start" type="text" id="ptime_start" [(ngModel)]="result.ptime_start"
									value="" class="form-control" style="width:180px;height:28px;">
							</div>
							<div style="float:left;margin-left:3px;margin-top:5px;"> ถึงเวลา &nbsp;</div>
							<div style="float: left;margin-left:2px;">
								<input name="ptime_end" type="text" id="ptime_end" [(ngModel)]="result.ptime_end"
									value="" class="form-control" style="width:180px;height:28px;">
							</div>
						</td>
					</tr>

					<tr>
						<td align="right">คำนำหน้า :&nbsp;</td>
						<td align="left">
							<div style="float: left;margin-left:3px;">
								<ng-select [(ngModel)]="result.ptitle" style="width:150px;"
									[ngModelOptions]="{standalone: true}" #sType>
									<ng-option *ngFor="let getData of getAssetTitle" [value]=getData.fieldIdValue>
										{{getData.fieldNameValue}}</ng-option>
								</ng-select>
							</div>
						</td>
					</tr>

					<tr>
						<td align="right">หน่วยงานที่ขอหมาย :&nbsp;</td>
						<td align="left">
							<div style="float: left;">
								<ng-select [(ngModel)]="result.pdepartment" style="width:200px;"
									[ngModelOptions]="{standalone: true}" #sType>
									<ng-option *ngFor="let getData of getDepartment" [value]=getData.id>{{getData.text}}
									</ng-option>
								</ng-select>
							</div>
						</td>
					</tr>

					<div>&nbsp;</div>
				</table>
			</div>
			<!-- /.card-body -->
			<div class="card-footer" align="center">
				<button type="button" class="btn btn-info" style="margin-left:5px;"
					(click)="printReport()">พิมพ์รายงาน</button>
				<button type="reset" class="btn btn-warning" style="margin-left:5px;color:white;"
					(click)="ClearAll()">ล้างหน้าจอ</button>
			</div>
			<!-- /.card-footer -->
		</div>
		<!-- </form> -->
	</div>
</div>