    <table width="100%"  border="0" cellspacing="2" cellpadding="0" class="form_table">           

        <tr>
            <td height="25" width="328" height="34" align="left" >หมายเลขคดีแดงที่ :&nbsp;</td>
            <td >&nbsp;</td>
        </tr>
        <tr>
            <td height="25" width="328" height="34" align="right" >รหัสคำพิพากษาย่อ :&nbsp;</td>
            <td >
                <div style="float:left;"><input  name="" type="text"   value=""  class="form-control" style="width:45px;height:28px;text-align:center;"></div>
                <div style="float:left;"><input  name="" type="text" readonly  value=""  class="form-control" style="width:260px;height:28px;text-align:left;margin-left:2px;"></div>
                <div style="float:left;"><i class='far fa-list-alt iDep' style="font-size: 20px;cursor:pointer;margin-left:2px;margin-top:4px;" ></i></div>
                <div style="float:left;margin-left:5px;">
                    <button type="button" class="btn btn-success" style="margin-left:5px;" >จัดเก็บ</button>
                </div>
                <div style="float:left;margin-left:5px;">
                    <button type="button" class="btn btn-warning" style="margin-left:5px;"  >ยกเลิก</button>
                </div>
            </td>
        </tr>
        <tr>
            <td height="25" width="328" height="34" align="right" >คำพิพากษาย่อ :&nbsp;</td>
            <td >
                <textarea name="fact1" class="form-control" id="" style="width: 860px; height: 165px; line-height: 18px;overflow-wrap: break-word;"></textarea>
            </td>
        </tr>
    </table>


