<table width="100%" border="0" align="center" cellpadding="0" cellspacing="1" class="bordered" style="margin-top:4px;">
  <thead>
    <tr align="center" >
      <th width="80" height="25" ><strong>เลือก</strong></th>
      <th width="140" height="25" ><strong>วันที่นัด</strong></th>
      <th width="140"><strong >เวลานัด</strong></th>
      <th ><strong >นัดเพื่อ</strong></th>
    </tr>
  </thead>
  <tbody *ngIf="items?.length != 0" >
    <tr *ngFor="let datas of items;let i = index;" >
      <td align="center"><input type="checkbox" [(ngModel)]="this.items[i].index" style="height:15px;width:15px;margin-top:2px;cursor:pointer;" (change)="isAllSelected(this.items,'masterSelect','index')"></td>
      <td align="center">{{datas.date_appoint}}</td>
      <td align="center">{{datas.time_appoint}}</td>
      <td align="center">{{datas.app_name}}</td>
    </tr>
   </tbody>
   <tbody *ngIf="items?.length == 0">
    <tr>
      <td colspan="4" style="color:red;text-align: center;" class="no-data-available">###### ไม่พบข้อมูล #######</td>
    </tr>
  </tbody>
</table>
<div class="card-footer" style="text-align:center;">
  <button type="button" class="btn btn-success" (click)="onClickSaveData()">บันทึก</button>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
	<p style="color: gray">Please Wait.</p>  
</ngx-spinner> 
