
    <div style="margin:0 auto;margin:0 auto;display:table;padding:10px;width: 98%;" class="card" >
        <fieldset style="width:100%;border-radius:4px;border:1px solid #333333;padding:1px;margin:0 auto;display: table;">
            <legend style="line-height: 10px;float:none;margin-left:18px;font-weight:bold;color:#333333;padding:0 6px 0 6px;font-size:16px;border-bottom:none;width:auto;margin-bottom: 6px;" class="lClick">สลับเลขที่อ้างอิง</legend>
            <table width="100%" border="0" align="center" cellpadding="2" cellspacing="0">
                <tr >
                    <td align="right">เลขอ้างอิงที่ :&nbsp;</td>
                    <td>
                      <div style="float:left;margin-left:3px;"><input name="run_no"  type="text" [(ngModel)]="result.run_no"  class="form-control" style="width:80px;height:28px;text-align: center;"></div>
                      <div style="float:left;margin-left: 10px;margin-top:4px;">/</div>
                      <div style="float:left;margin-left:3px;"><input name="run_yy" type="text" [(ngModel)]="result.run_yy" class="form-control" style="width:70px;height:28px;text-align: center;"></div>
                    </td>
                </tr>
                <tr >
                  <td align="right">สลับกับเลขอ้างอิงที่ :&nbsp;</td>
                  <td>
                    <div style="float:left;margin-left:3px;"><input name="new_run_no"  type="text" [(ngModel)]="result.new_run_no"  class="form-control" style="width:80px;height:28px;text-align: center;"></div>
                    <div style="float:left;margin-left: 10px;margin-top:4px;">/</div>
                    <div style="float:left;margin-left:3px;"><input name="new_run_yy" type="text" [(ngModel)]="result.new_run_yy" class="form-control" style="width:70px;height:28px;text-align: center;"></div>
                  </td>
              </tr>
            </table>
            <div class="card-footer" style="margin-top: 5px;">
              <button type="button" class="btn btn-primary" style="margin-left:43%;"  (click)="checkParam()">สลับเลขที่อ้างอิง</button>
              <!-- <button type="button" class="btn btn-info" style="margin-left:5px;"  (click)="checkParam(2)">พิมพ์รายงาน(แนวตั้ง)</button> -->
               <!--<button type="button" class="btn btn-warning" style="margin-left:5px;">ปิดหน้าจอ</button>-->
                <!--<button type="button" class="btn btn-danger" style="margin-left:5px;" >ปิดหน้าจอ</button>-->
            </div>
        </fieldset>
    </div>
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
      <p style="color: gray">Please Wait. </p>
    </ngx-spinner>
