<style>

</style>
<app-menu></app-menu>
<div style="width:100%;height:100%;" id="div-wraper" >
	<div class="content" style="padding:10px;" >
		<div class="card card-info" style="box-shadow: none !important;">
			<div class="" style="height:40px;border-radius: 4px;border:1px solid #17a2b8 !important;background-color: #e1f6f9;">
				<app-case-header *ngIf="programName" [runId]="runId"></app-case-header>
			</div>
		</div>
		<div class="card card-info" style="box-shadow: none !important;margin-top:-4px;border:0px;">
			<app-guar-head *ngIf="defaultCaseType" (sendCaseData)="fnDataHead($event)" [runId]="runId"></app-guar-head >
		</div>
		<div  style="box-shadow: none !important;margin-top:-10px;border: 0px;">
			<app-fgu0100-main [getDataHead]="this.sendHead" [guar_running]="guar_running" (onClickList)="receiveMainData($event)" (sendCaseData)="fnDataHead($event)"></app-fgu0100-main>
		</div>
	</div>
<!--<script src="case-type.component.js"></script>-->
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
	<p style="color: gray">Please Wait. </p>
</ngx-spinner>

