<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>

<app-menu></app-menu>
<div style="width:100%;height:100%;" id="div-wraper" >
	<div class="content" style="padding:10px;" >
		<div class="card card-info" style="box-shadow: none !important;">
			<!-- <div class="" style="height:40px;border-radius: 4px;border:1px solid #17a2b8 !important;background-color: #e1f6f9;">
				<app-case-header *ngIf="programName"></app-case-header>
			</div> -->
      <div class="programName" style="float:left;margin-top:6px;"><i class="fa fa-folder-open-o" style="font-size:24px;margin-left:8px;"></i><span style="font-size: 16px;margin-left:5px;">{{programName}}</span></div>
		</div>


		<div class="card " style="box-shadow: none !important;padding:5px;">
			<table width="100%"  border="0" cellspacing="2" cellpadding="2" class="form_table">
				<tr>
					<td colspan="2" align="left" style="height:40px;">
						<div style="float:left;margin-left:8px;margin-top:5px;">ต้องการค้นหาข้อมูลตาม ....&nbsp;</div>
					</td>
				</tr>

        <tr>
					<td  align="right">ความ :&nbsp;</td>
					<td width="290"  align="left">
            <!-- <div style="float: left;margin-left:10px;margin-top:4px;">ความ :&nbsp;</div> -->
						<div style="float: left;">
              <ng-select [(ngModel)]="result.case_type" style="width:100px;"  [ngModelOptions]="{standalone: true}" (change)="changeCaseType($event)"  #sCaseType>
								<ng-option *ngFor="let getData of getCaseType" [value]=getData.fieldIdValue >{{getData.fieldNameValue}}</ng-option>
							</ng-select>
						</div>
					</td>
          <td align="right" width="110">คดีของศาล :&nbsp;</td>
          <td width="583" align="left">
            <div style="float:left;">
              <input type="text" [(ngModel)]="court_id" (change)="tabChangeSelect('court_id',getCourt,$event,1)"
                class="form-control" style="width:80px;text-align:center;float:left;"
                onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46">
            </div>
            <div style="float:left;margin-left:2px;">
              <ng-select [(ngModel)]="result.court_id" style="width:300px;"
                (change)="tabChangeSelect('court_id',getCourt,$event,2)" #sCourt>
                <ng-option *ngFor="let getData of getCourt" [value]=getData.fieldIdValue>{{getData.fieldNameValue}}
                </ng-option>
              </ng-select>
            </div>
          </td>
				</tr>
        <tr>
					<td  align="right">คดีหมายเลขดำที่ :&nbsp;</td>
					<td  align="left">
						<div style="float:left;">
							<ng-select  [(ngModel)]="result.title" style="width:100px;"   #sTitle>
								<ng-option *ngFor="let getData of getTitle" [value]=getData.fieldIdValue >{{getData.fieldNameValue}}</ng-option>
							</ng-select>
						</div>
						<div style="float:left;margin-left:3px;"><input   type="text" [(ngModel)]="result.id"  class="form-control" style="width:80px;height:28px;"></div>
					  <div style="float: left;margin-left:3px;margin-top:3px; margin-right: 3px;"> / </div>
            <div style="float:left;margin-left:3px;"><input type="text" [(ngModel)]="result.yy" class="form-control" style="width:70px;height:28px;"></div>
					</td>
				  <td align="right" style="color:red;">คดีหมายเลขแดงที่ :&nbsp;</td>
					<td align="left">
						<div style="float:left;">
							<ng-select  [(ngModel)]="result.red_title" style="width:100px;"   #sRedTitle>
								<ng-option *ngFor="let getData of getRedTitle" [value]=getData.fieldIdValue >{{getData.fieldNameValue}}</ng-option>
							</ng-select>
						</div>
						<div style="float:left;margin-left:3px;"><input   type="text" [(ngModel)]="result.red_id"  class="form-control" style="width:80px;height:28px;"></div>
					  <div style="float: left;margin-left:3px;margin-top:3px; margin-right: 3px;"> / </div>
            <div style="float:left;margin-left:3px;"><input   type="text" [(ngModel)]="result.red_yy" class="form-control" style="width:70px;height:28px;"></div>
					</td>
				</tr>
        <tr>
					<td  align="right">เลขคดีศาลเดิม :&nbsp;</td>
					<td  align="left">
						<div style="float:left;"><input   type="text" [(ngModel)]="result.old_title"  class="form-control" style="width:100px;height:28px;"></div>
						<div style="float:left;margin-left:3px;"><input   type="text" [(ngModel)]="result.old_id"  class="form-control" style="width:80px;height:28px;"></div>
					  <div style="float: left;margin-left:3px;margin-top:3px; margin-right: 3px;"> / </div>
            <div style="float:left;margin-left:3px;"><input type="text" [(ngModel)]="result.old_yy" class="form-control" style="width:70px;height:28px;"></div>
					</td>
				  <td align="right">เลขแดงศาลเดิม :&nbsp;</td>
					<td align="left">
						<div style="float:left;"><input   type="text" [(ngModel)]="result.old_red_title"  class="form-control" style="width:100px;height:28px;"></div>
						<div style="float:left;margin-left:3px;"><input   type="text" [(ngModel)]="result.old_red_id"  class="form-control" style="width:80px;height:28px;"></div>
						<div style="float: left;margin-left:3px;margin-top:3px; margin-right: 3px;"> / </div>
            <div style="float:left;margin-left:3px;"><input   type="text" [(ngModel)]="result.old_red_yy" class="form-control" style="width:70px;height:28px;"></div>
					</td>
				</tr>
        <tr>
          <td align="right" >เลขที่หนังสือต้นสังกัด :&nbsp;</td>
      <td><div style="float: left;">
        <input  name="doc_id_title" type="text"  id="doc_id_title"  [(ngModel)]="result.doc_id_title" value=""  class="form-control" style="width:150px;height:28px;" >
       </div>
       <div style="float: left;margin-left:3px;margin-top:3px; margin-right: 3px;"> / </div>
       <div style="float: left;">
        <input  name="doc_id" type="text"  id="doc_id"  [(ngModel)]="result.doc_id" value=""  class="form-control" style="width:150px;height:28px;" >
       </div>
      </td>
      <td align="right" >เรื่อง :&nbsp;</td>
      <td><div style="float: left;">
        <input  name="subject_name" type="text"  id="subject_name"  [(ngModel)]="result.subject_name" value=""  class="form-control" style="width:400px;height:28px;" >
       </div> </td>
        </tr>
        <tr>
					<td  width="172" align="right" >วันที่รับหนังสือตั้งแต่ :&nbsp;</td>
					<td  align="left">
						<div style="float:left;"><input   type="text" [(ngModel)]="result.sdate" class="form-control jcalendar sdate" #sdate (click)="directiveDate(sdate.value,'sdate')" style="width:120px;height:28px;"></div>
           	<div style="float:left;margin-left:8px;margin-top:5px;"><i class="fa fa-calendar" style="font-size: 16px;" onClick="$('.sdate').focus();"></i></div>
						<div style="float:left;margin-left:8px;margin-top:5px;color:blue;">&nbsp;ถึง&nbsp;</div>
						<div style="float:left;"><input   type="text" [(ngModel)]="result.edate" class="form-control jcalendar edate"  #edate (click)="directiveDate(edate.value,'edate')" style="width:120px;height:28px;"></div>
           	<div style="float:left;margin-left:8px;margin-top:5px;"><i class="fa fa-calendar" style="font-size: 16px;" onClick="$('.edate').focus();"></i></div>
          </td>
          <td align="right" >จาก :&nbsp;</td>
      <td><div style="float: left;">
        <input  name="doc_orig" type="text"  id="doc_orig"  [(ngModel)]="result.doc_orig" value=""  class="form-control" style="width:400px;height:28px;" >
       </div> </td>
				</tr>
        <tr>
          <td align="right">คำนำหน้าเลขที่หนังสือ :&nbsp;</td>
          <td align="left">
            <div style="float: left;">
              <ng-select [(ngModel)]="result.run_doc_title" name="run_doc_title" style="width:100px;"
                [ngModelOptions]="{standalone: true}"  #sRunDocTitle>
                <ng-option *ngFor="let getData of getRunDocTitle" [value]=getData.fieldNameValue>{{getData.fieldNameValue}}
                </ng-option>
              </ng-select>
            </div>
            <div style="float: left;margin-left:15px;margin-top:1px;">
              <input type="checkbox" name="must_reply" [(ngModel)]="result.must_reply" (change)="setRep();" >
            </div>
            <div style="float: left;margin-left:3px;">ต้องตอบกลับ &nbsp;</div>
          </td>
          <td align="right" >ถึง :&nbsp;</td>
      <td><div style="float: left;">
        <input  name="doc_dest" type="text"  id="doc_dest"  [(ngModel)]="result.doc_dest" value=""  class="form-control" style="width:400px;height:28px;" >
       </div> </td>
        </tr>
        <tr *ngIf="this.result.must_reply == 1">
          <td>&nbsp;</td>
          <td  align="left" colspan="2">
            <div style="float: left;margin-left: 120px;">
              <input type="radio" name="rep_con" [(ngModel)]="result.rep_con"  value="1" style="width:15px;height:15px;margin-top:5px;" >
            </div>
            <div style="float: left;margin-left:5px;margin-top:4px;">ทั้งหมด</div>
            <div style="float: left;margin-left:8px;">
              <input type="radio" name="rep_con"  [(ngModel)]="result.rep_con"  value="2"  style="width:15px;height:15px;margin-top:5px;"/>
            </div>
            <div style="float: left;margin-left:5px;margin-top:4px;">ยังไม่ได้ตอบกลับ</div>
            <div style="float: left;margin-left:8px;">
              <input type="radio" name="rep_con" [(ngModel)]="result.rep_con" value="3" style="width:15px;height:15px;margin-top:5px;"/>
            </div>
            <div style="float: left;margin-left:5px;margin-top:4px;">ตอบกลับแล้ว</div>
          </td>
          <td>&nbsp;</td>
        </tr>
        

			</table>
      <div class="card-footer" >
				<button type="button" class="btn btn-primary" style="margin-left:250px;"  (click)="searchData()">ค้นหา</button>
				<button type="reset" class="btn btn-warning" style="margin-left:5px;color:white;" onclick="location.reload()">ล้างหน้าจอ</button>
				<!-- <button type="button" class="btn btn-primary" style="margin-left:5px;"  >พิมพ์รายงานแนวตั้ง</button>
				<button type="button" class="btn btn-primary" style="margin-left:5px;"  >พิมพ์รายงานแนวนอน</button> -->
		    <button type="button" class="btn btn-success" style="margin-left:5px;" (click)="exportAsXLSX()" >ส่งออกเป็น Excel</button>
			</div>
		</div>

<div class="card"  style="box-shadow: none !important;padding:5px;width:2610px;">
  <table width="2600px"  border="0" cellspacing="2" cellpadding="0" class="form_table">
    <!-- <tr>
      <td width="2600px" align="left" style="height:40px;">
        <div style="float:left;margin-left:8px;margin-top:5px;">ทุนทรัพย์รวม :&nbsp;</div>
        <div style="float: left;">
          <input   type="text"  [(ngModel)]="deposit"  class="form-control" style="width:160px;height:28px;"/>
        </div>
        <div style="float: left;margin-left:5px;margin-top:5px;">บาท </div>
      </td>
    </tr> -->
    <!-- <tr>
      <td width="40%" align="left" style="height:40px;">
        <div style="float:left;margin-left:8px;margin-top:5px;">รวม &nbsp;</div>
        <div style="float: left;">
          <input  type="text" id="" [(ngModel)]="numCase"    class="form-control" style="text-align:center;width:60px;border:1px solid red;color:red;height:25px;"/>
        </div>
        <div style="float: left;margin-left:5px;margin-top:5px;">คดี </div>
        <div style="float: left;margin-left:4px;">
          <input  type="text" id=""  [(ngModel)]="numLit"   class="form-control" style="text-align:center;width:60px;border:1px solid blue;color:blue;height:25px;"/>
        </div>
        <div style="float: left;margin-left:5px;margin-top:5px;">คน </div>
      </td>
    </tr> -->
    <tr>
      <td width="100%" align="left">
        <table table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="table table-striped table-bordered table-sm row-border hover">

          <thead>
            <tr>

                  <!-- <th width="4%" style="color:red;" >คดีหมายเลขแดง</th>
                  <th width="4%" style="color:red">วันที่ออกแดง</th> -->
									<th width="3%" >ประเภททะเบียน</th>
                  <th width="4%" >เลขที่หนังสือ</th>
                  <th width="4%" >วันที่รับ</th>
									<th width="8%" >เรื่อง</th>
									<th width="6%" >เลขที่หนังสือต้นสังกัด</th>
									<th width="5%" >ต้นสังกัด</th>
                  <th width="6%" >จาก</th>
									<th width="6%" >ถึง</th>
                  <th width="5%" >คดีหมายเลขดำ</th>
                  <th width="5%" style="color:red" >คดีหมายเลขแดง</th>
                  <th width="5%" >เลขที่ซอง</th>
                  <th width="7%" >สิ่งที่ส่งมาด้วย</th>
                  <th width="4%" >ต้องตอบกลับ</th>
                  <th width="4%" >ภายในวันที่</th>
                  <th width="3%" >เลขที่<br>ตอบกลับ</th>
                  <th width="4%">หน่วยงานที่บันทึก</th>
                  <th width="4%">ผู้บันทึก</th>
                  <th width="4%">วัน/เวลาที่บันทึก</th>
                  <th width="4%">หน่วยงานที่แก้ไข</th>
                  <th width="4%">ผู้แก้ไข</th>
                  <th width="4%">วัน/เวลาที่แก้ไข</th>

            </tr>
          </thead>
          <tbody *ngIf="dataSearch?.length != 0">
            <tr *ngFor="let post of dataSearch;let i = index;">
              <!-- <td align="center"><a href="javascript:void(0)" (click)="goToPage(post.run_id,2)" style="color: red;">{{post.red_no}}</a></td> -->
              <td align="center">{{post.doc_sub_type_name}}</td>
              <td align="center"><a href="javascript:void(0)" (click)="goToPage(post.run_seq,1)">{{post.real_doc_no}}</a></td>
              <td align="center">{{post.real_send_date}}</td>
              <td align="center">{{post.subject_name}}</td>
              <td align="center">{{post.doc_id_title}}</td>
              <td align="center">{{post.doc_org}}</td>
              <td align="center">{{post.doc_orig}}</td>
              <td align="center">{{post.doc_dest}}</td>
              <td align="center"><div title={{post.black_no}}>{{post.black_no_short}}</div></td>
              <td align="center"><div title={{post.red_no}}>{{post.red_no_short}}</div></td>
              <td align="center">{{post.case_no}}</td>
              <td align="center">{{post.thing1}}</td>

              <td align="center"><span *ngIf="post.must_reply"><a href=""><i class='fas fa-check-alt' style='font-size:16px;color: #0099cc;'></i></a></span></td>
              <!-- <td align="center"><div title={{post.short_judgement}}>{{post.short_judgement_short}}</div></td> -->
              <td align="center">{{post.return_back_date}}</td>
              <td align="center">{{post.reply_doc_no}}</td>
              <td align="center">{{post.create_dep_name}}</td>
              <td align="center">{{post.create_user}}</td>
              <td align="center">{{post.create_date}}</td>
              <td align="center">{{post.update_dep_name}}</td>
              <td align="center">{{post.update_user}}</td>
              <td align="center">{{post.update_date}}</td>
              <!-- <td align="center">{{post.dday}}</td> -->
              <!-- <td style="padding-left:8px;">{{post.name}}</td> -->


            </tr>
          </tbody>
          <tbody *ngIf="dataSearch?.length == 0">
            <tr>
              <td colspan="21" style="color:red;text-align: center;" class="no-data-available">###### ไม่พบข้อมูล #######</td>
              <td style="display:none;"></td>
              <td style="display:none;"></td>
              <td style="display:none;"></td>
              <td style="display:none;"></td>

              <td style="display:none;"></td>
              <td style="display:none;"></td>
              <td style="display:none;"></td>
              <td style="display:none;"></td>
              <td style="display:none;"></td>

              <td style="display:none;"></td>
              <td style="display:none;"></td>
              <td style="display:none;"></td>
              <td style="display:none;"></td>
              <td style="display:none;"></td>

              <td style="display:none;"></td>
              <td style="display:none;"></td>
              <td style="display:none;"></td>
              <td style="display:none;"></td>
              <td style="display:none;"></td>

              <td style="display:none;"></td>
              <!-- <td style="display:none;"></td> -->

            </tr>
          </tbody>
        </table>

      </td>
    </tr>
  </table>
  </div>
</div>

<!-- Modal -->

<div class="modal fade" data-refresh="true"  role="dialog" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width:100%;height:100%;">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title text-danger" id="exampleModalLabel"></h5>
		  <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
		  <button type="button" class="btn btn-warning" style="display:none;" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="loadMyModalComponent();" #openbutton></button>
		</div>
		<div class="modal-body" >

				<input type="hidden" name="table_name" id="table_name">
				<input type="hidden" name="field_id" id="field_id">
				<input type="hidden" name="field_name" id="field_name">
				<div style="min-height: 100px;max-height: 480px;overflow: auto;">
				<!-- <app-datalist-return *ngIf="loadComponent" [items]=list [value1]=listTable [value2]=listFieldId [value3]=listFieldName  (onClickList)="receiveFuncListData($event)" class="modal_app"></app-datalist-return> -->
				<app-datalist-return-multiple *ngIf="loadComponent"  [items]=list [value1]=listTable [value2]=listFieldId [value3]=listFieldName [value4]=listFieldNull [value5]=listFieldName2 [value7]=listFieldCond (onClickList)="receiveFuncListData($event)" class="modal_app"></app-datalist-return-multiple>
        <app-modal-confirm *ngIf="loadModalComponent" class="modal_app"></app-modal-confirm>
        <app-modal-judge *ngIf="loadModalJudgeComponent" [items]=list [value1]=listTable [value2]=listFieldId [value3]=listFieldName [value4]=listFieldNull [value5]=listFieldType (onClickList)="receiveJudgeListData($event)" class="modal_app"></app-modal-judge>
    </div>

		</div>
		<div class="modal-footer">
			<!-- <button type="button"  class="btn btn btn-primary" (click)="submitModalForm()" *ngIf="loadModalComponent">ตกลง</button> -->
     	<button type="button"  class="btn btn-warning" data-bs-dismiss="modal" (click)="closeModal()">ปิดหน้าจอ</button>
		</div>
	  </div>
	</div>
  </div>
</div>


<!--<script src="case-type.component.js"></script>-->
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
	<p style="color: gray">Please Wait. </p>
</ngx-spinner>

