<style>

</style>
<app-menu></app-menu>
<div style="width:100%;height:100%;" id="div-wraper" >
	<div class="content" style="padding:10px;" >
		<div class="card card-info" style="box-shadow: none !important;">
			<!-- <div class="" style="height:40px;border-radius: 4px;border:1px solid #17a2b8 !important;background-color: #e1f6f9;">
				<app-case-header *ngIf="programName"></app-case-header>
			</div> -->
      <div class="programName" style="float:left;margin-top:6px;"><i class="fa fa-folder-open-o" style="font-size:24px;margin-left:8px;"></i><span style="font-size: 16px;margin-left:5px;">{{programName}}</span></div>
		</div>


		<div class="card " style="box-shadow: none !important;padding:5px;">
			<table width="100%"  border="0" cellspacing="2" cellpadding="2" class="form_table">
				<!-- <tr>
					<td colspan="2" align="left" style="height:40px;">
						<div style="float:left;margin-left:8px;margin-top:5px;">ต้องการค้นหาข้อมูลตาม ....&nbsp;</div>
					</td>
				</tr> -->

        <!-- <tr>
					<td  align="right">ความ :&nbsp;</td>
					<td  align="left">
            <div style="float: left;margin-left:10px;margin-top:4px;">ความ :&nbsp;</div>
						<div style="float: left;">
              <ng-select [(ngModel)]="result.case_type" style="width:100px;"  [ngModelOptions]="{standalone: true}"  #sCaseType>
								<ng-option *ngFor="let getData of getCaseType" [value]=getData.fieldIdValue >{{getData.fieldNameValue}}</ng-option>
							</ng-select>
						</div>
					</td>
				</tr> -->
        <tr>
          <td align="right">ผู้เดินหมาย :&nbsp;</td>
          <td align="left">
            <div style="float:left;">
              <input [readonly]="this.userData.userLevel!='A' && this.userData.userLevel!='S'" type="text" [(ngModel)]="off_id" (change)="tabChangeSelect('off_id',getOff,$event,1)"
                class="form-control" style="width:80px;text-align:center;float:left;"
                onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46" >
            </div>
            <div style="float:left;margin-left:2px;">
              <ng-select [(ngModel)]="result.off_id" style="width:250px;"
                (change)="tabChangeSelect('off_id',getOff,$event,2)" #sOff [readonly]="this.userData.userLevel!='A' && this.userData.userLevel!='S'">
                <ng-option *ngFor="let getData of getOff" [value]=getData.fieldIdValue>{{getData.fieldNameValue}}
                </ng-option>
              </ng-select>
            </div>
          </td>
          <!-- <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td> -->
        </tr>
        <tr>
					<td  width="35%" align="right" ><div style="margin-top:4px;">วันที่จ่ายหมายตั้งแต่วันที่ :&nbsp;</div></td>
					<td  align="left">
						<div style="float:left;"><input   type="text" [(ngModel)]="result.sdate" class="form-control jcalendar sdate" #sdate (click)="directiveDate(sdate.value,'sdate')" style="width:120px;height:28px;text-align:center;"></div>
                    	<div style="float:left;margin-left:8px;margin-top:5px;"><i class="fa fa-calendar" style="font-size: 16px;" onClick="$('.sdate').focus();"></i></div>
						<div style="float:left;margin-left:8px;margin-top:5px;color:blue;">&nbsp;ถึง&nbsp;</div>
						<div style="float:left;"><input   type="text" [(ngModel)]="result.edate" class="form-control jcalendar edate"  #edate (click)="directiveDate(edate.value,'edate')" style="width:120px;height:28px;text-align:center;"></div>
           	<div style="float:left;margin-left:8px;margin-top:5px;"><i class="fa fa-calendar" style="font-size: 16px;" onClick="$('.edate').focus();"></i></div>
            <!-- <div style="float:left;margin-left:8px;margin-top:5px;color:red;" *ngIf="result.stype==2">&nbsp;<b>*สำหรับคดีรับฟ้องต่างจังหวัด</b>&nbsp;</div> -->
          </td>
				</tr>
        <tr>
					<td  width="260" align="right" ><div style="margin-top:4px;">วันที่บันทึกผู้เดินหมาย :&nbsp;</div></td>
					<td  align="left">
						<div style="float:left;"><input   type="text" [(ngModel)]="result.sdate3" class="form-control jcalendar sdate3" #sdate3 (click)="directiveDate(sdate3.value,'sdate3')" style="width:120px;height:28px;text-align:center;"></div>
                    	<div style="float:left;margin-left:8px;margin-top:5px;"><i class="fa fa-calendar" style="font-size: 16px;" onClick="$('.sdate3').focus();"></i></div>
						<div style="float:left;margin-left:8px;margin-top:5px;color:blue;">&nbsp;ถึง&nbsp;</div>
						<div style="float:left;"><input   type="text" [(ngModel)]="result.edate3" class="form-control jcalendar edate3"  #edate3 (click)="directiveDate(edate3.value,'edate3')" style="width:120px;height:28px;text-align:center;"></div>
           	<div style="float:left;margin-left:8px;margin-top:5px;"><i class="fa fa-calendar" style="font-size: 16px;" onClick="$('.edate3').focus();"></i></div>
          </td>
				</tr>
        <tr>
					<td  width="260" align="right" ><div style="margin-top:4px;">วันที่บันทึกผลหมายตั้งแต่วันที่ :&nbsp;</div></td>
					<td  align="left">
						<div style="float:left;"><input   type="text" [(ngModel)]="result.sdate2" class="form-control jcalendar sdate2" #sdate2 (click)="directiveDate(sdate2.value,'sdate2')" style="width:120px;height:28px;text-align:center;"></div>
                    	<div style="float:left;margin-left:8px;margin-top:5px;"><i class="fa fa-calendar" style="font-size: 16px;" onClick="$('.sdate2').focus();"></i></div>
						<div style="float:left;margin-left:8px;margin-top:5px;color:blue;">&nbsp;ถึง&nbsp;</div>
						<div style="float:left;"><input   type="text" [(ngModel)]="result.edate2" class="form-control jcalendar edate2"  #edate2 (click)="directiveDate(edate2.value,'edate2')" style="width:120px;height:28px;text-align:center;"></div>
           	<div style="float:left;margin-left:8px;margin-top:5px;"><i class="fa fa-calendar" style="font-size: 16px;" onClick="$('.edate2').focus();"></i></div>
            <!-- <div style="float:left;margin-left:8px;margin-top:5px;color:red;" *ngIf="result.stype==2">&nbsp;<b>*สำหรับคดีรับฟ้องต่างจังหวัด</b>&nbsp;</div> -->
          </td>
				</tr>
        <!-- <tr>
          <td align="right" >ผู้พิพากษาที่ตัดสิน :&nbsp;</td>
      <td align="left">
        <div style="float: left;">
          <input  name="judge_id" type="text" id="judge_id" [(ngModel)]="result.judge_id" maxlength="5" (change)="tabChangeInput('judge_id',$event)"  class="form-control" style="width:80px;height:28px;"/>
        </div>
        <div style="float: left;margin-left:2px;">
            <input  name="judge_name" type="text"  id="judge_name"  [(ngModel)]="result.judge_name" value=""  class="form-control" style="width:220px;height:28px;" readonly>
        </div>
        <div style="float: left;margin-left:2px;margin-top:4px;">
          <i class='far fa-list-alt iDep' style="font-size: 20px;cursor:pointer;" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="loadTableComponent(1);"></i>
        </div>
      </td>
        </tr> -->

            <tr>
              <td  align="right">&nbsp;</td>
              <td  align="left">
                <div style="float: left;">
                  <input type="radio" name="notice_flag" [(ngModel)]="result.notice_flag" [value]="0" style="width:15px;height:15px;margin-top:5px;"/>
                </div>
                <div style="float: left;margin-left:5px;margin-top:4px;">หมายทั้งหมด</div>
                <div style="float: left;margin-left:8px;">
                  <input type="radio" name="notice_flag" [(ngModel)]="result.notice_flag" [value]="1" style="width:15px;height:15px;margin-top:5px;"/>
                </div>
                <div style="float: left;margin-left:5px;margin-top:4px;">หมายที่ยังไม่รายงานผล</div>
                <div style="float: left;margin-left:8px;">
                  <input type="radio" name="notice_flag" [(ngModel)]="result.notice_flag" [value]="2" style="width:15px;height:15px;margin-top:5px;"/>
                </div>
                <div style="float: left;margin-left:5px;margin-top:4px;">หมายที่รายงานผลแล้ว</div>
               </td>

            </tr>


			</table>
      <div class="card-footer" >
        <button type="button" class="btn btn-lg" style="margin-left:20%;background-color: rgb(241, 133, 93);" (click)="sendToServer()"><img src="assets/images/upload-mobile.png" width="20" height="20" align=absmiddle><span style="text-align: right;">ส่งหมายที่เลือกขึ้นมือถือ</span> </button>
				<button type="button" class="btn btn-primary " style="margin-left:5px;"  (click)="searchData()">ค้นหา</button>
				<button type="button" class="btn btn-primary" style="margin-left:5px;" (click)="groupData()" >สร้างกลุ่มหมายที่เลือก</button>
				<button type="button" class="btn btn-danger" style="margin-left:5px;" (click)="cancelData()" >ยกเลิกกลุ่มหมายที่เลือก</button>
        <button type="button" class="btn btn-info" style="margin-left:5px;" (click)="copyData()"  >สำเนาข้อมูลให้หมายที่เลือก</button>
        <button type="reset" class="btn btn-warning" style="margin-left:5px;color:white;" onclick="location.reload()">ล้างหน้าจอ</button>
        <button type="button" class="btn" style="margin-left:5px;background-color:rgb(219, 90, 219);" (click)="downloadFormServer()" ><img src="assets/images/download-mobile.png" width="20" height="20" align=absmiddle><span style="text-align: right;">ดึงหมายที่เลือกลงระบบศาล</span></button>
		    <!-- <button type="button" class="btn btn-success" style="margin-left:5px;" (click)="exportAsXLSX()" >ส่งออกเป็น Excel</button> -->
			</div>
      <label style="float: left;margin-left:5px;margin-top:5px;color:rgb(241, 133, 93);">ส่งหมายขึ้น = ถ้ารหัสหมายบนมือถือได้มีการลงผลแล้วจะไม่สามารถเอารหัสหมายนั้นขึ้นไปแทนได้ ต้องยกเลิกผลหมายบนมือถือก่อน</label>
      <label style="float: left;margin-left:5px;color: rgb(219, 90, 219);">ดึงหมายลง = รหัสหมายที่เอาลงต้องมีการรายงานผลแล้วเท่านั้นถึงจะเอาลงได้ และจะเอาข้อมูลผลหมายลงมาแทนข้อมูลผลหมาย(ถ้ามี)ในระบบศาลเลย</label>
    </div>

<div class="card " style="box-shadow: none !important;padding:5px;width:165%;">
  <table width="100%"  border="0" cellspacing="2" cellpadding="0" class="form_table">
    <!-- <tr>
      <td width="40%" align="left" style="height:40px;">
        <div style="float:left;margin-left:8px;margin-top:5px;">รวม &nbsp;</div>
        <div style="float: left;">
          <input  type="text" id="" [(ngModel)]="numCase"    class="form-control" style="text-align:center;width:60px;border:1px solid red;color:red;height:25px;"/>
        </div>
        <div style="float: left;margin-left:5px;margin-top:5px;">คดี </div>
        <div style="float: left;margin-left:4px;">
          <input  type="text" id=""  [(ngModel)]="numLit"   class="form-control" style="text-align:center;width:60px;border:1px solid blue;color:blue;height:25px;"/>
        </div>
        <div style="float: left;margin-left:5px;margin-top:5px;">คน </div>
      </td>
    </tr> -->
    <tr>
      <td width="40%" align="left">
        <table datatable  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-sm row-border hover" style="width:100%;">
          <thead>
            <tr *ngIf="dataSearch?.length != 0"><th colspan="26"><div style="float: left;margin-left:5px;margin-top:4px;">เรียงที่อยู่ตาม</div>
              <div style="float:left;margin-left: 5px;">
              <ng-select [(ngModel)]="result.order_name" style="width:110%;" (change)="changeOrderName($event)"  [ngModelOptions]="{standalone: true}"  #sOrderName>
                <ng-option *ngFor="let getData of getOrderName" [value]=getData.id >{{getData.text}}</ng-option>
              </ng-select>
            </div></th></tr>
            <tr>

                  <th width="3.5%" >ผลการ<br>นำเข้า/ส่งออก</th>
									<th width="2%" class="no-sort"><span *ngIf="this.sumClick">{{sumClick}}</span><input type="checkbox" name="all" [(ngModel)]="masterSelect" value="m1" (change)="checkUncheckAll(this.dataSearch,'masterSelect','edit3500')"></th>
									<th width="3%" >กลุ่มการ<br>จ่ายหมาย</th>
									<th width="2%" >ลำดับ</th>
									<th width="3%" >ผลหมาย</th>
                  <th width="3%" >พิมพ์รูป</th>
                  <th width="3%" >พิมพ์รูปและแผนที่</th>
									<th width="3%" >พิมพ์ใบรับหมาย</th>
                  <th width="3%" >รูปภาพถ่าย</th>
                  <th width="3%" >รูปแผนที่</th>
                  <th width="4%" >รหัสหมาย</th>
                  <th width="5%" >ผู้รับหมาย</th>
                  <th width="5%" >ที่อยู่ผู้รับหมาย</th>
                  <th width="4%" >คดีดำศาลเดิม</th>
                  <th width="5%" >คดีหมายเลขดำที่</th>
                  <th width="5%" >คดีหมายเลขแดงที่</th>
                  <th width="4%" >วันที่จ่ายหมาย</th>
                  <th width="4%" >ประเภทหมาย</th>
                  <th width="5%" >คำสั่งหมาย</th>
                  <th width="4%" >วันที่ส่งผลหมาย</th>
                  <th width="4%" >ผลการส่งหมาย</th>
                  <th width="3%" >โดย</th>
                  <th width="8%" >เพิ่มเติม</th>
                  <th width="5%" >หมายเหตุการส่งหมาย</th>
                  <th width="4%" >สภาพภูมิลำเนา</th>
                  <th width="4%" >ผู้เดินหมาย</th>

            </tr>
          </thead>
          <tbody *ngIf="dataSearch?.length != 0">
            <tr *ngFor="let post of dataSearch;let i = index;">
              <!-- <td align="center"><a href="javascript:void(0)" (click)="goToPage(post.run_id)" style="color: red;">{{post.red_no}}</a></td> -->
              <td align="center"><span *ngIf="post.import == true || post.upload == true"><i class='fas fa-check' style='font-size:16px;color: #0099cc;'></i></span>
                <span *ngIf="post.import == false"><i class='fas fa-times' style='font-size:16px;color: #0099cc;'></i></span></td>
              <td align="center"><input type="checkbox"  [(ngModel)]="dataSearch[i].edit3500" (change)="isAllSelected(this.dataSearch,'masterSelect','edit3500')" ></td>
              <td align="center">{{post.cut_notice_group}}</td>
              <!-- <td align="center"><div style="height: 25px;width:35px;border-radius:4px;">{{post.notice_order}}</div></td> -->
              <td align="center"><div style="float: left;">
                <input  name="notice_order" type="text" id="notice_order" [(ngModel)]="dataSearch[i].notice_order" maxlength="5" class="form-control" (keyup)="OrderData(i)" style="width:50px;height:28px;text-align:center;"/>
              </div></td>
              <td align="center"><span *ngIf="post.send_by"><a href="javascript:void(0)" (click)="printReport(1,post.notice_running,post.send_item,post.type,post.send_by,post.pay_name)"><img src="assets/images/printer.png" width="15px" height="15px"></a></span></td>
              <td align="center"><span *ngIf="post.send_item"><a href="javascript:void(0)" (click)="printReport(2,post.notice_running,post.send_item,2,post.send_by,post.pay_name)"><img src="assets/images/printer.png" width="15px" height="15px"></a></span></td>
              <td align="center"><span *ngIf="post.send_item"><a href="javascript:void(0)" (click)="printReport(2,post.notice_running,post.send_item,1,post.send_by,post.pay_name)"><img src="assets/images/printer.png" width="15px" height="15px"></a></span></td>
              <td align="center"><span *ngIf="post.notice_running"><a href="javascript:void(0)" (click)="goToPage2(post.notice_running,post.notice_number,post.notice_type_name)"><img src="assets/images/printer.png" width="15px" height="15px"></a></span></td>
              <td align="center"><span *ngIf="post.img_attach || post.import == true"><a href="javascript:void(0)" (click)="goToPic('att_'+post.notice_running+'.jpg')" ><img src="assets/images/address.png" width="35px" height="35px"></a> </span></td>
              <td align="center"><span *ngIf="post.map_attach || post.import == true"><a href="javascript:void(0)" (click)="goToPic('map_'+post.notice_running+'.jpg')" ><img src="assets/images/map.png" width="35px" height="35px"></a> </span></td>
              <td align="center"><a href="javascript:void(0)" (click)="goToPage(post.notice_running)">{{post.notice_number}}</a></td>
              <td align="center">{{post.noticeto_name}}</td>
              <td align="center">{{post.addr_order}}</td>
              <td align="center">{{post.old_court_no}}</td>
              <td align="center">{{post.black}}</td>
              <td align="center">{{post.red}}</td>
              <td align="center">{{post.send_date}}</td>
              <td align="center">{{post.notice_type_name}}</td>
              <td align="center">{{post.send_by_name}}</td>
              <td align="center">{{post.rcvnotice_date}}</td>
              <td align="center">{{post.notice_result_desc}}</td>
              <td align="center">{{post.notice_result_by_name}}</td>
              <td align="center">{{post.rcv_name}}</td>
              <td align="center">{{post.unsend}}</td>
              <td align="center">{{post.address_style}}</td>
              <td align="center">{{post.off_name}}</td>
              <!-- <td align="center"><span *ngIf="post.file_name"><a href=""><i class='fas fa-file-alt' style='font-size:16px;color: #0099cc;'></i></a></span></td> -->
              <!-- <td style="padding-left:8px;">{{post.name}}</td> -->
            </tr>
          </tbody>
          <tbody *ngIf="dataSearch?.length == 0">
            <tr>
              <td colspan="26" style="color:red;text-align: center;" class="no-data-available">###### ไม่พบข้อมูล #######</td>
              <td style="display:none;"></td>
              <td style="display:none;"></td>
              <td style="display:none;"></td>
              <td style="display:none;"></td>

              <td style="display:none;"></td>
              <td style="display:none;"></td>
              <td style="display:none;"></td>
              <td style="display:none;"></td>
              <td style="display:none;"></td>

              <td style="display:none;"></td>
              <td style="display:none;"></td>
              <td style="display:none;"></td>
              <td style="display:none;"></td>
              <td style="display:none;"></td>

              <td style="display:none;"></td>
              <td style="display:none;"></td>
              <td style="display:none;"></td>
              <td style="display:none;"></td>
              <td style="display:none;"></td>

              <td style="display:none;"></td>
              <td style="display:none;"></td>
              <td style="display:none;"></td>
              <td style="display:none;"></td>
              <td style="display:none;"></td>

              <td style="display:none;"></td>


            </tr>
          </tbody>
        </table>

      </td>
    </tr>
  </table>
  </div>
</div>

<!-- Modal -->

<div class="modal fade" data-refresh="true"  role="dialog" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width:100%;height:100%;">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title text-danger" id="exampleModalLabel"></h5>
		  <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
		  <button type="button" class="btn btn-warning" style="display:none;" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="loadMyModalComponent();" #openbutton></button>
		</div>
		<div class="modal-body" >

				<input type="hidden" name="table_name" id="table_name">
				<input type="hidden" name="field_id" id="field_id">
				<input type="hidden" name="field_name" id="field_name">
				<div style="min-height: 100px;max-height: 480px;overflow: auto;">
				<!-- <app-datalist-return *ngIf="loadComponent" [items]=list [value1]=listTable [value2]=listFieldId [value3]=listFieldName  (onClickList)="receiveFuncListData($event)" class="modal_app"></app-datalist-return> -->
				<app-modal-confirm *ngIf="loadModalComponent" class="modal_app"></app-modal-confirm>
        <app-modal-judge *ngIf="loadModalJudgeComponent" [items]=list [value1]=listTable [value2]=listFieldId [value3]=listFieldName [value4]=listFieldNull [value5]=listFieldType (onClickList)="receiveJudgeListData($event)" class="modal_app"></app-modal-judge>
			</div>

		</div>
		<div class="modal-footer">
			<!-- <button type="button"  class="btn btn btn-primary" (click)="submitModalForm()" *ngIf="loadModalComponent">ตกลง</button> -->
     	<button type="button"  class="btn btn-warning" data-bs-dismiss="modal" (click)="closeModal()">ปิดหน้าจอ</button>
		</div>
	  </div>
	</div>
  </div>
</div>


<!--<script src="case-type.component.js"></script>-->
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
	<p style="color: gray">Please Wait. </p>
</ngx-spinner>

