<table width="100%"  border="0" cellspacing="2" cellpadding="0" class="form_table">      

    <tr>
        <td  align="right" valign="top" style="padding-top:4px;">ฐานความผิด :&nbsp;</td>
        <td  align="left" style="padding-right: 100px;padding-bottom: 2px;">
            <div style="float: left;">
                <textarea name="fact1" class="form-control" id="" style="width: 511px; height: 30px; line-height: 18px;overflow-wrap: break-word;"></textarea>
            </div>
           
            <div style="float: right;"><button type="button" class="btn btn-warning" style="margin-left:5px;margin-top:7px;width:70px;"  >ยกเลิก</button></div>
            <div style="float: right;"><button type="button" class="btn btn-success" style="margin-top:7px;width:70px;"  >จัดเก็บ</button></div>
        </td>
    </tr>  
    <tr>
        <td  align="right">ประเภท :&nbsp;</td>
        <td  align="left" style="padding-right: 100px;">
            <div style="float:left;">
                <ng-select  style="width:180px;" #sPersType>
                    <ng-option *ngFor="let getData of getPersType" [value]=getData.fieldIdValue>{{getData.fieldNameValue}}</ng-option>
                  </ng-select>
            </div>
            <div style="float: left;margin-top:5px;margin-left:12px;">ลำดับที่ :&nbsp;</div>
            <div style="float: left;">
                <input  name="" type="text" id="" class="form-control" style="width:60px;height:28px;"/>
            </div>
            <div style="float: left;margin-left:2px;">
                <input  name="" type="text"  id="off_name" value=""   class="form-control" style="width:300px;height:28px;"/>
            </div>
            <div style="float: left;margin-left:2px;margin-top:1px;" >
                <i  class="far fa-list-alt" style="font-size: 20px;margin-left:2px;margin-top:2px;"></i>
            </div>
            <div style="float: right;"><button type="button" class="btn btn-primary" style="width:145px;"  >เพิ่มข้อมูล</button></div>
        </td>
    </tr> 
    <tr>
        <td  align="right">หมายจำคุกและกักขัง :&nbsp;</td>
        <td  align="left" style="padding-right: 100px;">
           
            <div style="float: left;">
                <input  name="" type="text" id="" class="form-control" style="width:60px;height:28px;"/>
            </div>
            <div style="float: left;margin-top:5px;margin-left:5px;">/&nbsp;</div>
            <div style="float: left;margin-left:3px;">
                <input  name="" type="text" id="" class="form-control" style="width:60px;height:28px;"/>
            </div>
            <div style="float: left;margin-left:6px;"><button type="button" class="btn btn-primary" style="margin-left:5px;"  >ค้นหา</button></div>
            <div style="float: left;margin-top:5px;margin-left:12px;">วันที่ออกหมาย :&nbsp;</div>
            <div style="float:left;"><input  name="" type="text"   value=""  class="form-control" style="width:120px;height:28px;"></div>
		    <div style="float:left;margin-left:8px;margin-top:5px;"><i class="fa fa-calendar" style="font-size: 16px;"></i></div>
            <div style="float: right;"><button type="button" class="btn btn-success" style="width:145px;"  >สำเนาข้อมูล</button></div>
        </td>
    </tr> 
    <tr>
        <td  align="right">
            <div style="float: right; margin-top: -4px;margin-right:2px;">
                <select name="xxx" id="xxxx"  style="height:24px !important;border-radius: 4px !important;border: 1px solid #ced4da;">
                    <option value="0" selected="" >----- เลือกประเภทหมาย ------</option>
                    <option value="9" >หมายขังระหว่างไต่สวนมูลฟ้องหรือพิจารณา</option>
                    <option value="10" >หมายขัง</option>
                    <option value="11" >หมายจำคุกระหว่างอุทธรณ์ฎีกา</option>
                    <option value="12" >หมายจำคุกเมื่อคดีถึงที่สุด</option>
                    <option value="13" >หมายกักขังระหว่างอุทธรณ์ฎีกา</option>
                    <option value="14" >หมายกักขังเมื่อคดีถึงที่สุด</option>
                    <option value="15" >หมายจำคุกและกักขังระหว่างอุทธรณ์ฎีกา</option>
                    <option value="16" >หมายจำคุกและกักขังเมื่อคดีถึงที่สุด</option>
                </select>
            </div>
            
        </td>
        <td  align="left" style="padding-right: 100px;">
           
            <div style="float: left;margin-left:0px;">
                <input  name="" type="text" id="" class="form-control" style="width:80px;height:28px;"/>
            </div>
            <div style="float: left;margin-top:5px;margin-left:5px;">/&nbsp;</div>
            <div style="float: left;margin-left:3px;">
                <input  name="" type="text" id="" class="form-control" style="width:80px;height:28px;"/>
            </div>
            <div style="float: left;margin-top:5px;margin-left:12px;">วันที่ออกหมาย :&nbsp;</div>
            <div style="float:left;"><input  name="" type="text"   value=""  class="form-control" style="width:120px;height:28px;"></div>
            <div style="float: left;margin-left:2px;margin-top:1px;" >
                <i  class="far fa-list-alt" style="font-size: 20px;margin-left:2px;margin-top:2px;"></i>
            </div>
            <div style="float: left;margin-top:5px;margin-left:12px;">คำพิพากษาศาล :&nbsp;</div>
            <div style="float:left;">
                <ng-select  style="width:180px;" #sAppeal>
                    <ng-option *ngFor="let getData of getAppeal" [value]=getData.fieldIdValue>{{getData.fieldNameValue}}</ng-option>
                  </ng-select>
            </div>
            <div style="float: right;"><button type="button" class="btn btn-info" style="width:145px;"  >พิมพ์หมายลงฟอร์ม</button></div>
        </td>
    </tr> 
    <tr>
        <td  align="right">เรือนจำ :&nbsp;</td>
        <td  align="left" style="padding-right: 100px;">

            <div style="float: left;margin-top:5px;">
                <input  name="radio_1" type="radio" id=""  style="width:15px;height:15px;"/>
            </div>
            <div style="float: left;margin-top:5px;margin-left:12px;">เรือนจำ</div>
            <div style="float: left;margin-top:5px;margin-left:12px;">
                <input  name="radio_1" type="radio" id=""  style="width:15px;height:15px;"/>
            </div>
            <div style="float: left;margin-top:5px;margin-left:12px;">สถานีตำรวจ </div>

            <div style="float: right;"><button type="button" class="btn btn-info" style="width:145px;margin-top:7px;"  >หมายกระดาษเปล่า</button></div>
        </td>
    </tr> 
    <tr>
        <td  align="right">&nbsp;</td>
        <td  align="left" style="padding-right: 100px;">

            <div style="float: left;">
                <input  name="" type="text" id="" class="form-control" style="width:60px;height:28px;"/>
            </div>
            <div style="float: left;margin-left:2px;">
                <input  name="" type="text"  id="off_name" value=""   class="form-control" style="width:300px;height:28px;"/>
            </div>
            <div style="float: left;margin-left:2px;margin-top:1px;" >
                <i  class="far fa-list-alt" style="font-size: 20px;margin-left:2px;margin-top:2px;"></i>
            </div>
            <div style="float: left;margin-left:5px;">
                <input  name="" type="text"  id="off_name" value=""   class="form-control" style="width:220px;height:28px;"/>
            </div>
            <div style="float: right;"><button type="button" class="btn btn-info" style="width:145px;display:table;margin-top:2px;"  >พิมพ์หมายหน้าหลัง</button></div>
        </td>
    </tr> 
    <tr>
        <td  align="right" valign="top" style="padding-top:4px;">ต้องตามกฎหมาย :&nbsp;</td>
        <td  align="left" style="padding:0px 100px 2px 0px" valign="top">
            <div style="float: left;">
                <textarea name="fact1" class="form-control" id="" style="width: 637px; height: 89px; line-height: 18px;overflow-wrap: break-word;"></textarea>
            </div>
            <div style="float: left;margin-left:2px;margin-top:1px;" >
                <i  class="far fa-list-alt" style="font-size: 20px;margin-left:2px;margin-top:2px;"></i>
            </div>
            <div style="float: left;margin-left:4px;margin-top:1px;" >
                <i class="fa fa-file-text-o" style="font-size:20px;color: green;cursor: pointer;" title="นำเข้าคำพิพากษาย่อ"></i>
            </div>
            <div style="float: right;">
                
                <button type="button" class="btn btn-info" style="width:145px;display:table;margin-top:2px;"  >พิมพ์หลังหมาย</button>
                <button type="button" class="btn btn-info" style="width:145px;display:table;margin-top:2px;"  >หลังหมาย(word)</button>
            </div>
           
        </td>
    </tr>  
    <tr>
        <td  align="right" valign="top" style="padding-top:4px;">เพิ่มเติม(พิมพ์ด้านหลังหมาย) :&nbsp;</td>
        <td  align="left" style="padding:0px 100px 2px 0px">
            <div style="float: left;">
                <textarea name="fact1" class="form-control" id="" style="width: 637px; height: 89px; line-height: 18px;overflow-wrap: break-word;"></textarea>
            </div>
            
        </td>
    </tr>
    <tr>
        <td  align="right" valign="top" style="padding-top:4px;">มาตรา :&nbsp;</td>
        <td  align="left" style="padding:0px 100px 2px 0px">
            <div style="float: left;">
                <textarea name="fact1" class="form-control" id="" style="width: 637px; height: 55px; line-height: 18px;overflow-wrap: break-word;"></textarea>
            </div>
            
        </td>
    </tr>
    <tr>
        <td  align="right" valign="top">
            <div style="float: right;margin-right:2px;">
                <input  name="" type="text" id="" class="form-control" style="width:60px;height:28px;"/>
            </div>
            <div style="float: right;margin-right:4px;margin-top:1px;">ให้จำคุก</div>
        </td>
        <td  align="left" style="padding-right: 100px;">
            <div style="float: left;">
                <textarea name="fact1" class="form-control" id="" style="width: 637px; height: 38px; line-height: 18px;overflow-wrap: break-word;"></textarea>
            </div>
            <div style="float: left;margin-left:2px;margin-top:1px;" >
                <i  class="far fa-list-alt" style="font-size: 20px;margin-left:2px;margin-top:2px;"></i>
            </div>
        </td>
    </tr>  
    <tr>
        <td  align="right" valign="top" >ให้จำคุก(เพิ่มเติม) :&nbsp;</td>
        <td  align="left" >
            <div style="float: left;">
                <input  name="" type="text" id="" class="form-control" style="width:556px;height:28px;"/>
            </div>
        </td>
    </tr>
   
    <tr>
        <td  align="right">นับตั้งแต่วันที่ :&nbsp;</td>
        <td  align="left" style="padding-right: 100px;">
            <div style="float:left;"><input  name="" type="text"   value=""  class="form-control" style="width:120px;height:28px;"></div>
		    <div style="float:left;margin-left:8px;margin-top:5px;"><i class="fa fa-calendar" style="font-size: 16px;"></i></div>
            <div style="float: left;margin-top:5px;margin-left:12px;">ต้องขังมาแล้ว :&nbsp;</div>
            <div style="float: left;margin-right:2px;">
                <input  name="" type="text" id="" class="form-control" style="width:73px;height:28px;"/>
            </div>
            <div style="float: left;margin-top:5px;margin-left:4px;">วัน</div>
            
        </td>
    </tr> 
    <tr>
        <td  align="right" valign="top" style="padding-top:4px;">หมายเหตุยกเลิกหมายเก่า :&nbsp;</td>
        <td  align="left" style="padding:0px 100px 2px 0px">
            <div style="float: left;">
                <textarea name="fact1" class="form-control" id="" style="width: 637px; height: 38px; line-height: 18px;overflow-wrap: break-word;"></textarea>
            </div>
            <div style="float: left;margin-left:2px;margin-top:1px;" >
                <i  class="far fa-list-alt" style="font-size: 20px;margin-left:2px;margin-top:2px;"></i>
            </div>
        </td>
    </tr>
    <tr>
        <td  align="right" >หมายเหตุ :&nbsp;</td>
        <td  align="left" style="padding:0px 100px 0px 0px">
            <div style="float: left;">
                <input  name="" type="text" id="" class="form-control" style="width:60px;height:28px;"/>
            </div>
            <div style="float: left;margin-left:2px;margin-top:1px;" >
                <i  class="far fa-list-alt" style="font-size: 20px;margin-left:2px;margin-top:1px;"></i>
            </div>
            <div style="float: left;margin-left:20px;margin-top:8px;"><input type="checkbox" name="x" style="height: 15px;width: 15px;"></div>
			<div style="float: left;margin-left:4px;margin-top:7px;">ยกเลิกหมาย</div>

        </td>
    </tr>  
    <tr>
        <td  align="right" >&nbsp;</td>
        <td  align="left" style="padding:0px 100px 0px 0px">
            <div style="float: left;">
                <div style="float: left;">
                    <textarea name="fact1" class="form-control" id="" style="width: 637px; height: 38px; line-height: 18px;overflow-wrap: break-word;"></textarea>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td  align="right" >&nbsp;</td>
        <td  align="left" style="padding:0px 100px 0px 0px">
            <div style="float: left;">
                <select name="remark1" id="remark1" style="height:24px !important;border-radius: 4px !important;border: 1px solid #ced4da;">
                    <option value="เมื่อจะครบกำหนดโทษที่แจ้งในหมายนี้ ให้ถามศาลว่าจะปล่อยหรือขังต่อไป">เมื่อจะครบกำหนดโทษที่แจ้งในหมายนี้ ให้ถามศาลว่าจะปล่อยหรือขังต่อไป</option>
                    <option value="เมื่อครบกำหนดโทษที่แจ้งในหมายนี้ ให้ปล่อยตัวไปทันที">เมื่อครบกำหนดโทษที่แจ้งในหมายนี้ ให้ปล่อยตัวไปทันที</option>
              </select>
            </div>
        </td>
    </tr>
    
    <tr>
        <td  width="440" align="right">&nbsp;</td>
        <td  align="left" style="padding:2px 0px 2px 0px;">
            <div style="border:1px solid #666666;width:85%;border-radius: 6px;padding:3px;">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="15%" align="right">ผู้พิมพ์ :&nbsp;</td>
                        <td width="45%">
                            <div style="float: left;">
                                <input  name="" type="text" id="" readonly class="form-control" style="width:200px;height:28px;"/>
                            </div>
                        </td>
                        <td width="12%" align="right" >วันที่พิมพ์ :&nbsp;</td>
                        <td width="28%">
                            <div style="float:left;"><input  name="" type="text"   value=""  class="form-control" style="width:120px;height:28px;"></div>
                            <div style="float:left;margin-left:8px;margin-top:5px;"><i class="fa fa-calendar" style="font-size: 16px;"></i></div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
